﻿@model Astaguru.Models.AdminCms.Artist
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Artist";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Artist", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                @*<div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">*@
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Artist</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        First Name <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.firstname, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFirstName", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.firstname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Last Name <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control col-md-7 col-xs-12", @id = "txtLastName", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.lastname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Profile <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Profile, new { @class = "form-control col-md-7 col-xs-12", @id = "txtProfile", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Profile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Picture <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Picture, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Picture, "", new { @class = "text-danger" })
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.artistid, new { id = "artistid" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })

                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>

                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Profile
                                    </th>
                                    <th>
                                        Picture
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.firstname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastname)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.Profile)*@
                                                @Html.Raw(item.Profile)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.Picture)*@
                                                <img src="~/@item.Picture" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditArtist", "AdminCms", new { id = item.artistid})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                               
                                                <a href="@Url.Action("DeleteArtist", "AdminCms", new { id = item.artistid })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                        <button type="button" class="btn ">
                                                            <i class="fa fa-close"></i>
                                                        </button>
                                                    </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")
<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>


<script type="text/javascript">

    $(function () {
        CKEDITOR.replace("txtProfile"); 
    });



    var id = $("#artistid").val();
    //alert(id)
    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#imgPreview').attr('src','/'+ $("#hdnImage").val());
    }

    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }
    })
</script>






