﻿@model Astaguru.Models.User
@{
    ViewBag.Title = "Admin | Bidrecorduserdetail";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>Sr No.</th>*@
                                    @*<th>Action</th>*@

                                    <th>
                                        User Id
                                    </th>
                                    <th>
                                        User Name
                                    </th>

                                    <th>
                                        Password
                                    </th>

                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>

                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        City
                                    </th>

                                    <th>
                                        State
                                    </th>

                                    <th>
                                        Zip
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        Telephone
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Mobile Number
                                    </th>
                                    <th>
                                        Registration Date
                                    </th>
                                    <th>
                                        Last Logged Date
                                    </th>

                                    <th>
                                        Visit
                                    </th>

                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">      
                                            <td>
                                                @Html.DisplayFor(modelItem => item.userid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.password)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.city)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.zip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BillingTelephone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegistrationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastLoggedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Visits)
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

