﻿@model Astaguru.Models.AdminCms.Category
@using System.Web.Optimization
@{
    ViewBag.Title = "Admin || Category";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main">
    <div class="" style="height:auto">
        <div class="clearfix"></div>

        @using (Html.BeginForm("Category", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Faq</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Category <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.category, new { @class = "form-control col-md-7 col-xs-12", @id = "txtHeading", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.categoryid, new { id = "categoryid" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }


                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>

                                    <th>
                                        Heading
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.category)
                                            </td>

                                            <td>
                                                <a href="@Url.Action("EditCategory", "AdminCms", new { id = item.categoryid})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                @*@Html.ActionLink("Edit", "EditOurProduct", new { id=item.Id})*@
                                                @*<a href="@Url.Action("DeleteHomeBanner", "Admin", new { id = item.Id })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                            <button type="button" class="btn ">
                                <i class="fa fa-close"></i>
                            </button>
                        </a>*@

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

@*<script src="~/Content/Admin/vendors/jquery/dist/jquery.min.js"></script>

    <script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
    <script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>*@
<!-- Date Picker -->
@*<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
    <link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />
    <script src="~/Content/Admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/AdminContent/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/vendors/datatable_alphabet_filter/dataTables.alphabetSearch.css" rel="stylesheet" />
    <script src="~/Content/Admin/vendors/datatable_alphabet_filter/dataTables.alphabetSearch.min.js"></script>*@


@*<script>
        var table = $('#datatable').DataTable({
            dom: 'Alfrtip',
            alphabetSearch: {
                column: 0
            }
        });
    </script>*@









