﻿@model Astaguru.Models.CMSPage
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || " + ViewBag.PageName;
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("CMSPage", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@ViewBag.PageName</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.PageId, new { id = "hdnPageId" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Display Order
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <button type="button" class='down_count btn btn-info' title='Down'><i class='fa fa-minus icon-minus'></i></button>
                                        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "counter", @id = "txtDisplayOrder", @autocomplete = "off" })
                                        <button type="button" class='up_count btn btn-info' title='Up'><i class='fa fa-plus icon-plus'></i></button>

                                    </div>
                                </div>

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.CMSId, new { id = "hdnCMSId" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }


                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        <input type="button" value="Back" title="View List" class="btn btn-dark" id="btnBack" style="display:none;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>Order</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.CMSPageList != null)
                                {
                                    foreach (var item in Model.CMSPageList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>                                       
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditCMSPage", "AdminCms", new { CMSId = item.CMSId})" ti title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteCMSPage", "AdminCms", new { id = item.PageId,CMSId=item.CMSId })" ti title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")
<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>
<!-- Date Picker -->
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />
<script>
    //using for ckeditor
    CKEDITOR.replace("txtDescription");

    $(document).ready(function () {
        $('button').click(function (e) {
            var button_classes, value = +$('.counter').val();
            button_classes = $(e.currentTarget).prop('class');
            if (button_classes.indexOf('up_count') !== -1) {
                value = (value) + 1;
            } else {
                value = (value) - 1;
            }
            value = value < 0 ? 0 : value;
            $('.counter').val(value);
        });
        $('.counter').click(function () {
            $(this).focus().select();
        });

    });


</script>

<style>
    .counter {
        width: 45px;
        border-radius: 0px !important;
        text-align: center;
    }

    .up_count {
        margin-bottom: 10px;
        margin-left: -4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .down_count {
        margin-bottom: 10px;
        margin-right: -4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
</style>
