﻿@model Astaguru.Models.AdminCms.CurrentVacancy
@{
    ViewBag.Title = "Admin || Current Vacancy";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("CurrentVacancy", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Faq</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                       Job Title  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Job_Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtJob_Title", @autocomplete = "off", @placeholder = "Job Title" })
                                        @Html.ValidationMessageFor(m => m.Job_Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Business Unit  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Business_Unit, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBusiness_Unit", @autocomplete = "off", @placeholder = "Business Unit" })
                                        @Html.ValidationMessageFor(m => m.Business_Unit, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Job_Responsibility <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Job_Responsibility, new { @class = "form-control col-md-7 col-xs-12", @id = "txtJob_Responsibility", @autocomplete = "off", @placeholder = "Job Responsibility"})
                                        @Html.ValidationMessageFor(m => m.Job_Responsibility, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Responsibilities  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Responsibilities, new { @class = "form-control col-md-7 col-xs-12", @id = "txtResponsibilities", @autocomplete = "off", @placeholder = "Responsibilities" })
                                        @Html.ValidationMessageFor(m => m.Responsibilities, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Functional Skills  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Functional_Skills, new { @class = "form-control col-md-7 col-xs-12", @id = "txtFunctional_Skills", @autocomplete = "off", @placeholder = "Functional Skills" })
                                        @Html.ValidationMessageFor(m => m.Functional_Skills, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Technical skills  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Technical_skills, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTechnical_skills", @autocomplete = "off", @placeholder = "Technical skills" })
                                        @Html.ValidationMessageFor(m => m.Technical_skills, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Qualification  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Qualification, new { @class = "form-control col-md-7 col-xs-12", @id = "txtQualification", @autocomplete = "off", @placeholder = "Qualification" })
                                        @Html.ValidationMessageFor(m => m.Qualification, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Salary  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control col-md-7 col-xs-12", @id = "txtSalary", @autocomplete = "off", @placeholder = "Salary" })
                                        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Experience  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Experience, new { @class = "form-control col-md-7 col-xs-12", @id = "txtExperience", @autocomplete = "off", @placeholder = "Experience" })
                                        @Html.ValidationMessageFor(m => m.Experience, "", new { @class = "text-danger" })
                                    </div>
                                </div>



                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.Id, new { id = "hdnId" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }


                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Job Title
                                    </th>
                                    <th>
                                        Business Unit
                                    </th>
                                    <th>
                                        Job Responsibility
                                    </th>
                                    <th>
                                        Responsibilities
                                    </th>
                                    <th>
                                        Functional Skills
                                    </th>
                                    <th>
                                        Technical skills
                                    </th>
                                    <th>
                                        Qualification
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Job_Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Business_Unit)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Job_Responsibility)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Responsibilities)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Functional_Skills)
                                            </td>

                                            <td>
                                                @Html.Raw(item.Technical_skills)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qualification)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Salary)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Experience)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditCurrentVacancy", "AdminCms", new { Id = item.Id})" ti title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteCurrentVacancy", "AdminCms", new { id = item.Id})" ti title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>


<script>

    $(function () {
        CKEDITOR.replace("txtResponsibilities")
        CKEDITOR.replace("txtFunctional_Skills")
        CKEDITOR.replace("txtTechnical_skills")
    });

</script>


