﻿@model Astaguru.Models.Notification
@using System.Web.Optimization
@{
    ViewBag.Title = "Admin || GetNotificationListByUserId";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>User Notification List</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="ln_solid"></div>                  

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>                               
                                    <th>
                                        username
                                    </th>
                                    <th>
                                        device_id
                                    </th>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Description
                                    </th>

                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.device_id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.subject)
                                                
                                            </td>

                                            <td>
                                                    @*@Html.DisplayFor(modelItem => item.description)*@
                                                @Html.Raw(item.description)
                                                </td>

                                      
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>


@Scripts.Render("~/Admin/FormValidation")


