﻿@model Astaguru.Models.Auction
@using System.Web.Optimization


@{
    ViewBag.Title = "Admin | GetProxyBidPaintings";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("GetProxyBidPaintings", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Get Proxy Painting</h2>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>
                                        Thumbnail
                                    </th>
                                    <th>
                                        Product Id
                                    </th>
                                    <th>
                                        Current Bid Price(Rs.)
                                    </th>
                                    <th>
                                        Current Bid Price($)
                                    </th>

                                    <th>
                                        Proxy Amount (Rs)
                                    </th>
                                    <th>
                                        Proxy Amount ($)
                                    </th>
                                    <th>
                                        Artist Name
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        Lot No
                                    </th>                 
                                                       
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                        
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.thumbnail)*@
                                                <img src="http://www.astaguru.com/@item.thumbnail" style="height:150px;width:150px;" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.productid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pricers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.priceus)
                                            </td>
                                   
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProxyAmt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProxyAmtus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.artist)
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>   
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>                                     
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

