﻿@model Astaguru.Models.AdminCms.MediaNews
@using System.Web.Optimization
@{
    ViewBag.Title = "Media News";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("MediaNews", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Media News</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                            

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtHeading", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.NewsId, new { id = "hdnId" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Type <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
                                         {   new SelectListItem {Text="Image",Value="Image" },
                                             new SelectListItem {Text="Url", Value="Url" }}, "Select Type", new { @class = "form-control", title = "Select Type" })
                                        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="divImage" style="display:none;">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUpload", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                        @Html.HiddenFor(m => m.NewsId, new { id = "hdnId" })
                                    </div>
                                </div>
                                <div class="form-group" id="divUrl" style="display:none;">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                      Video Url <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control col-md-7 col-xs-12", @id = "txtUrl", @autocomplete = "off", @placeholder = "https://www.google.co.in/" })
                                        @Html.ValidationMessageFor(m => m.VideoUrl, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Created By <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control col-md-7 col-xs-12", @id = "txtcreatedby", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.CreatedBy, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.NewsId, new { id = "hdnId" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDescription", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        @*<label style="float:right">(Use imgRight, imgLeft, imgFull class for Images )</label>*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Post Date <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control col-md-7 col-xs-12 calender", @id = "txtPostDate", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.NewsId, new { id = "hdnId" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="Back" id="btnBack" class="btn btn-dark" title="Back">*@
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>                                
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Image/Url
                                    </th>
                                    <th>
                                        CreatedBy
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Post Date
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                    
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @if (item.Type == "Image")
                                                {
                                                    <img src="~/Content/uploads/MediaNews/@item.Image" style="height:100px;width:150px;" />
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.VideoUrl)
                                                }
        
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditMediaNews", "AdminCms", new { NewsId = item.NewsId})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeleteMediaNews", "AdminCms", new { NewsId = item.NewsId })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>
<!-- Date Picker -->
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script>
    $(function () {
        CKEDITOR.replace("txtDescription",
  { filebrowserImageUploadUrl: '/Upload.ashx' }); //path to "Upload.ashx"
    });

    //calender
    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    });

    function ReadOnlyFun(e) {
        e.preventDefault();
    }


    var type = $('#Type').val();
    if (type == 'Image') {
        $('#divImage').show();
        $('#divUrl').hide();
    }
    else if (type == 'Url') {
        $('#divUrl').show();
        $('#divImage').hide();
    }
    else {
        $('#divUrl').hide();
        $('#divImage').hide();
    }

    $('#Type').change(function () {
        var type = $(this).val();
        if (type == 'Image') {
            $('#txtUrl').rules('remove', 'required');
            $('#fileUpload').rules('add', 'required');

            $('#divImage').show();
            $('#divUrl').hide();
        }
        else if (type == 'Url') {
            $('#fileUpload').rules('remove', 'required');
            $('#txtUrl').rules('add', 'required');

            $('#divUrl').show();
            $('#divImage').hide();
        }
        else {
            $('#divUrl').hide();
            $('#divImage').hide();
        }
    })

    $('.StoreDDLValueinhihhenfields').click(function () {
        //debugger;
        var type = $('#Type').val();
        var id = $("#hdnId").val();
        if (id == undefined && id == 0) {
            if (type != undefined && type != '') {
                if (type == 'Image') {
                    $('#txtUrl').rules('remove', 'required');
                    $('#fileUpload').rules('add', 'required');
                }
                else if (type == 'Url') {
                    $('#fileUpload').rules('remove', 'required');
                    $('#txtUrl').rules('add', 'required');
                }
            }
        } else {
            $('#fileUpload').rules('remove', 'required');
            $('#txtUrl').rules('remove', 'required');
        }
        //var imgVal = $("#hdnImage").val();
        //if (imgVal != undefined && imgVal != "") {
        //    $('#fileUploadImage').rules('remove', 'required')
        //}
    })

    var id = $("#hdnId").val();
    if (id != undefined && id != 0) {
        var type = $('#Type').val();
        if (type == 'Image') {
            $('#imgPreview').show();
            $('#imgPreview').attr('src', '/Content/uploads/MediaNews/' + $("#hdnImage").val());
        }
    }


    //$('#btnBack').click(function () {
    //    window.location.href = "/Admin/MediaCenter";
    //})
</script>

<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>

