﻿@model Astaguru.Models.Notification
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || Notification";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Notification</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                

                                @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Device_id <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.userid, Model.devicelist, "Select device_id", new { @id = "ddldevicelis", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.userid, new { id = "hdnuserid" })
                                    </div>
                                </div>*@



                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Subject <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.subject, new { @class = "form-control col-md-7 col-xs-12", @id = "txtSubject", @autocomplete = "off" })
                                        @*@Html.ValidationMessageFor(m => m.subject, "", new { @class = "text-danger" })*@
                                        <span id="ErrorName1" class="ErrorValidation">Subject is required.</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtdescription", @autocomplete = "off", style = "height:150px;" })
                                        @*@Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })*@
                                        <span id="ErrorName2" class="ErrorValidation">Description is required.</span>
                                    </div>
                                </div>


                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <input type="submit" value="Send Notification" id="btnSendNotification" class="btn btn-success StoreDDLValueinhihhenfields" title="Send Notification" name="btnAction">
                                    </div>
                                </div>


                                @*<div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.notificationid, new { id = "notificationid" })

                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th><input type="checkbox" id="checkAll" /></th>
                                    <th>
                                        username
                                    </th>
                                    <th>
                                        device_id
                                    </th>
                                
                                  
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>
                                                <input type="checkbox" class="checkBox" value="@item.userid" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.device_id)
                                            </td>
                                           
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>*@

                                            <td>
                                                <a href="@Url.Action("GetNotificationListByUserId", "AdminCms", new { userid = item.userid})" >
                                                    <button type="button" class="btn" title="View">
                                                        View
                                                    </button>
                                                </a>
                                         
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        
                    </div>
                </div>
              
            </div>
            
        </div>
        
     
    </div>
</div>

<script type="text/javascript">

        $(document).ready(function () {
            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#btnSendNotification").click(function () {
               

                    var Name1 = $("#txtSubject").val();
                    var Description = $("#txtdescription").val();

                    var Blank1 = false;
                    var message = "";

                    if (Name1 == '') {
                        $('#ErrorName1').css('display', 'block');
                        Blank1 = true;
                    }
                    else {
                        $('#ErrorName1').css('display', 'none');

                    }


                    if (Description == '') {
                        $('#ErrorName2').css('display', 'block');
                        Blank1 = true;
                    }
                    else {
                        $('#ErrorName2').css('display', 'none');
                    }

                    if (Blank1) {

                        return false;

                    }
                    else {
                        //return true;
                    }
                



                var selectedIDs = new Array();
                var subject = $("#txtSubject").val();
                var description = $("#txtdescription").val();
             

                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });


                selectedIDs.push(subject, description);
                selectedIDs = JSON.stringify(selectedIDs);
              
                var options = {};
                options.url = "/AdminCms/SendNotification";
                options.type = "POST";

                options.data = selectedIDs;

                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    alert(msg);
                };
                options.error = function () {
                    //alert("Error while sending Notification!");
                    console.log("");
                };
                $.ajax(options);

            });

    });


</script>


@Scripts.Render("~/Admin/FormValidation")

<style>
      .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>
<script>

</script>