﻿@model Astaguru.Models.Auction
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || PaintingAndProduct";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("PaintingAndProduct", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Painting And Product</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Select Auction <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Auctionid, Model.AuctionNameList, "Select Auction", new { @id = "ddllist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.Auctionid, new { id = "hdnAuctionId" })

                                    </div>

                                    @*<a href="@Url.Action("ShowDatabyAuction", "AdminCms", new { auctionId = Model.Auctionid})" title=" Show Details">
                                            <button type="button" class="btn btn-primary">
                                                Show Details
                                            </button>
                                        </a>*@

                                    <button type="button" id="ShowDetails" class="btn btn-primary">
                                        Show Details
                                    </button>


                                    @*<input type="submit" value="Show Details" id="ShowDetails" class="btn btn-success StoreDDLValueinhihhenfields" title="Show Details"  name="btnnew">*@

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Reference <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.reference, new { @class = "form-control col-md-7 col-xs-12", @id = "txtReference", @autocomplete = "off", @placeholder = "Reference" })
                                        @Html.ValidationMessageFor(m => m.reference, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Title <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.title, new { @class = "form-control col-md-7 col-xs-12", @id = "txtTitle", @autocomplete = "off", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Antique crafts Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.Prdescription, new { @class = "form-control col-md-7 col-xs-12", @id = "txtAntiquedescription", @autocomplete = "off", @style = "height:250px" })
                                        @Html.ValidationMessageFor(m => m.Prdescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Description <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextAreaFor(m => m.description, new { @class = "form-control col-md-7 col-xs-12", @id = "txtdescription", @autocomplete = "off", @style = "height:250px" })
                                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Artist <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.artistid, Model.ArtistList, "Select Artist", new { @id = "ddlArtistlist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.artistid, new { id = "hdnartistid" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Category <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.categoryid, Model.CategoryList, "Select Category", new { @id = "ddlCategorylist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.categoryid, new { id = "hdncategoryid" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Style <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.styleid, Model.StyleList, "Select Style", new { @id = "ddlStylelist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.styleid, new { id = "hdnstyleid" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Medium <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.mediumid, Model.MediumList, "Select Medium", new { @id = "ddlMediumlist", @class = "form-control col-md-7 col-xs-12" })
                                        @Html.HiddenFor(m => m.mediumid, new { id = "hdnmediumid" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Size <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.productsize, new { @class = "form-control col-md-7 col-xs-12", @id = "txtSize", @autocomplete = "off", @placeholder = "Size" })
                                        @Html.ValidationMessageFor(m => m.productsize, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Price(Rs.) <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.pricers, new { @class = "form-control col-md-7 col-xs-12", @id = "txtpricers", @autocomplete = "off", @placeholder = "Price (Rs.)" })
                                        @Html.ValidationMessageFor(m => m.pricers, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.image, "", new { @class = "text-danger" })
                                        <img id="imgPreview" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Thumbnail <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.thumbnail, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.thumbnail, "", new { @class = "text-danger" })
                                        <img id="imgPreview1" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Small Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.smallimage, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadsmallimage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.smallimage, "", new { @class = "text-danger" })
                                        <img id="imgPreview2" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        List Image <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.listImage, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadlistImage", @autocomplete = "off", @type = "file" })
                                        @Html.ValidationMessageFor(m => m.listImage, "", new { @class = "text-danger" })
                                        <img id="imgPreview3" style="display:none;height:100px;width:150px;" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Date  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.productdate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtDate", @autocomplete = "off", @placeholder = "Date" })
                                        @Html.ValidationMessageFor(m => m.productdate, "", new { @class = "text-danger" })
                                        <label>(MM/DD/YYYY)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Bid Closing time  <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.BidclosingtimeAdmin, new { @class = "form-control col-md-7 col-xs-12", @id = "txtBidclosingtime", @autocomplete = "off", @placeholder = "Bid Closing time" })
                                        @Html.ValidationMessageFor(m => m.BidclosingtimeAdmin, "", new { @class = "text-danger" })
                                        <label>(YYYY-MM-DD HH:MM:SS PM or AM)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Estimate in Rs <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.collectors, new { @class = "form-control col-md-7 col-xs-12", @id = "txtcollectors", @autocomplete = "off", @placeholder = "Estimate in Rs" })
                                        @Html.ValidationMessageFor(m => m.collectors, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Estimate in Us$ <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.estamiate, new { @class = "form-control col-md-7 col-xs-12", @id = "txtestamiate", @autocomplete = "off", @placeholder = "Estimate in US" })
                                        @Html.ValidationMessageFor(m => m.estamiate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        isInternational <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.isInternational, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="1" },
                                             new SelectListItem {Text="No", Value="0" }}, "None", new { @class = "form-control", title = "ddlisInternational" })
                                        @Html.ValidationMessageFor(m => m.isInternational, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        isInternationalGst <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.isInternationalGST, new { @class = "form-control col-md-7 col-xs-12", @id = "txteisInternationalGST", @autocomplete = "off", @placeholder = "isInternationalGST" })
                                        @Html.ValidationMessageFor(m => m.isInternationalGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        isusedGood <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.astaguruPrice, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="1" },
                                             new SelectListItem {Text="No", Value="0" }}, "None", new { @class = "form-control", title = "ddlastaguruPrice" })
                                        @Html.ValidationMessageFor(m => m.astaguruPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        usedGoodPercentage <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.usedGoodPercentage, new { @class = "form-control col-md-7 col-xs-12", @id = "txtusedGoodPercentage", @autocomplete = "off", @placeholder = "usedGoodPercentage" })
                                        @Html.ValidationMessageFor(m => m.usedGoodPercentage, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        nonExportable <span class="required" style="color:red">*</span>
                                    </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                              @Html.DropDownListFor(m => m.nonExportable, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="1" },
                                             new SelectListItem {Text="No", Value="0" }}, "None", new { @class = "form-control", title = "ddlnonExportable" })
                                              @Html.ValidationMessageFor(m => m.nonExportable, "", new { @class = "text-danger" })
                                          </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Gst (PrVat) <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.PrVat, new { @class = "form-control col-md-7 col-xs-12", @id = "txtPrVat", @autocomplete = "off", @placeholder = "GSt(PrVat)" })
                                        @Html.ValidationMessageFor(m => m.PrVat, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Abrasion <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Abrasion, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="1" },
                                             new SelectListItem {Text="No", Value="0" }}, "None", new { @class = "form-control", title = "ddlAbrasion" })
                                        @Html.ValidationMessageFor(m => m.Abrasion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Blistering <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Blistering, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlBlistering" })
                                        @Html.ValidationMessageFor(m => m.Blistering, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Canvas / Paper Deterioration <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Deterioration, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlCanvas" })
                                        @Html.ValidationMessageFor(m => m.Deterioration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Cracking <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Cracking, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlCracking" })
                                        @Html.ValidationMessageFor(m => m.Cracking, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Crease <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Crease, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlCrease" })
                                        @Html.ValidationMessageFor(m => m.Crease, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Cupping <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Cupping, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlCupping" })
                                        @Html.ValidationMessageFor(m => m.Cupping, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Damage in Stretcher <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Damage, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlDamage" })
                                        @Html.ValidationMessageFor(m => m.Damage, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Discoloration <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Discoloration, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlDiscoloration" })
                                        @Html.ValidationMessageFor(m => m.Discoloration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Flaking <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Flaking, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlFlaking" })
                                        @Html.ValidationMessageFor(m => m.Flaking, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Fungus <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Fungus, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlFungus" })
                                        @Html.ValidationMessageFor(m => m.Fungus, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Scratches <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Scratches, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlScratches" })
                                        @Html.ValidationMessageFor(m => m.Scratches, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Restoration <span class="required" style="color:red;">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:9px;">
                                        @Html.DropDownListFor(m => m.Restoration, new List<SelectListItem>
                                         {   new SelectListItem {Text="Yes",Value="Yes" },
                                             new SelectListItem {Text="No", Value="No" }}, "None", new { @class = "form-control", title = "ddlRestoration" })
                                        @Html.ValidationMessageFor(m => m.Restoration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Condition details <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Conditiondetails, new { @class = "form-control col-md-7 col-xs-12", @id = "txtConditiondetails", @autocomplete = "off", @placeholder = "Condition details" })
                                        @Html.ValidationMessageFor(m => m.Conditiondetails, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                       Ownerid <span class="required" style="color:red">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.TextBoxFor(m => m.Ownerid, new { @class = "form-control col-md-7 col-xs-12", @id = "txtOwnerid", @autocomplete = "off", @placeholder = "Ownerid" })
                                        @Html.ValidationMessageFor(m => m.Ownerid, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.productid, new { id = "hdnproductid" })
                                            @Html.HiddenFor(m => m.imgPreview, new { @id = "hdnImage" })
                                            @Html.HiddenFor(m => m.imgPreview1, new { @id = "hdnthumbimage" })
                                            @Html.HiddenFor(m => m.imgPreview2, new { @id = "hdnsmallimage" })
                                            @Html.HiddenFor(m => m.imgPreview3, new { @id = "hdnlistimg" })
                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>
                                        Auction Name
                                    </th>
                                    <th>
                                        Reference
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Antique crafts  Description
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Artist
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Style
                                    </th>
                                    <th>
                                        Medium
                                    </th>
                                    <th>
                                        Size
                                    </th>
                                    <th>
                                        Price (Rs)
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Thumbnail
                                    </th>
                                    <th>
                                        Small Image
                                    </th>
                                    <th>
                                        List Image
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Bid Closing time
                                    </th>
                                    <th>
                                        Estimate in Rs
                                    </th>
                                    <th>
                                        Estimate in Us$
                                    </th>
                                    <th>
                                        isInternational
                                    </th>
                                    <th>
                                        isInternationalGST
                                    </th>
                                    <th>
                                        isusedGood
                                    </th>
                                    <th>
                                        usedGoodPercentage
                                    </th>
                                    <th>
                                        nonExportable
                                    </th>
                                    <th>
                                        Gst(PrVat)
                                    </th>

                                    <th>
                                        Ownerid
                                    </th>
                                    

                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Auctionname)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title)
                                            </td>
                                            <td>
                                                @Html.Raw(item.Prdescription)
                                            </td>
                                            <td>
                                                @Html.Raw(item.description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.artist)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.category)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.style)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.medium)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.productsize)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pricers)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.image)*@
                                                <img src="~/paintings/@item.image" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.thumbnail)*@
                                                <img src="~/paintings/@item.thumbnail" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.smallimage)*@
                                                <img src="~/paintings/@item.smallimage" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.listImage)*@
                                                <img src="~/paintings/listview/@item.listImage" style="height:100px;width:150px;" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BidclosingtimeAdmin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.collectors)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.estamiate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isInternational)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.isInternationalGST)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.astaguruPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.usedGoodPercentage)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.nonExportable)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrVat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ownerid)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditPaintingAndProduct", "AdminCms", new { id = item.productid})" title="Edit">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>

                                                <a href="@Url.Action("DeletePaintingAndProduct", "AdminCms", new { id = item.productid })" title="Delete" onclick="return confirm('Are you sure you want to delete this Record?')">
                                                    <button type="button" class="btn ">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<script type="text/javascript" src="~/Content/Admin/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">

    //$(function () {
    //    CKEDITOR.replace("txtAntiquedescription");
    //    CKEDITOR.replace("txtdescription");
    //});

</script>

<script type='text/javascript'>
    $(function () {
        var hiddenauctionval;
        $('#ddllist').change(function () {

            var x = $(this).val();

            hiddenauctionval = $('#hdnAuctionId').val(x);


        });

    });


</script>

<script type='text/javascript'>


    var id = $("#hdnproductid").val();
    // alert(id)
    if (id != undefined && id != 0) {
        $('#imgPreview').show();
        $('#imgPreview1').show();
        $('#imgPreview2').show();
        $('#imgPreview3').show();

        $('#imgPreview').attr('src','/paintings/' + $("#hdnImage").val());
        $('#imgPreview1').attr('src','/paintings/' + $("#hdnthumbimage").val());
        $('#imgPreview2').attr('src','/paintings/' + $("#hdnsmallimage").val());
        $('#imgPreview3').attr('src', '/paintings/listview/' + $("#hdnlistimg").val());
    }


    $('.StoreDDLValueinhihhenfields').click(function () {
        var imgVal = $("#hdnImage").val();
        var imgVal1 = $("#hdnthumbimage").val();
        var imgVal2 = $("#hdnsmallimage").val();
        var imgVal3 = $("#hdnlistimg").val();
        if (imgVal != undefined && imgVal != "") {
            $('#fileUploadImage').rules('remove', 'required')
        }
        if (imgVal1 != undefined && imgVal1 != "") {
            $('#fileUploadthumbnail').rules('remove', 'required')
        }
        if (imgVal2 != undefined && imgVal2 != "") {
            $('#fileUploadsmallimage').rules('remove', 'required')
        }
        if (imgVal3 != undefined && imgVal3 != "") {
            $('#fileUploadlistImage').rules('remove', 'required')
        }
    })


    $('#ShowDetails').click(function () {
        debugger;
        hiddenauctionval = $('#hdnAuctionId').val();
        var url = "/AdminCms/ShowDatabyAuction?auctionId=" + hiddenauctionval;
        $.ajax({
            type: "Post",
            @*url: "@Url.Action("ShowDatabyAuction", "AdminCms")",*@
            url: url,
            //data: { auctionId: hiddenauctionval },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                //console.log("success " + response.d);
                window.location.href = "/AdminCms/ShowDatabyAuction?auctionId=" + hiddenauctionval;
            },
            failure: function (response) {
                console.log("failed " + response.d);
            }
        })




    });
</script>



