﻿@model Astaguru.Models.Auction
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin | ProxyBidApproval";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm("ProxyBidApproval", "AdminCms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Proxy Bid Approval</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                <div class="ln_solid"></div>

                                @Html.HiddenFor(m => m.proxyid, new { id = "proxyid" })
                                @*<div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        @if (ViewBag.ActionType == "Update")
                                        {
                                            <input type="submit" value="Update" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                            @Html.HiddenFor(m => m.styleid, new { id = "styleid" })

                                        }
                                        else
                                        {
                                            <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction">
                                        }

                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                  
                                    <th>Action</th>
                                    <th>Sr No.</th>

                                    <th>
                                        Proxyid
                                    </th>
                                    <th>
                                        Userid
                                    </th>
                                    <th>
                                        User Name
                                    </th>

                                    <th>
                                         Name
                                    </th>

                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Auction Name
                                    </th>
                                    <th>
                                        Artist Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                       reference
                                    </th>
                                    <th>
                                       Title
                                    </th>

                                    <th>
                                        Thumbnail
                                    </th>
                                    <th>
                                        Proxy Amount(Rs.)
                                    </th>
                                    <th>
                                        Proxy Amount(Us $)
                                    </th>
                                    <th>
                                        Proxy Status
                                    </th>
                                    <th>
                                        Confirmed By
                                    </th>
                                    <th>
                                        Confirmed Date
                                    </th>
                                 

                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                         
                                            <td>
                                                <a href="@Url.Action("AcceptProxy", "AdminCms", new { id = item.proxyid})" title="Accept bid" onclick="return confirm('Are you sure you want to Accept Proxy?')">
                                                    <button type="button" class="btn btn-success">
                                                        Accept bid
                                                    </button>
                                                </a>
                                                @*@Html.ActionLink("Edit", "EditOurProduct", new { id=item.Id})*@
                                                <a href="@Url.Action("RejectProxy", "AdminCms", new { id = item.proxyid })" Reject bid="Delete" onclick="return confirm('Are you sure you want to Reject Proxy?')">
                                                    <button type="button" class="btn btn-primary">
                                                        Reject bid
                                                    </button>
                                                </a>

                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Sr)</td>
                                            <td>@Html.DisplayFor(modelItem => item.proxyid)</td>
                                            <td>@Html.DisplayFor(modelItem => item.userid)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Auctionname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.artist)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctiondate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.thumbnail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProxyAmt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProxyAmtus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConfirmedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConfirmedDt)
                                            </td>                                        
                                        
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")


<script>
    //showing default 25 rows in datatable

    $(document).ready(function () {
        $('#datatable').dataTable({
            "iDisplayLength": 25
        })
    });
</script>


