﻿@model Astaguru.Models.Auction
@using System.Web.Optimization
@{
    ViewBag.Title = "SendEmailWinner";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="right_col" role="main" style="min-height:0px!important;">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Winner List</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Invoice Start <span class="required" style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Invoice_start, new { @class = "form-control col-md-7 col-xs-12", @id = "txtInvoice_start", @autocomplete = "off" })
                                    @*@Html.ValidationMessageFor(m => m.Invoice_start, "", new { @class = "text-danger" })*@
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Invoice Series Start No. <span class="required" style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Invoice_start_No, new { @class = "form-control col-md-7 col-xs-12", @id = "txtInvoice_start_No", @autocomplete = "off" })
                                    @*@Html.ValidationMessageFor(m => m.Invoice_start_No, "", new { @class = "text-danger" })*@
                                    <span id="ErrorName1" class="ErrorValidation">Invoice Series is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Invoice Date <span class="required" style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Invoice_Date, new { @class = "form-control col-md-7 col-xs-12 calender", @id = "txtInvoice_Date", @autocomplete = "off" })
                                    @*@Html.ValidationMessageFor(m => m.Invoice_Date, "", new { @class = "text-danger" })*@
                                    <span id="ErrorName2" class="ErrorValidation">Invoice Date is required.</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <input type="submit" value="Send Email" id="btnSendEmail" class="btn btn-success StoreDDLValueinhihhenfields" title="Send Email" name="btnAction">
                                    <input type="submit" value="Send Email perfoma" id="btnPerformInvoice" class="btn btn-success StoreDDLValueinhihhenfields" title="Send Email perfoma" name="btnActionperform">
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        }

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    @*<th>Sr No.</th>*@
                                    @*<th>Action</th>*@

                                    <th><input type="checkbox" id="checkAll" /></th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                    <th>
                                        Address1
                                    </th>

                                    <th>
                                        Address2
                                    </th>
                                    <th>
                                        city
                                    </th>

                                    <th>
                                        state
                                    </th>
                                    <th>
                                        country
                                    </th>
                                    <th>
                                        zip
                                    </th>

                                    <th>
                                        telephone
                                    </th>

                                    <th>
                                        email
                                    </th>
                                    <th>
                                        image
                                    </th>
                                    <th>
                                        reference
                                    </th>
                                    <th>
                                        Artistname
                                    </th>
                                    <th>
                                        title
                                    </th>
                                    <th>
                                        medium
                                    </th>
                                    <th>
                                        productsize
                                    </th>
                                    <th>
                                        pricers
                                    </th>
                                    <th>
                                        priceus
                                    </th>
                                    <th>
                                        Auctionname
                                    </th>
                                    <th>
                                        AuctionDate
                                    </th>
                                    <th>
                                        UserId
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        PrVat
                                    </th>


                                </tr>
                            </thead>

                            <tbody>

                                @if (Model.GridList != null)
                                {
                                    foreach (var item in Model.GridList)
                                    {
                                        <tr class="counter">
                                            <td>
                                                <input type="checkbox" class="checkBox"  value="@item.productid" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fullAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.shortAddress)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.city)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.country)
                                            </td>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.zip)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.telephone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.image)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reference)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.artist)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.medium)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.productsize)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.pricers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.priceus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Auctionname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.auctiondate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.userid)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.mobile)

                                            </td>
                                         
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrVat)
                                            </td>
                                          
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script src="~/Content/Admin/ckeditor/ckeditor.js?@DateTime.Now.Millisecond"></script>
<!-- Date Picker -->
<script src="@Url.Content("~/Content/Admin/datepicker/jquery-ui.js")"></script>
<link href="@Url.Content("~/Content/Admin/datepicker/jquery-ui.css")" rel="stylesheet" />

<script type="text/javascript">

        $(document).ready(function () {
            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#btnSendEmail").click(function () {
                var selectedIDs = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/AdminCms/SendEmail";
                options.type = "POST";
                options.data = JSON.stringify(selectedIDs);
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    alert(msg);
                };
                options.error = function () {
                    console.log("");
                };
                $.ajax(options);

            });
       
        });
</script> 

<script>

    $("#btnPerformInvoice").click(function () {

        
        var Invoice = $("#txtInvoice_start_No").val();
        var Date = $("#txtInvoice_Date").val();

        var Blank1 = false;
        var message = "";

        if (Invoice == '' || Invoice==0) {
            $('#ErrorName1').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorName1').css('display', 'none');

        }


        if (Date == '') {
            $('#ErrorName2').css('display', 'block');
            Blank1 = true;
        }
        else {
            $('#ErrorName2').css('display', 'none');
        }

        if (Blank1) {

            return false;

        }
        else {
            //return true;
        }


        debugger;
        var selectedIDs = new Array();
        var Invoice_start = $("#txtInvoice_start").val();
        var Invoice_No = $("#txtInvoice_start_No").val();
        var date = $("#txtInvoice_Date").val();

        $('input:checkbox.checkBox').each(function () {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        selectedIDs.push(Invoice_start, Invoice_No, date);

        var options = {};
        options.url = "/AdminCms/SendEmailWithPerformaInvoice";
        options.type = "POST";
        options.data = JSON.stringify(selectedIDs);
        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function (msg) {
            alert(msg);
        };
        options.error = function () {
            console.log("");
        };
        $.ajax(options);

    });
</script>

<script>
    $(function () {
        $('.calender').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
    });

    function ReadOnlyFun(e) {
        e.preventDefault();
    }
</script>

<style>
    /* MODIFIED DATE PICKER */
    .ui-datepicker {
        width: 250px !important;
        padding: 2px !important;
        font-size: 14px !important;
    }

        .ui-datepicker table {
            margin: 0 !important;
        }

        .ui-datepicker .ui-widget-header {
            background: #04869a !important;
            /*color: #fff;*/
            font-weight: normal;
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        margin: 0px 4px !important;
        font-size: 13px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #04869a !important;
        color: #fff !important;
        border: 1px solid #04869a !important;
    }
</style>

<style>
    .ErrorValidation {
        display: none;
        color: #dc3545 !important;
        margin-bottom: 10px;
    }
</style>


