﻿@model Astaguru.Models.Video
@using System.Web.Optimization

@{
    ViewBag.Title = "Admin || StartAuction";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Start Auction</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @if (TempData["Message"] != null)
                            {
                                if (TempData["Message"].ToString() == "success")
                                {
                                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }

                                else if (TempData["Message"].ToString() == "warning")
                                {
                                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                                else if (TempData["Message"].ToString() == "error")
                                {
                                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @TempData["Message1"].ToString()
                                    </div>
                                }
                            }

                            <br>
                            <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                <div class="ln_solid"></div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                        <input type="submit" value="Submit" id="btnsumbit" class="btn btn-success StoreDDLValueinhihhenfields" title="Submit" name="btnAction" onclick="return confirm('Are you sure you want to start Auction?')">


                                        <input type="reset" value="Cancel" id="btnreset" class="btn btn-primary" title="Cancel">
                                        @*<input type="button" value="View List" title="View List" class="btn btn-dark" id="btnviewlist">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/Admin/FormValidation")

<script>
    $(document).ready(function () {
        $("#btnsumbit").click(function () {
            $.ajax({
                type: 'GET',
                url: '/AdminCms/StartAuctionnew',
                contentType: "application/json; charset=utf-8",
                data: "",
                success: function (response) {
                    console.log("success " + response.d);
                },
                failure: function (response) {
                    console.log("failed " + response.d);
                }
            })
        });
    });
</script>

