﻿@model Astaguru.Models.Login

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="right_col" role="main" style="min-height: 1500.99px;">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update Profile</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <div id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left">



                            <div class="col-md-offset-2 col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Name <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.Name, new { id = "txtname", @class = "form-control col-md-7 col-xs-12", autocomplete = "off" })


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Emailid <span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.Emailid, new { id = "txtemailid", @class = "form-control col-md-7 col-xs-12", autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Mobileno<span class="required" style="color: red;">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">

                                        @Html.TextBoxFor(x => x.Mobileno, new { id = "txtmobileno", @class = "form-control col-md-7 col-xs-12", maxlength = "10", autocomplete = "off" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="text-align: center;">
                                        @Html.HiddenFor(x => x.Id, new { id = "txtid" })
                                        <button type="button" class="btn btn-success" id="UpdateDetails">Update</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/Admin/Resource/Js/AdminUpdateprofile.js?@DateTime.Now.Millisecond"></script>