﻿@{
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    double topFiveBidRs = Model.pricers;
    double topFiveBidUs = Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmount(Model.pricers, 1));
    int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

}

<div id="container">

    <!-- Modal -->
    <div class="modal fade" id="ProxyBid_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title sbold uppercase" id="exampleModalCenterTitle">Enter Your Proxy Bid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-cross"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-groupX">
                            <label for="recipient-name" class="col-form-label">My Maximum Bid (proxy)</label>
                            <div class="input-group grpwith_bdr">
                                <input type="text" class="form-control" id="txtProxy">
                                <div class="input-group-prepend">
                                    <span class="input-group-text radius_left_no form_min_width" id="txtProxy1">
                                        @if (currency == 1)
                                        {@Html.Raw("₹");
                                        }
                                        else if (currency == 2)
                                        { @Html.Raw("$");
                                        }
                                        else
                                        {
                                            @Html.Raw("₹");
                                        }
                                    </span>
                                </div>
                            </div><!-- input-group -->
                            <span id="errProxy" style="color:red; font-size: 12px;font-weight: 500;"></span>
                        </div>

                        <div class="or_text"><h5>Or</h5></div>

                        <div class="proxybid_price_list">
                            <label for="recipient-name" class="col-form-label">Next Valid Bid</label>
                            <ul>
                                @{topFiveBidRs = Model.pricers;
                                topFiveBidUs = Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);}
                                @if (currency == 1)
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidRs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</label></div></li>
                                    }
                                }
                                else if (currency == 2)
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidUs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidUs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidUs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>$ @Astaguru.Services.Common.DollerFormat(topFiveBidUs.ToString())</label></div></li>
                                    }

                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidRs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</label></div></li>
                                    }
                                }


                                @*<li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice2' name='RadioPrice'><label class='custom-control-label' for='RadioPrice2'>₹ 62,767</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice3' name='RadioPrice'><label class='custom-control-label' for='RadioPrice3'>₹ 69,044</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice4' name='RadioPrice'><label class='custom-control-label' for='RadioPrice4'>₹ 75,948</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice5' name='RadioPrice'><label class='custom-control-label' for='RadioPrice5'>₹ 83,543</label></div></li>*@
                            </ul>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn_black" id="btnProxy"><span>Submit</span></button>
                        </div>
                    </form>

                    <div class="form_terms">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check01">
                            <label class="custom-control-label" for="check01">I Agree with the Terms & Conditions</label>
                        </div>

                        <h6>If placing a proxy Bid. Enter the max amount you would be writing to bid upto.</h6>

                        <p>
                            <a href="#" class="medium_weight">My Profile Page</a> - To set your Bidding  Nickname. You may submit a bid
                            @if (currency == 1)
                            {
                                <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</span>
                                <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString()" />
                            }
                            else if (currency == 2)
                            {
                                <span class="black medium_weight"> $ @Astaguru.Services.Common.DollerFormat(usdNextValidPrice.ToString())</span>
                                <input type="hidden" id="hiddenPrice" value="@usdNextValidPrice" />
                            }
                            else
                            {
                                <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</span>
                                <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString()" />
                            }
                            (next incremental value)
                        </p>
                        <div class="hrline"></div>
                        <h6 class="notetext">When you enter a bid, you have agreed to the conditions for sale, <a href="#" class="medium_weight">click here</a> to read the conditions for sale</h6>
                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

</div>