﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int userid = Convert.ToInt32(Session["userid"]);
    int currency = Convert.ToInt32(Session["GetCurrency"]);
}
<!DOCTYPE html>

<html>
<head>
    @*<meta http-equiv="refresh" content="600">*@
    <meta name="viewport" content="width=device-width" />
    @*<title>AstaGuru Online Auction House - Modern Indian Art & More.</title>
        <meta name="description" content="India's premium auction house for Modern Indian Art, Contemporary Art, Fine Art, Antiques & Collectibles, Sculptures, Jewellery, Watches & Vintage Cars" />*@
    @RenderSection("metatags", required: false)
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">

   
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/style_user.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
   

    <script src="~/Content/js/modernizr.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/jquery.time-to.js"></script>
    <script>
        $(document).ready(function () {

            var isUsername = $('#hiddenUsername').val();

            if (isUsername != '') {
                $('#loginBtn').hide();
                $('#layUser').show();
                $('#lblUsername').html($('#hiddenUsername').val());
                $('#logoutBtn').show();
            }
            else {
                $('#loginBtn').show();
                $('#layUser').hide();
                $('#logoutBtn').hide();

            }

        });
    </script>

    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "2sXAt1P8cT20VR", domain: "astaguru.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=2sXAt1P8cT20VR" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
    <!-- Facebook Pixel Code -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1087717314580538', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1087717314580538&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!-- Global site tag (gtag.js) - Google Ads: 942532584 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-942532584"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-942532584');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69753043-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-69753043-1');
    </script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>
    <div id="divLoaderMaster" class="page_loader" style="display:none">
        <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
    </div>
    <input type="hidden" id="hiddenbaseUrlPath" value="@baseUrlPath" />
    <input type="hidden" id="hiddenUserId" value="@Session["userid"]" />
    <input type="hidden" id="hiddenUsername" value="@Session["username"]" />
    <input type="hidden" id="hiddenconfirmbid" value="@Session["confirmbid"]" />
    <input type="hidden" id="hiddenapplyforbid" value="@Session["applyforbid"]" />
    <input type="hidden" id="hiddenMobileVerified" value="@Session["MobileVerified"]" />
    <input type="hidden" id="hiddenEmailVerified" value="@Session["EmailVerified"]" />
    <input type="hidden" id="hiddenCurrency" value="@currency" />
    <input type="hidden" id="hiddenBidLimit" value="@Session["BidLimit"]" />
    <input type="hidden" id="hiddenBidCountry" value="@Session["BidCountry"]" />
    <input type="hidden" id="hiddenIsOldUser" value="@Session["isOldUser"]" />



    <div id="header">
        <div class="overlay" id="overlay">
            <nav class="overlay-menu">
                <div class="menu_drop">
                    <ul class="nav_auction">
                        @*<li><a href="@baseUrlPath/Home/CurrentAuction">Live Auction</a></li>*@
                        <li><a href="@baseUrlPath/LiveAuction">Live Auction</a></li>
                        <li><a href="@baseUrlPath/UpcomingAuctions">Upcoming Auctions</a></li>
                        <li><a href="@baseUrlPath/PastAuctions">Past Auctions</a></li>
                    </ul>
                    <ul class="over_nav sidebar-menu">
                        <li class="subnav">
                            <a href="#"><i class="icon-about"></i> About Astaguru</a>
                            <ul class="sidebar-submenu">
                                <li><a href="@baseUrlPath/AboutUs">About us</a></li>
                                <li><a href="@baseUrlPath/Service">Services</a></li>
                                <li><a href="@baseUrlPath/TermsAndConditions">Terms & Conditions</a></li>
                                <li><a href="@baseUrlPath/Careers">Careers</a></li>
                            </ul>
                        </li>

                        <li><a href="@baseUrlPath/Departments"><i class="icon-department"></i> Departments</a></li>
                        <li><a href="@baseUrlPath/Valuation"><i class="icon-valuation"></i> Valuation</a></li>
                        <li class="subnav">
                            <a href="#"><i class="icon-buy"></i> Buying & Selling</a>
                            <ul class="sidebar-submenu">
                                <li><a href="@baseUrlPath/howtobuy">How To Buy</a></li>
                                <li><a href="@baseUrlPath/HowToSell">How to Sell</a></li>
                            </ul>
                        </li>
                        <li><a href="@baseUrlPath/ContactUs"><i class="icon-contact"></i> Contact</a></li>
                    </ul>
                </div>
                <div class="social_header">
                    <p>Get social with us</p>
                    <ul>
                        <li data-toggle="tooltip" data-placement="top" title="Facebook"><a href="https://www.facebook.com/Astaguru-Auction-House-375561749218131/?fref=ts" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li data-toggle="tooltip" data-placement="top" title="Twitter"><a href="https://twitter.com/astagurutweets" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="https://in.pinterest.com/astaguru/" target="_blank"><i class="icon-pinterest"></i></a></li>
                        <li data-toggle="tooltip" data-placement="top" title="Instagram"><a href="https://www.instagram.com/astaguru/" target="_blank"><i class="icon-instagram"></i></a></li>
                        <li data-toggle="tooltip" data-placement="top" title="YouTube"><a href="https://www.youtube.com/channel/UCmTqSUMAHV5l0mACoK72t7g" target="_blank"><i class="icon-youtube"></i></a></li>
                    </ul>
                </div><!-- social_header -->
            </nav>
        </div>
        <div class="header_inner">
            <div id="logo">
                <a href="@baseUrlPath/Home/Home"><img src="~/Content/images/logo.png" /></a>
            </div><!-- logo -->
            <ul class="navigation">
                @*<li><a href="@baseUrlPath/Home/CurrentAuction">Live Auction</a></li>*@
                <li><a href="@baseUrlPath/LiveAuction">Live Auction</a></li>
                <li><a href="@baseUrlPath/UpcomingAuctions">Upcoming Auctions</a></li>
                <li><a href="@baseUrlPath/PastAuctions">Past Auctions</a></li>
            </ul>
            <ul class="right_icons">
                <li><a href="javascript:avoid(0)" class="search_toggle"><i class="icon-search"></i></a></li>

                @if (userid > 0)
                {
                    <li>
                        <a href="javascript:avoid(0)" id="after_login_toggle" class="user_click_drop"><i class="icon-user"></i> <span id="lblUsername"></span></a>
                        <ul class="after_login_dropdown" id="after_login_dropdown">
                            <li><a href="@baseUrlPath/Home/myProfile?userid=@userid">My Account</a></li>
                            @*<li><a href="javascript:avoid(0)" class="border_0">Logout</a></li>
                            <li><a href="@baseUrlPath/Home/MyAuctionGallary">My Auction Gallery</a></li>
                            <li><a href="@baseUrlPath/Home/MyPurchase?userid=@userid">My Purchase</a></li>*@
                            <li id="logoutBtn"><a href="javascript:avoid(0)">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li id="loginBtn"><a href="#" data-toggle="modal" data-target="#LoginForm"><i class="icon-user"></i></a></li>

                }




                @*<li id="loginBtn"><a href="#" data-toggle="modal" data-target="#LoginForm"><i class="icon-user"></i></a></li>
                    <li id="logoutBtn"><a href="javascript:avoid(0)"><i class="icon-cross"></i></a></li>
                    <li id="layUser" style="display:none;color:white"><span id="lblUsername"></span></li>*@
                <li class="button_container" id="toggle">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </li>
                <div class="search_overlay"></div>
                <div class="search_dropdown">
                    <div class="header_inner">
                        <input type="text" placeholder="Search..." class="searchfield" id="txtArtistSearch" />
                        <button class="btn_search"><i class="icon-search"></i></button>
                    </div>
                </div><!-- search_dropdown -->
            </ul>
        </div><!-- header inner -->
    </div><!-- header -->
    <!-- Modal -->
    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-cross"></i></span>
                    </button>
                </div>
                <div class="modal-body signform">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="" class="form-control" placeholder="Email Or Username" id="txtUsername">
                            <span id="ErrEmailId" style="color:red;"></span>
                        </div><!-- col -->
                        <div class="col-sm-12 extra-margin-top-30">
                            <input type="password" name="" class="form-control" placeholder="Password" id="txtPassword">
                            <span id="ErrPassword" style="color:red"></span>
                        </div><!-- col -->
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnSubmit"><span>Login</span></button>
                        </div><!-- col -->
                    </div><!-- row -->

                    <div class="row align-items-center modal_footer_text">
                        <div class="col-xs-6 col-sm-6 extra-margin-top-30">
                            <a href="javascript:void(0);" class="pwd_password" id="btnForgotPassword">Forgot Password?</a>
                        </div><!-- col -->
                        <div class="col-xs-6 col-sm-6 extra-margin-top-30">
                            <a href="@baseUrlPath/Home/registration" class="create_acc">Create New Account</a>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->


    <div class="modal fade" id="ForgotPasswordForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-cross"></i></span>
                    </button>
                </div>
                <div class="modal-body signform">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="" class="form-control" placeholder="Email" id="txtFUsername">
                            <span id="ErrFEmailId" style="color:red;"></span>
                        </div><!-- col -->

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnGetPassword"><span>Get Password</span></button>
                        </div><!-- col -->

                        <span id="SuccessFmsg" style="color: green; display: block; text-align: left"></span>
                        <span id="SuccessFEmsg" style="color: red; display: block; text-align: left"></span>
                    </div><!-- row -->
                    @*<div class="row align-items-center modal_footer_text">
                            <div class="col-xs-6 col-sm-6 extra-margin-top-30">
                                <a href="#" class="pwd_password">Forgot Password?</a>
                            </div><!-- col -->
                            <div class="col-xs-6 col-sm-6 extra-margin-top-30">
                                <a href="@baseUrlPath/Home/registration" class="create_acc">Create New Account</a>
                            </div><!-- col -->
                        </div><!-- row -->*@

                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="SessionExpired" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Your Session is Suspended</h5>
                </div>
                <div class="modal-body signform">
                    <div class="row">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnSessionExpiredOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->
    <!-- Modal -->
    <div class="modal fade" id="ModelBidAccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">You don't have Bidding Access. Please upload KYC in <a href="@baseUrlPath/Home/myProfile?userid=@userid">My Account</a> or contact Astaguru.</h5>
                </div>
                <div class="modal-body signform">
                    <div class="row">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnAccessBid"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->



    <div>
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>

    <div id="footer" class="extra-padding-top-100 extra-padding-bottom-100">
        <div class="footer_inner">
            <div class="footer_logo">
                <img src="~/Content/images/logo-footer.svg" />
            </div>

            <ul class="footer_social">
                <li data-toggle="tooltip" data-placement="top" title="Facebook"><a href="https://www.facebook.com/Astaguru-Auction-House-375561749218131/?fref=ts" target="_blank"><i class="icon-facebook"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Twitter"><a href="https://twitter.com/astagurutweets" target="_blank"><i class="icon-twitter"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Pinterest"><a href="https://in.pinterest.com/astaguru/" target="_blank"><i class="icon-pinterest"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Instagram"><a href="https://www.instagram.com/astaguru/" target="_blank"><i class="icon-instagram"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="YouTube"><a href="https://www.youtube.com/channel/UCmTqSUMAHV5l0mACoK72t7g" target="_blank"><i class="icon-youtube"></i></a></li>
            </ul>
            <ul class="footer_nav">
                <li><a href="@baseUrlPath/LiveAuction">Current Auction</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/UpcomingAuctions">Upcoming Auctions</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/PastAuctions">Past Auctions</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/Valuation">Valuation</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/howtobuy">How to Buy</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/HowToSell">How to Sell</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/AboutUs">About AstaGuru</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/ContactUs">Contact Us</a></li>
                <br>
                <li><a href="@baseUrlPath/Videos">Video</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/PrivacyPolicy">Privacy Policy</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/TermsAndConditions">Terms & Conditions</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/blog">Blog</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/media">Media Coverage</a></li>
                <li>/</li>
                <li><a href="@baseUrlPath/faq">Faq</a></li>
            </ul>
            <div class="copyright">
                <p>
                    Copyright 2018 Astaguru. All Rights Reserved<br>

                </p>
            </div>

            <div class="extra-margin-top-30">
                <h3 class="sbold"></h3>
                <h4></h4>
                <div class="appstore">
                    <ul>
                        <li class="sbold">Bid at your fingertips</li>
                        <li><a href="https://apps.apple.com/app/id1483891832" target="_blank"><img src="~/Content/images/ios-app.svg"></a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.astaguru&hl=en" target="_blank"><img src="~/Content/images/android-app.svg"></a></li>
                        <li class="sbold">Download our apps</li>
                    </ul>
                </div>
            </div>
            <a href="https://www.kwebmaker.com/" target="_blank" style="
    color: #c3a860;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 600; color:#282831;">Kwebmaker™</a>
        </div><!-- footer inner -->
    </div>
</body>

</html>


<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/slick.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.selectric.js"></script>
<script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
<script src="~/Content/js/easyResponsiveTabs.js"></script>

<script src="~/Content/js/cloudzoom.js"></script>
<script src="~/Content/js/thumbelina.js"></script>
<script src="~/Content/js/jquery.fancybox.js"></script>
<script src="~/Content/js/lightslider.js"></script>
<script src="~/Content/js/photoviewer.js"></script>
<script src="~/Content/js/readmore.js"></script>
<script src="~/Content/js/script.js"></script>
<script src="~/Content/js/commonJs.js"></script>
<!-- <script src="~/Content/js/map.js"></script>
<script src="~/Content/js/jquery.roamiGmap.js"></script> -->

<script>

    $('#btnSessionExpiredOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

    $('#btnAccessBid').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });




    function Clear() {
        document.getElementById("txtUsername").style.borderColor = "";
        document.getElementById('ErrEmailId').innerHTML = "";
        document.getElementById("txtPassword").style.borderColor = "";
        document.getElementById('ErrPassword').innerHTML = "";
        return true;
    }

    $('#btnSubmit').click(function () {
        Clear();
        if ($('#txtUsername').val().length <= 0) {
            document.getElementById("txtUsername").style.borderColor = "Red";
            document.getElementById('ErrEmailId').innerHTML = "* Please Enter Username or EmailId";
            return false;
        }
        if ($('#txtPassword').val().length <= 0) {
            document.getElementById("txtPassword").style.borderColor = "Red";
            document.getElementById('ErrPassword').innerHTML = "* Please Enter Password";
            return false;
        }

        var userData = {};
        userData.email = $('#txtUsername').val();
        userData.password = $('#txtPassword').val();

        $.ajax({
            url: "/User/Login",
            type: 'POST',
            dataType: 'json',
            // contentType: 'application/json; charset=utf-8',
            data: userData,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $('#hiddenUserId').val(ReturnData.userid);
                    $('#hiddenUsername').val(ReturnData.username);
                    $('#hiddenconfirmbid').val(ReturnData.confirmbid);
                    $('#hiddenapplyforbid').val(ReturnData.applyforbid);
                    $('#hiddenMobileVerified').val(ReturnData.MobileVerified);
                    $('#hiddenEmailVerified').val(ReturnData.EmailVerified);
                    $('#LoginForm').modal('toggle').hide();
                    $('#loginBtn').hide();
                    $('#layUser').show();
                    $('#lblUsername').html($('#hiddenUsername').val());
                    $('#logoutBtn').show();
                    location.reload(true);

                }
                else if (ReturnData.status == 'Error') {
                    //document.getElementById('ErrEmailId').innerHTML = "* Invalid Username";
                    document.getElementById('ErrEmailId').innerHTML = "* Please Enter valid Username / Password";
                }
                else if (ReturnData.status == 'ErrorPassword') {
                    document.getElementById('ErrPassword').innerHTML = "* Please Enter valid Username / Password";
                }
            },
        });
    });

    $('#logoutBtn').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();

        var userData = {};
        $.ajax({
            url: "/User/Logout",
            type: 'POST',
            dataType: 'json',
            // contentType: 'application/json; charset=utf-8',
            data: userData,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $('#LoginForm').hide();
                    $('#loginBtn').show();
                    $('#layUser').hide();
                    $('#logoutBtn').hide();
                    window.location =
                     window.location = basePathUrl + '/Home/Home';
                }
                else if (ReturnData.status == 'Error') {

                }
            },
        });
    });


    // Auto Suggestion Artist Search
    $("#txtArtistSearch").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Artist/AutoArtist",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term},
                success: function (data) {
                    if (data.Status) {

                        //alert('Artist name is not available');
                        document.getElementById("txtArtistSearch").style.borderColor = "Red";
                        //document.getElementById('ErrProjectName').innerHTML = "* This Project Name is not available";
                    }
                    else {
                          document.getElementById("txtArtistSearch").style.borderColor = "";
                        //document.getElementById('ErrProjectName').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.name, id: item.artistid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            hiddenBaseURL = $("#hiddenbaseUrlPath").val();
            window.location = hiddenBaseURL + '/' + 'Home/searchArtist?artistid=' + ui.item.id
        },
    });


    $('#btnForgotPassword').click(function () {
        $('#LoginForm').modal('toggle');
        $('#ForgotPasswordForm').modal('toggle');
    });



    $('#btnGetPassword').click(function () {

        document.getElementById("txtFUsername").style.borderColor = "";
        document.getElementById('ErrFEmailId').innerHTML = "";

        if ($('#txtFUsername').val().length <= 0) {
            document.getElementById("txtFUsername").style.borderColor = "Red";
            document.getElementById('ErrFEmailId').innerHTML = "* Please Enter EmailId";
            return false;
        }

        var val = $('#txtFUsername').val();
        if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(val)) {
            // value is ok, use it
        } else {
            document.getElementById("txtFUsername").style.borderColor = "Red";
            document.getElementById('ErrFEmailId').innerHTML = "* Please enter valid EmailId";
            return false;
        }

        var emailId = $('#txtFUsername').val();
        $('#divLoaderMaster').show();

        $.ajax({
            url: "/Common/ForgotPassword",
            type: 'POST',
            dataType: 'json',
            data: ({ emailId: emailId }), // For Passing Single Value
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $('#divLoaderMaster').hide();
                    document.getElementById('SuccessFmsg').innerHTML = "Your password has been emailed to the above email address.";
                    setTimeout(function () {
                        document.getElementById('SuccessFmsg').innerHTML = "";
                        $('#ForgotPasswordForm').modal('toggle');
                    }, 3000);
                }
                else if (ReturnData.status == 'Exception') {
                    $('#divLoaderMaster').hide();
                    document.getElementById('SuccessFEmsg').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('SuccessFEmsg').innerHTML = "";
                        $('#ForgotPasswordForm').modal('toggle');
                    }, 3000);
                }
            },
            error: function (err) {
                alert('Actual error' + err);
            }
        });

    });


    $(document).ready(function () {


    });
    $(document).keypress(function (event) {



        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            var checkisLoginOpen = $('#LoginForm').is(':visible');
            if (checkisLoginOpen == true) {
                $('#btnSubmit').click();
            }
        }

    });

</script>
