﻿<!DOCTYPE html>

@{
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<html>
<head>
 
    <meta charset="utf-8" />
    @*<meta http-equiv="refresh" content="600">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="Content/AdminContent/images/favicon.ico">

    <title>Admin</title>

    <!-- Editatable  Css-->
    <link rel="stylesheet" href="~/Content/AdminContent/plugins/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/AdminContent/plugins/jquery-datatables-editable/datatables.css" />


    <!-- DataTables -->
    <link href="~/Content/AdminContent/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--Morris Chart CSS -->
    <link href="~/Content/AdminContent/plugins/morris/morris.css" rel="stylesheet" />

    <!-- App css -->
    <link href="~/Content/AdminContent/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminContent/css/responsive.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/AdminContent/js/jquery.min.js"></script>
    <script src="~/Content/AdminContent/js/modernizr.min.js"></script>



    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/wickedpicker.js"></script>

</head>
<body class="fixed-left">
    <input type="hidden" id="hiddenbaseUrlPath" value="@baseUrlPath" />
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="@baseUrlPath/AdminHome/Home" class="logo"><span>Admin<span>to</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Page title -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>
                        <li>
                            <h4 class="page-title">Dashboard</h4>
                        </li>
                    </ul>

                    <!-- Right(Notification and Searchbox -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- Notification -->
                            <div class="notification-box">
                                <ul class="list-inline m-b-0">
                                    <li>
                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                            <i class="zmdi zmdi-notifications-none"></i>
                                        </a>
                                        <div class="noti-dot">
                                            <span class="dot"></span>
                                            <span class="pulse"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification bar -->
                        </li>
                        <li class="hidden-xs">
                            <form role="search" class="app-search">
                                <input type="text" placeholder="Search..."
                                       class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>
                    </ul>

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!-- User -->
                <div class="user-box">
                    <div class="user-img">
                        <img src="~/Content/AdminContent/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                        <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                    </div>
                    <h5><a href="#">@if (Session["AdminUsername"] == null)
                                    {
                                        Response.Redirect("~/AdminUser/Login");
                                    }
                                    else
                                    {
                                        @HttpContext.Current.Session["AdminUsername"].ToString()
                                    }</a> </h5>
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="zmdi zmdi-settings"></i>
                            </a>
                        </li>

                        <li>
                            <a href="@baseUrlPath/AdminUser/Login" class="text-custom">
                                <i class="zmdi zmdi-power"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User -->
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Navigation</li>
                        <li>
                            <a href="@baseUrlPath/AdminProfile/listProfile" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> User Profile </span> </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @RenderSection("featured", required: false)
                <section class="">
                    @RenderBody()
                </section>
            </div> <!-- content -->

            <footer class="footer text-right">
                2017 © Infomanav
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">Notifications</h4>
            <div class="notification-list nicescroll">
                <ul class="list-group list-no-border user-list">
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="assets/images/users/avatar-2.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">Michael Zenaty</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-info">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Signup</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">5 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-pink">
                                <i class="zmdi zmdi-comment"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Message received</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="assets/images/users/avatar-3.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">James Anderson</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 days ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#" class="user-list-item">
                            <div class="icon bg-warning">
                                <i class="zmdi zmdi-settings"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">Settings</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    @*<script src="~/Content/AdminContent/js/jquery.min.js"></script>*@

    <script src="~/Content/AdminContent/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/js/detect.js"></script>
    <script src="~/Content/AdminContent/js/fastclick.js"></script>
    <script src="~/Content/AdminContent/js/jquery.blockUI.js"></script>
    <script src="~/Content/AdminContent/js/waves.js"></script>
    <script src="~/Content/AdminContent/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminContent/js/jquery.slimscroll.js"></script>
    <script src="~/Content/AdminContent/js/jquery.scrollTo.min.js"></script>

    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/Content/AdminContent/plugins/jquery-knob/jquery.knob.js"></script>

    <!--Morris Chart-->
    <script src="~/Content/AdminContent/plugins/morris/morris.min.js"></script>
    <script src="~/Content/AdminContent/plugins/raphael/raphael-min.js"></script>

    <!-- Dashboard init -->
    <script src="~/Content/AdminContent/pages/jquery.dashboard.js"></script>

    <!-- App js -->
    <script src="~/Content/AdminContent/js/jquery.core.js"></script>
    <script src="~/Content/AdminContent/js/jquery.app.js"></script>


    <!-- Datatables-->
    <script src="~/Content/AdminContent/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Content/AdminContent/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/Content/AdminContent/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/Content/AdminContent/js/jquery.core.js"></script>
    <script src="~/Content/AdminContent/js/jquery.app.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
        });
        TableManageButtons.init();
    </script>

</body>
</html>

