﻿@{
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    int userid = Convert.ToInt32(Session["userid"]);
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    int DollarRate = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

    int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmountForproxy(Model.pricers, 1));
    int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

    double topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmountForproxy(Model.pricers, currency);
    double topFiveBidUs = usdNextValidPrice; //Model.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
    double hiddenPrice = 0;
  
}

<div id="container">

    <!-- Modal -->
    <div class="modal fade" id="ProxyBid_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title sbold uppercase" id="exampleModalCenterTitle">Enter Your Proxy Bid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnProxyClosed">
                        <span aria-hidden="true"><i class="icon-cross"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-groupX">
                            <label for="recipient-name" class="col-form-label">My Maximum Bid (proxy)</label>
                            <div class="input-group grpwith_bdr">
                                <input type="text" class="form-control" id="txtProxy">
                                <div class="input-group-prepend">
                                    <span class="input-group-text radius_left_no form_min_width" id="txtProxy1">
                                        @if (currency == 1)
                                        {@Html.Raw("₹");
                                        }
                                        else if (currency == 2)
                                        { @Html.Raw("$");
                                        }
                                        else
                                        {
                                            @Html.Raw("₹");
                                        }
                                    </span>
                                </div>
                            </div><!-- input-group -->
                            <span id="errProxy" style="color:red; font-size: 12px;font-weight: 500;"></span>
                        </div>

                        <div class="or_text"><h5>Or</h5></div>

                        <div class="proxybid_price_list">
                            <label for="recipient-name" class="col-form-label">Next Valid Bid</label>
                            <ul>
                                @if (currency == 1)
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidRs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidRs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</label></div></li>
                                    }
                                }
                                else if (currency == 2)
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidUs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidUs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidUs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>$ @Astaguru.Services.Common.DollerFormat(topFiveBidUs.ToString())</label></div></li>
                                    }

                                }
                                else
                                {
                                    for (int i = 0; i < 5; i++)
                                    {
                                        topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmountForproxy(@topFiveBidRs, currency);
                                        <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input rdbProxyAmt' id='RadioPrice_@i' name='RadioPrice' data-id="@topFiveBidRs.ToString()"><label class='custom-control-label' for='RadioPrice_@i'>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</label></div></li>
                                    }
                                }


                                @*<li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice2' name='RadioPrice'><label class='custom-control-label' for='RadioPrice2'>₹ 62,767</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice3' name='RadioPrice'><label class='custom-control-label' for='RadioPrice3'>₹ 69,044</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice4' name='RadioPrice'><label class='custom-control-label' for='RadioPrice4'>₹ 75,948</label></div></li>

                                    <li><div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='RadioPrice5' name='RadioPrice'><label class='custom-control-label' for='RadioPrice5'>₹ 83,543</label></div></li>*@
                            </ul>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn_black" id="btnProxy"><span>Submit</span></button>
                        </div>
                    </form>

                    <div class="form_terms">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check01">
                            <label class="custom-control-label" for="check01">I Agree with the Terms & Conditions</label>
                        </div>

                        <h6>If placing a proxy Bid. Enter the max amount you would be writing to bid upto.</h6>

                        <p>

                            <a target="_blank" href="@baseUrlPath/Home/myProfile?userid=@userid" class="medium_weight">My Profile Page</a> - To set your Bidding  Nickname. You may submit a bid
                            @if (currency == 1)
                            {
                                
                                hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmountForproxy(@Model.pricers, currency);
                                <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmountForproxy(@hiddenPrice, currency).ToString()" />
                                <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmountForproxy(@hiddenPrice, currency).ToString())</span>
                            }
                            else if (currency == 2)
                            {
                                
                                hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmountForproxy(@usdNextValidPrice, currency);
                                <input type="hidden" id="hiddenPrice" value="@hiddenPrice" />
                                <span class="black medium_weight"> $ @Astaguru.Services.Common.DollerFormat(hiddenPrice.ToString())</span>
                            }
                            else
                            {
                                hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmountForproxy(@Model.pricers, currency);
                                <input type="hidden" id="hiddenPrice" value="@Astaguru.Services.Common.getNextValidBidAmountForproxy(@hiddenPrice, currency).ToString()" />
                                <span class="black medium_weight"> ₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmountForproxy(@hiddenPrice, currency).ToString())</span>
                            }
                            (next incremental value)
                        </p>
                        <div class="hrline"></div>
                        <h6 class="notetext">When you enter a bid, you have agreed to the conditions for sale, <a target="_blank" href="@baseUrlPath/Home/TermsAndConditions" class="medium_weight">click here</a> to read the conditions for sale</h6>
                    </div>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->


    <!-- Modal -->
    <div class="modal fade" id="ModelConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Once submitted can not be changed online. Confirm?</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark" id="btnConfirm"><span>Confirm</span></button>
                            <button type="button" class="btn_grey_dark" id="btnConfirmCancel"><span>Cancel</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->

    <!-- Modal -->
    <div class="modal fade" id="ModelAmountLimitExceeded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">You have exceeded your bid limit.Please contact our office for support.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnAmountLimitOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->


    <!-- Modal -->
    <div class="modal fade" id="ModelOwnerPainting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Sorry, you're not permitted to bid on this lot. Please contact our office for support.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnOwnerPaintingOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->

</div>

<script>
    $('#btnAmountLimitOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/LiveAuction';
    });

    $('#btnOwnerPaintingOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
        window.location = basePathUrl + '/LiveAuction';
    });

    $(document).ready(function () {

        var closeButtonClicked = false;

        $('.close').on('click', function () {
            closeButtonClicked = true;
        });

        $('#ProxyBid_modal').on('hide.bs.modal', function (e) {
            if (!closeButtonClicked) {
                e.preventDefault();
                e.stopPropagation();
                return false;
            }
            closeButtonClicked = false;
        });

    });

    $('#btnProxy').click(function () {

        sessionStorage.setItem("ErrOutProxy", '');
        $('#txtProxy').css("border-color", "");
        $('#txtProxy1').css("border-color", "");
        $('#errProxy').html('');
        $('#errBid').html('');

        if ($('#txtProxy').val().length <= 0) {
            $('#errProxy').html('Enter The Proxy Amount');
            $('#txtProxy').css("border-color", "red");
            $('#txtProxy1').css("border-color", "red");
            return false;
        }

        var proxyAmt = fieldValidation($('#txtProxy'), $('#errProxy'), 'Enter Numeric value Only', 'Number')
        if (proxyAmt == false) { return false; }

        debugger;
        var nextBidPrice = $('#hiddenPrice').val();
        var proxyAmt = $('#txtProxy').val();
        var currencyType = $('#hiddenCurrency').val();

        nextBidPrice = parseFloat(nextBidPrice);
        proxyAmt = parseFloat(proxyAmt);
        currencyType = parseInt(currencyType);
        if (proxyAmt >= nextBidPrice) {
        }
        else {
            if (currencyType == 1) {
                if (nextBidPrice < 10000000) {
                    //$('#errProxy').html('Proxy Bid amount should be equal to or greater than 15% more than next valid Bid = Rs.' + nextBidPrice);
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 20% more than next valid Bid = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 7% more than next valid Bid = Rs.' + nextBidPrice);
                }
            }
            else if (currencyType == 2) {
                //if (nextBidPrice < 143750)
                if (nextBidPrice < (10000000 / @DollarRate))
                {
                    //$('#errProxy').html('Proxy Bid amount should be equal to or greater than 15% more than next valid Bid = Rs.' + nextBidPrice);
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 20% more than next valid Bid = $' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 7% more than next valid Bid = $' + nextBidPrice);
                }
            }
            else {
                if (nextBidPrice < 10000000) {
                    //$('#errProxy').html('Proxy Bid amount should be equal to or greater than 15% more than next valid Bid = Rs.' + nextBidPrice);
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 20% more than next valid Bid = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy').html('Proxy Bid amount should be equal to or greater than 7% more than next valid Bid = Rs.' + nextBidPrice);
                }
            }
            return false;
        }


        var isChecked = $('#check01').is(":checked") ? 1 : 0
        if (isChecked == 0) {

            $('#errProxy').html('Please check the Terms and Conditions');
            return false;
        }

        //$('#ProxyBid_modal').modal('toggle');
        document.querySelector('#btnProxyClosed').click();
        $('#ModelConfirm').modal('toggle');




    });


    $('#btnConfirmCancel').click(function () {
        $('#ModelConfirm').modal('toggle');
    });

    $('#btnConfirm').click(function () {

        $("#divLoader").show();
        $("#btnConfirm").attr("disabled", true);
        $("#btnProxyBid").attr("disabled", true);
        $("#btnBidNow").attr("disabled", true);
        $("#btnBidHistory").attr("disabled", true);

        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();

        // Ajax Call


        var Proxy = $('#txtProxy').val();
        var currency = $('#hiddenCurrency').val();
        var dollarRate = $('#hiddenDollarRate').val();

        if (currency == 2) {
            Proxy = Proxy * dollarRate;
        }

        var proxyBid = {};
        proxyBid.productid = $('#hiddenProductId').val();
        proxyBid.userid = $('#hiddenUserId').val();
        proxyBid.ProxyAmt = Proxy;
        proxyBid.LastBidId = $('#hiddenLastBidId').val();
        proxyBid.amountlimt = $('#hiddenBidLimit').val();
        proxyBid.isOldUser = $('#hiddenIsOldUser').val();
        proxyBid.country = $('#hiddenBidCountry').val();
        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {

                    //You Can Bid Now

                    $.ajax({
                        url: "/Bid/saveProxyBid",
                        type: 'POST',
                        dataType: 'json',
                        data: proxyBid,
                        //traditional: true,
                        success: function (ReturnData) {
                            if (ReturnData.status == 'Success') {
                                $("#divLoader").hide();
                                $("#btnProxyBid").attr("disabled", false);
                                $("#btnBidNow").attr("disabled", false);
                                $("#btnBidHistory").attr("disabled", false);
                                //$("#btnConfirm").attr("disabled", false);
                                location.reload(true);
                            }
                            else if (ReturnData.status == 'Exception') {
                                $("#divLoader").hide();
                                $("#btnProxyBid").attr("disabled", false);
                                $("#btnBidNow").attr("disabled", false);
                                $("#btnBidHistory").attr("disabled", false);
                                $("#btnConfirm").attr("disabled", false);

                            }
                            else if (ReturnData.status == 'Out') {
                                $("#hiddenBidCount").val(0);
                                sessionStorage.setItem("ErrOutProxy", 'You have been out bid due to proxy. Kindly bid again.');
                                location.reload(true);
                                //$('#errBid').html('You have been out bid due to proxy. Kindly bid again.');
                                $("#btnConfirm").attr("disabled", false);
                                return false;
                            }
                            else if (ReturnData.status == 'SessionExpired') {
                                $("#divLoader").hide();
                                $('#ModelConfirm').modal('toggle');
                                $('#SessionExpired').modal('toggle');
                                $("#btnConfirm").attr("disabled", false);
                            }
                            else if (ReturnData.status == 'AmountLimitExceeded') {
                                $("#divLoader").hide();
                                $('#ModelConfirm').modal('toggle');
                                $('#ModelAmountLimitExceeded').modal('toggle');
                                $("#btnConfirm").attr("disabled", false);
                            }
                            else if (ReturnData.status == 'Ownerpainting') {
                                $("#divLoader").hide();
                                $('#ModelOwnerPainting').modal('toggle');
                                $("#btnConfirm").attr("disabled", false);
                            }

                        },
                        error: function (err) {
                            $("#divLoader").hide();
                            $("#btnProxyBid").attr("disabled", false);
                            $("#btnBidNow").attr("disabled", false);
                            $("#btnBidHistory").attr("disabled", false);
                            $("#btnConfirm").attr("disabled", false);
                            alert('Actual error' + err);
                        }
                    });
                }
                else {
                    $("#divLoader").hide();
                    alert('You Dont have bidding access');
                }
            }
            else {
                alert('Mobile Number Or Email id is not verified');
            }
        }
        else {
            $("#divLoader").hide();
            $('#LoginForm').modal('toggle');
        }
    });

    $(".rdbProxyAmt").change(function () {
        var val = $(this).attr("data-id");
        $("#txtProxy").val(val);
    });

    $("#txtProxy").change(function () {
        $('input[name="RadioPrice"]').attr('checked', false);
    });
    $("#txtProxy").keyup(function () {
        $('input[name="RadioPrice"]').attr('checked', false);
    });
    $('#btnProxyClosed').click(function () {
        $("#hiddenProxyBidCount").val(0);
    });
</script>