﻿@model Astaguru.Models.Auction

@{
    Astaguru.Services.UserService.MyAuctionGallaryService MAS = new Astaguru.Services.UserService.MyAuctionGallaryService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    AUC.Auctionid = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
    AUC.userid = userid;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }


    double TotalPaginationCount = MAS.GetMyAuctionGallaryCount(AUC);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);

    List<Astaguru.Models.Auction> MyAuctionGallary = null;
    // MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC, page);

    //created on 13_2_2020
    MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC);

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AUC.Auctionid);
    int count = 0;
}



<div>
    <div class="container-fluid content extra-padding-bottom-100">
        <div id="container">
            <input type="hidden" id="hiddenPage" value="@page" />

            @if (Model.GetReviewData.Count > 0)
            {
                foreach (var item in Model.GetReviewData)
                {


                    if (item.status == "Current")
                    {
                        <div class="box_col extra-margin-top-60 listView_wrapper">
                            <div class="img_list_view_row">
                                <div class="img_list_mxheight"><img src="https://www.astaguru.com/@item.listImage" class="img_responsive" /></div>
                                <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
                            </div><!-- img_col_auctions -->
                            @{
                                count++;
                            }

                            <div class="content_list_view_row">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 col-xl-4">
                                        <div class="list_view_artist_details">
                                            @if (item.auctionType == 1)
                                            {
                                                <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                                    <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                                </a>

                                                <p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                            }
                                            else if (item.auctionType == 2)
                                            {
                                                <h3><p><a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p></h3>
                                            }

                                            <div class="list_view_text">
                                                @if (item.auctionType == 1)
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.Date</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else if (item.auctionType == 2)
                                                {
                                                    <h6>Description</h6>
                                                    <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                    <h6></h6>
                                                    <p>@item.productsize</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.Date</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }


                                            </div><!-- list_view_text -->
                                        </div><!-- list_view_artist_details -->
                                    </div><!-- col -->

                                    <div class="col-md-6 col-lg-4 col-xl-5 extra-margin-top-60">
                                        <div class="row" id="SetCurentAuction_@item.productid">
                                            @if (currency == 1)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->

                                                if (item.timeRemains < 0)
                                                {
                                                    if (userid == item.MyUserID)
                                                    {
                                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                            <div class="price_live_auc price_current_next">
                                                                <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                            </div><!-- price_live_auc -->
                                                        </div><!-- col -->
                                                    }
                                                    else
                                                    {
                                                        <div class="close_auction"><span>Bid Closed</span></div>
                                                    }

                                                }
                                                else
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next">
                                                            @if (userid == item.MyUserID)
                                                            {
                                                                <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                            }
                                                            else
                                                            {
                                                                <h6 class="uppercase">next valid bid</h6>
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                            }

                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }


                                            }
                                            else if (currency == 2)
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        <h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->
                                                if (item.timeRemains < 0)
                                                {
                                                    if (userid == item.MyUserID)
                                                    {
                                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                            <div class="price_live_auc price_current_next">
                                                                <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                            </div><!-- price_live_auc -->
                                                        </div><!-- col -->
                                                    }
                                                    else
                                                    {
                                                        <div class="close_auction"><span>Bid Closed</span></div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next">
                                                            @if (userid == item.MyUserID)
                                                            {
                                                                <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                            }
                                                            else
                                                            {
                                                                <h6 class="uppercase">next valid bid</h6>
                                                                <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.priceus, currency).ToString())</h5>
                                                            }
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }

                                            }
                                            else
                                            {
                                                <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                    <div class="price_live_auc price_current_next divider_right">
                                                        <h6 class="uppercase">current bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                    </div><!-- price_live_auc -->
                                                </div><!-- col -->

                                                if (item.timeRemains < 0)
                                                {
                                                    if (userid == item.MyUserID)
                                                    {
                                                        <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                            <div class="price_live_auc price_current_next">
                                                                <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                                            </div><!-- price_live_auc -->
                                                        </div><!-- col -->
                                                    }
                                                    else
                                                    {
                                                        <div class="close_auction"><span>Bid Closed</span></div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="col-xs-6 col-sm-12 col-md-12 col-xl-6">
                                                        <div class="price_live_auc price_current_next">
                                                            @if (userid == item.MyUserID)
                                                            {
                                                                <h6 class="uppercase text_next_valid_bid current_leading">Currently <br> leading</h6>
                                                            }
                                                            else
                                                            {
                                                                <h6 class="uppercase">next valid bid</h6>
                                                                <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                            }
                                                        </div><!-- price_live_auc -->
                                                    </div><!-- col -->
                                                }
                                            }
                                        </div><!-- row -->
                                    </div><!-- col -->

                                    <div class="col-lg-4 col-xl-3 extra-margin-top-60">
                                        <div class="live_auction_timer list_view_timer" id="SetListButton_@item.productid">


                                            @if (item.timeRemains < 0)
                                            {
                                                @*<a href="JavaScript:Void(0);" class="btn_bid disabled">Bid</a>*@

                                            }
                                            else
                                            {
                                                if (userid == item.MyUserID)
                                                {

                                                }
                                                else
                                                {
                                                    <a href="JavaScript:Void(0);" class="btn_bid btnBidNow" data-id="@item.productid">Bid</a>

                                                }
                                                <div class="timer_wrap">
                                                    <div class="timer_count">
                                                        <figure>
                                                            <ul>
                                                                <li>@item.hh</li>
                                                            </ul>
                                                            <p>Hours</p>
                                                        </figure>
                                                        <span>:</span>
                                                        <figure>
                                                            <ul>
                                                                <li>@item.mm</li>
                                                            </ul>
                                                            <p>Minute</p>
                                                        </figure>
                                                        <span>:</span>
                                                        <figure>
                                                            <ul>
                                                                <li>@item.ss</li>
                                                            </ul>
                                                            <p>Second</p>
                                                        </figure>
                                                    </div>
                                                </div>

                                            }

                                            <div class="clear"></div>

                                            <input type="hidden" id="hiddenProductId_@item.productid" value="@item.productid" />
                                            <script>
                                                $('#btnBidNow_@item.productid').click(function () {
                                                    $('#LoginForm').modal('toggle');
                                                });

                                                function BidNow1(productid) {
                                                    $("#divLoader").show();

                                                    var baseUrlPath = $('#hiddenbaseUrlPath').val();
                                                    var productid = productid;//$(this).attr("data-id");
                                                    var userId = $('#hiddenUserId').val();
                                                    var isMobile = $('#hiddenMobileVerified').val();
                                                    var isEmail = $('#hiddenEmailVerified').val();
                                                    var isconfirmbid = $('#hiddenconfirmbid').val();
                                                    if (userId > 0) {
                                                        if (isMobile > 0 && isEmail > 0) {
                                                            // Apply For Bid
                                                            if (isconfirmbid > 0) {
                                                                $("#divLoader").hide();
                                                                window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid + '&page=0'
                                                            }
                                                            else {
                                                                $("#divLoader").hide();
                                                                alert('You Dont have bidding access');
                                                            }
                                                        }
                                                        else {
                                                            $("#divLoader").hide();
                                                            alert('Mobile Number Or Email id is not verified');
                                                        }

                                                    }
                                                    else {
                                                        $("#divLoader").hide();
                                                        $('#LoginForm').modal('toggle');
                                                    }
                                                }

                                                $('#SetListButton_@item.productid').on('click', '.btnBidNow', function () {
                                                    var productid = $(this).attr("data-id");
                                                    BidNow1(productid);
                                                });
                                            </script>
                                        </div><!-- live_auction_timer -->

                                        <a href="javascript:avoid(0)" class="small_btn removeCart" data-productid="@item.productid"><i class="icon-star"></i>Remove From Gallary</a>
                                        <br />
                                        <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                        <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>
                                    </div><!-- col -->

                                </div><!-- Row -->
                            </div><!-- content_list_view_row -->

                            <div class="clear"></div>
                        </div><!-- box_col -->
                                }
                                else if (item.status == "Upcomming")
                                {
                                    <div class="box_col extra-margin-top-60 listView_wrapper">

                                        <div class="img_list_view_row">
                                            @*<div class="img_list_mxheight"><img src="https://www.astaguru.com:84/@item.listImage" class="img_responsive" /></div>
                                            <a data-gallery="manual" data-index="@count" href="http://astaguru.com:81/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>*@
                                        </div><!-- img_col_auctions -->
                                        @{
                                            count++;
                                        }

                                        <div class="content_list_view_row">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-4 col-xl-5">
                                                    <div class="list_view_artist_details">
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                                                <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                                            </a>

                                                            <p><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {
                                                            <h3><p><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p></h3>
                                                        }

                                                        <div class="list_view_text">
                                                            @if (item.auctionType == 1)
                                                            {
                                                                <h6>Medium</h6>
                                                                <p>@item.medium</p>
                                                                <h6>Size</h6>
                                                                <p>@item.productsize</p>
                                                                <h6>Year</h6>
                                                                <p>@item.Date</p>
                                                            }
                                                            else if (item.auctionType == 2)
                                                            {
                                                                <h6>Description</h6>
                                                                <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                                <h6></h6>
                                                                <p>@item.productsize</p>
                                                            }
                                                            else
                                                            {
                                                                <h6>Medium</h6>
                                                                <p>@item.medium</p>
                                                                <h6>Size</h6>
                                                                <p>@item.productsize</p>
                                                                <h6>Year</h6>
                                                                <p>@item.Date</p>
                                                            }
                                                        </div><!-- list_view_text -->
                                                    </div><!-- list_view_artist_details -->
                                                </div><!-- col -->

                                                <div class="col-md-6 col-lg-4 col-xl-4 text-center extra-margin-top-60">
                                                    <div class="price_with_tax price_current_next price_live_auc">
                                                        <h6 class="uppercase text_current_bid">Openning Bid</h6>
                                                        @if (currency == 1)
                                                        {
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                        }
                                                        else if (currency == 2)
                                                        {
                                                            <h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>
                                                        }
                                                        else
                                                        {
                                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                                        }

                                                    </div>
                                                </div><!-- col -->

                                                <div class="col-lg-4 col-xl-3 text-center extra-margin-top-60">
                                                    <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid" class="outline_link btn_width_max_width">Proxy Bid</a></div>
                                                    <a href="javascript:avoid(0)" class="small_btn removeCart" data-productid="@item.productid"><i class="icon-star"></i>Remove From Gallary</a>
                                                </div><!-- col -->

                                            </div><!-- Row -->
                                        </div><!-- content_list_view_row -->
                                        <div class="clear"></div>
                                    </div><!-- box_col -->
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                <span class="no_data">You haven’t added anything to the gallery.</span>
                                            }
            @*commented on 13_02_2020*@
            @*@if (TotalPaginationCount > 20)
            {
                <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                    <ul class="pagination">
                        <li class="page-item">
                            @if (PrePage > 0)
                            {
                                PrePage = PrePage - 20;
                                <a class="page-link" href="@baseUrlPath/Home/ListMyAuctionGallary?page=@PrePage" aria-label="Previous">
                                    <span aria-hidden="true"><i class="icon-prev"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            }

                        </li>

                        @{
                            int pagination = 0;
                            for (int i = 1; i <= pagenationOffSet; i++)
                            {

                                if (page == pagination)
                                {
                                    <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Home/ListMyAuctionGallary?page=@pagination">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@baseUrlPath/Home/ListMyAuctionGallary?page=@pagination">@i</a></li>
                                }
                                pagination = pagination + 20;
                            }
                        }

                        @{
                            NextPage = TotalPaginationCount - NextPage;
                            NextPage = NextPage - 20;
                            <li class="page-item">
                                @if (NextPage > 0)
                                {
                                    page = page + 20;
                                    <a class="page-link" href="@baseUrlPath/Home/ListMyAuctionGallary?page=@page" aria-label="Next">
                                        <span aria-hidden="true"><i class="icon-next"></i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                }
                                else
                                {

                                }
                            </li>

                        }

                    </ul>
                </nav>

            }*@
        </div>

        </div><!-- content -->
    </div>


    <script>

            //setInterval(function () {
                var dynamicBidDataArr;
                var SetAuction = {};
                SetAuction.page = $("#hiddenPage").val();
                SetAuction.userid = $("#hiddenUserId").val();
                $.ajax({
                    url: "/Common/generateMyGallaryList",
                    type: 'POST',
                    dataType: 'json',
                    data: SetAuction,
                    traditional: true,
                    success: function (ReturnData) {
                        if (ReturnData.Success) {
                            //var your_object = JSON.parse(ReturnData.Success);
                            dynamicBidDataArr = ReturnData.Success;
                            for (var i = 0; i < dynamicBidDataArr.length; i++) {

                                var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
                                SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;
                                // alert(dynamicBidDataArr[i].dyanmicData);
                            }


                            dynamicBidDataArrButton = ReturnData.Button;
                            for (var i = 0; i < dynamicBidDataArrButton.length; i++) {

                                var SetListButton = document.getElementById("SetListButton_" + dynamicBidDataArrButton[i].productid);
                                SetListButton.innerHTML = dynamicBidDataArrButton[i].dyanmicData;
                                // alert(dynamicBidDataArr[i].dyanmicData);
                            }
                            //alert(ReturnData.Success[0].productid);

                            //

                            //$('#Time').html(ReturnData.Success);
                        }
                    },
                });
            //}, 1000);

            //setInterval(function () {

                var page = $("#hiddenPage").val();
                var userid = $("#hiddenUserId").val();

                $.ajax({
                    url: '/Common/partialListMyAuctionGallary',
                    type: 'POST',
                    cache: false,
                    data: { userid: userid, page: page }
                }).done(function (result) {
                    $('#container').html(result);
                });
            //}, 10000);

    </script>
