﻿@model Astaguru.Models.Auction
@{
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    int auctionstyle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionstyle"]);
    int auctionId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
}


<input type="hidden" id="hiddenReviewStatus" value="@Model.reviewStatus" />

<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>

<div id="container">
    <div class="container-fluid content extra-padding-bottom-100">
        <div class="row equal_height_row">
            @if (Model.GetReviewData.Count > 0)
            {
                foreach (var item in Model.GetReviewData)
                {
                    //new created on 20-1-20
                    #region
                    int productcount = CAS.Getcountbidproduct(item.productid);
                    #endregion

                    int usdCurrentPrice = item.pricers / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);
                    int NextValidBid = Convert.ToInt32(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, 1));
                    int usdNextValidPrice = NextValidBid / Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

                    <div class="col-sm-6 col-lg-4 col-xl-3 extra-padding-top-40">
                        <div class="box_col panel-body hover_zoom equal_height_col">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front img_box_col">
                                        <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                    </div>
                                    <div class="after_flipe img_box_col">
                                        <div>
                                            @if (item.auctionType == 1)
                                            {
                                            <h6>Medium</h6>
                                            <p>@item.medium</p>
                                            <h6>Size</h6>
                                            <p>@item.productsize in.</p>
                                            <h6>Year</h6>
                                            <p>@item.Date</p>
                                            <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                            <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                //created on 28
                                                if (@productcount > 0)
                                                {
                                            @*<p class="count_most">@productcount</p>*@
                                            <h5 class="bold extra-margin-top-40 black"> No of Bids - @productcount</h5>
                                                }
                                            }
                                            else if (item.auctionType == 2)
                                            {
                                            <h6>Description</h6>
                                            <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                            <h6></h6>
                                            <p>@item.productsize</p>
                                            <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                            <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                //created on 28
                                                if (@productcount > 0)
                                                {
                                            @*<p class="count_most">@productcount</p>*@
                                            <h5 class="bold extra-margin-top-40 black"> No of Bids - @productcount</h5>
                                                }
                                            }
                                            else
                                            {

                                            <h6>Medium</h6>
                                            <p>@item.medium</p>
                                            <h6>Size</h6>
                                            <p>@item.productsize in.</p>
                                            <h6>Year</h6>
                                            <p>@item.Date</p>
                                            <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                            <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                            <p>@item.collectors</p>
                                                }
                                                //created on 28
                                                if (@productcount > 0)
                                                {
                                            @*<p class="count_most">@productcount</p>*@
                                            <h5 class="bold extra-margin-top-40 black"> No of Bids - <span id="@productcount"></span></h5>
                                                }
                                            }
                                        </div>
                                    </div><!-- after_flipe -->
                                </div><!-- flipper -->
                            </div><!-- flip-container -->
                            <div class="col_box_content">
                                <a href="https://www.astaguru.com/@item.image" class="fancybox" rel="gallery2"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>

                                @*created on 20-1-20*@
                                <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                    <h3 class="uppercase nowrap_text sbold">
                                        @item.firstname  @item.lastname
                                    </h3>
                                </a>

                                @*commented on 21-1-20*@
                                @*<a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                        <h3 class="uppercase nowrap_text sbold"> @item.firstname  @item.lastname</h3>
                                    </a>*@
                            @*created on 12_3_20*@
                            @if (item.title.Length > 25)
                            {
                                <p>
                                    <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0">
                                        <span class="lotno">Lot @item.reference</span> @item.title.Substring(0,25)...
                                    </a>
                                </p>
                            }
                            else
                            {                           
                                <p>
                                    <a href="@baseUrlPath/Home/LotDetails?productid=@item.productid&page=0">
                                        <span class="lotno">Lot @item.reference</span> @item.title
                                    </a>
                                </p>

                            }

                                @if (item.isInternational == 1)
                                {
                                <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/international.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="International" /> </span>

                                }
                                else if (item.nonExportable == 1)
                                {
                                <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/non-export.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="Non Exportable" /> </span>

                                }
                            @*endregion*@

                                <div id="SetCurentAuction_@item.productid">
                                    <div class="row">
                                        @if (currency == 1)
                                        {
                                    <div class="col-xs-6 col-sm-6 divider_right">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase">current bid</h6>
                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                        </div>
                                    </div><!-- col -->
                                            if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID && item.MyUserID != 0)
                                                {
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                        </div>
                                    </div><!-- col -->
                                                }
                                            }
                                            else
                                            {
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            @if (userid == item.MyUserID && item.MyUserID != 0)
                                            {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently leading</h6>
                                                        }
                                                        else
                                                        {
                                                        <h6 class="uppercase">next valid bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                        }

                                        </div>
                                    </div><!-- col -->
                                            }
                                        }
                                        else if (currency == 2)
                                        {
                                    <div class="col-xs-6 col-sm-6 divider_right">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase">current bid</h6>
                                            <h5>$ @Astaguru.Services.Common.DollerFormat(usdCurrentPrice.ToString())</h5>
                                        </div>
                                    </div><!-- col -->
                                            if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID && item.MyUserID != 0)
                                                {
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                        </div>
                                    </div><!-- col -->
                                                }
                                            }
                                            else
                                            {

                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            @if (userid == item.MyUserID && item.MyUserID != 0)
                                            {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently leading</h6>
                                                        }
                                                        else
                                                        {
                                                        <h6 class="uppercase text_next_valid_bid">next valid bid</h6>
                                                        <h5>$ @Astaguru.Services.Common.DollerFormat(usdNextValidPrice.ToString())</h5>
                                                        }


                                        </div>
                                    </div><!-- col -->
                                            }
                                        }
                                        else
                                        {
                                    <div class="col-xs-6 col-sm-6 divider_right">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase">current bid</h6>
                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                        </div>
                                    </div><!-- col -->
                                            if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID && item.MyUserID != 0)
                                                {
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            <h6 class="uppercase text_next_valid_bid current_leading">WON</h6>
                                        </div>
                                    </div><!-- col -->
                                                }
                                            }
                                            else
                                            {
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="price_live_auc">
                                            @if (userid == item.MyUserID && item.MyUserID != 0)
                                            {
                                                        <h6 class="uppercase text_next_valid_bid current_leading">Currently leading</h6>
                                                        }
                                                        else
                                                        {
                                                        <h6 class="uppercase">next valid bid</h6>
                                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString())</h5>
                                                        }
                                        </div>
                                    </div><!-- col -->
                                            }
                                        }

                                    </div><!-- row -->

                                    <div class="live_auction_timer">
                                        <div class="timer_wrap">

                                            @if (item.timeRemains < 0)
                                            {
                                                if (userid == item.MyUserID)
                                                {

                                                }
                                                else
                                                {
                                            <div class="close_auction"><span>Bid Closed</span></div>
                                                }

                                            }
                                            else
                                            {
                                            <div class="timer_count">
                                                <figure>
                                                    <ul>
                                                        <li>@item.hh</li>
                                                    </ul>
                                                    <p>Hours</p>
                                                </figure>
                                                <span>:</span>
                                                <figure>
                                                    <ul>
                                                        <li>@item.mm</li>
                                                    </ul>
                                                    <p>Minute</p>
                                                </figure>
                                                <span>:</span>
                                                <figure>
                                                    <ul>
                                                        <li>@item.ss</li>
                                                    </ul>
                                                    <p>Second</p>
                                                </figure>
                                            </div>
                                     <!-- <span class="product_left">left</span> -->
                                            @*<div class="counter_timer_@item.productid">
                                                    <script type="text/javascript">
                                                        //Count Timer
                                                        $(document).ready(function () {
                                                            $('.counter_timer_@item.productid').timeTo({
                                                                //timeTo: new Date(new Date('Tue Apr 23 2019 09:00:00 GMT+0530 (India Standard Time)')),
                                                                timeTo: new Date('@Bidclosingtime'),
                                                                //timeTo: date,
                                                                theme: "black",
                                                                displayCaptions: true,
                                                                displayDays: 0,
                                                                //fontSize: 48,
                                                                //captionSize: 14
                                                            });
                                                        });


                                                    </script>
                                                </div>*@
                                            }

                                        </div>

                                        @if (item.timeRemains < 0)
                                        {
                                    @*<a href="JavaScript:Void(0);" class="btn_bid disabled">Bid</a>*@
                                        }
                                        else
                                        {
                                            if (userid == item.MyUserID)
                                            {
                                    @*<a href="JavaScript:Void(0);" class="btn_bid disabled">Bid</a>*@
                                            }
                                            else
                                            {
                                    <a href="JavaScript:Void(0);" class="btn_bid btnBidNow" data-id="@item.productid">Bid</a>
                                            }

                                        }
                                    </div><!-- live_auction_timer -->
                                    <div class="clear"></div>
                                </div>

                                <input type="hidden" id="hiddenProductId_@item.productid" value="@item.productid" />
                                <script>
                                    $('#btnBidNow_@item.productid').click(function () {
                                        $('#LoginForm').modal('toggle');
                                    });

                                    function BidNow1(productid) {
                                        $("#divLoader").show();

                                        var baseUrlPath = $('#hiddenbaseUrlPath').val();
                                        var productid = productid;//$(this).attr("data-id");
                                        var userId = $('#hiddenUserId').val();
                                        var isMobile = $('#hiddenMobileVerified').val();
                                        var isEmail = $('#hiddenEmailVerified').val();
                                        var isconfirmbid = $('#hiddenconfirmbid').val();
                                        if (userId > 0) {
                                            if (isMobile > 0 && isEmail > 0) {
                                                // Apply For Bid
                                                if (isconfirmbid > 0) {
                                                    $("#divLoader").hide();
                                                    window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid + '&page=0'
                                                }
                                                else {
                                                    $("#divLoader").hide();
                                                    alert('You Dont have bidding access');
                                                }
                                            }
                                            else {
                                                $("#divLoader").hide();
                                                alert('Mobile Number Or Email id is not verified');
                                            }

                                        }
                                        else {
                                            $("#divLoader").hide();
                                            $('#LoginForm').modal('toggle');
                                        }
                                    }

                                    $('#SetCurentAuction_@item.productid').on('click', '.btnBidNow', function () {
                                        var productid = $(this).attr("data-id");
                                        BidNow1(productid);
                                    });
                                </script>
                                <div class="clear"></div>
                                <span id="Success_@item.productid" style="color:green" class="clsClearGallary"></span>
                                <span id="Err_@item.productid" style="color:red" class="clsClearGallary"></span>

                            </div><!-- col_auctions_content -->
                            <a href="javascript:avoid(0)" class="add_tocart addToCart" data-productid="@item.productid"><i class="icon-plus-circle"></i></a>
                        </div><!-- box_col -->
                    </div><!-- col -->
                }
            }
            else
            {
                <span class="no_data">No records found</span>
            }
        </div><!-- Row -->
    </div><!-- content -->
</div>


<script>
    $(document).ready(function () {
        sessionStorage.removeItem("ErrOutProxy");

        setInterval(function () {
            var dynamicBidDataArr;
            var SetAuction = {};
            SetAuction.Subquery = $("#hiddenSubquery").val();
            SetAuction.page = $("#hiddenPage").val();
            SetAuction.pageName = $("#hiddenReviewStatus").val();  // 'LatestBid';

            $.ajax({
                url: "/Common/generateCurrentAuction1",
                type: 'POST',
                dataType: 'json',
                data: SetAuction,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        //var your_object = JSON.parse(ReturnData.Success);
                        dynamicBidDataArr = ReturnData.Success;
                        for (var i = 0; i < dynamicBidDataArr.length; i++) {

                            var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
                            SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;

                            // alert(dynamicBidDataArr[i].dyanmicData);
                        }
                        //alert(ReturnData.Success[0].productid);
                        //
                        //$('#Time').html(ReturnData.Success);
                    }
                },
            });
        }, 10000);


        setInterval(function () {
            var status = $("#hiddenReviewStatus").val();
            $.ajax({
                url: '/Common/partialAuctionReview',
                type: 'POST',
                cache: false,
                data: { status: status }
            }).done(function (result) {
                $('#container').html(result);
            });
        }, 10000);
    });
</script>