﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="errorpage">
            <h1>Oops!</h1>
            <h3 class="px-lg-5">
                The Page You are Looking for no longer exists.</h3>
            <h3 class="px-lg-5">Perhaps you can return back to the site's homepage to see if you can find what you are looking for.</h3>
</div>
      
        </div>
    </div>

