﻿
@{
    ViewBag.Title = "listProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    Astaguru.Services.AdminService.AdminUsersProfileService ASP = new Astaguru.Services.AdminService.AdminUsersProfileService();
    
}

<h4 class="page-title">List Users</h4>

<div class="">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="header-title m-t-0 m-b-30">List Users Profile</h4>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Bid Access</th>
                                    <th>Verify Email</th>
                                    <th>Verify Mobile</th>
                                    <th>View</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in ASP.GetUserList())
                                {
                                    <tr>
                                        <td>@item.name @Html.Raw(" ")  @item.lastname</td>
                                        <td>@item.username</td>
                                        <td>@item.email</td>
                                        @if (@item.confirmbid == 1)
                                        {
                                            <td>Yes</td>
                                        }
                                        else
                                        {
                                            <td>NO</td>
                                        }

                                        @if (@item.EmailVerified == 1)
                                        {
                                            <td>Verified</td>
                                        }
                                        else
                                        {
                                            <td>Not Verified</td>
                                        }

                                        @if (@item.MobileVerified == 1)
                                        {
                                            <td>Verified</td>
                                        }
                                        else
                                        {
                                            <td>Not Verified</td>
                                        }

                                        <td>
                                            <a href="@baseUrlPath/AdminProfile/DisplayData?userid=@item.userid" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>