/*Monteserrat google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body{
	margin: 0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #555;
}

.container{
	max-width: 1570px;
}

h1{
	font-size: 22px; text-transform: uppercase;  font-weight: 600; color: #282831;
}

h1.bigHeading{
	font-size: 35px;
}

h2{
	font-size: 22px; font-weight: 600; margin-bottom: 15px; 
}

.category{
	/*padding: 8px; border: 1px solid #c3a860; color: #c3a860; font-weight: 600; width: 100%;*/
    padding: 8px; border: 1px solid #282831; color: #282831; font-weight: 600; width: 100%;
   
}

.fadeAnim{
	-moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
}

a.box{
	overflow: hidden; display: block; text-decoration: none; height: 100%; position: relative; padding-bottom: 50px;
}

a.box:hover{
	background: #fffbf2;
	-webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
}

a.box h2, a.box p{
	color: #555555;
}

a.box .imageData{
	text-align: center; overflow: hidden; max-height: 296px;
	
}

a.box .imageData img{
	-webkit-transform: scale(1); transform: scale(1); text-decoration: none; outline: none; object-fit: cover;
}

a.box:hover .imageData img{
	-webkit-transform: scale(1.1); transform: scale(1.1);
}
.borderLight{
	border: 1px solid #e0e0e0;
}
.date{
	font-size: 14px; margin-bottom: 15px; font-weight: 600; color: #868686;
}
.date i{color: #222; margin-right: 5px;}

a.box p{
	margin-bottom: 0px; 
}
a.box .authorName{
	border-top: 1px solid #ccc; text-align: center;
	padding:1rem 1.5rem;
	color: #c3a860;
	position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: 600;
}

a.page-link{
	border: 1px solid #dde1e5; color: #313236; font-weight: 600; 
}

.page-item.active a.page-link{
	background: #c3a860; border:none;
}
a.page-link:hover{
	background: #f3f2f0; color: #000;
}
.page-link:focus{
	box-shadow: none;
}

/**************************************************/

#videos iframe{
	width: 100%; height: 100%;
}

.vidData{
	height: 277px; overflow: hidden; margin-bottom: 20px;
}

#videos h2{
	font-weight: 700;
}

#videos a.box{
	padding-bottom: 0px;
}

#videos a.box:hover{
	background: inherit;
	box-shadow: none;
}

#videos .btn-lg{
	font-weight: 600;
}

#videos .btn-lg:hover{
	background: #ff0000; border:1px solid #ff0000;
}

/**********************************************************/

#media .bgLight{
	background: #e4e4e4;
}
#media h1{
	font-weight: 700;
}
#media .bg-light{
	background: #f1f1f1 !important;
}

#media p{
	text-align: justify;
}

a.readMore{
	color: #c3a860; font-weight: 600;
}
a.readMore:hover{
	color: #000;
}
#media .imageData{
	max-height: 415px; overflow: hidden;
}

#media .imageData img{
	object-fit: cover;
}

#media .imageData iframe{
	width: 100%; height: 300px;
}

/**************************** blog inner page ***************************************/

.blogDetailPage .author{
	border-right: 1px solid #000; font-weight: 600;
}
.blogDetailPage .author span{
	font-style: italic;
}

.blogDetailPage .author, .blogDetailPage .date{
	font-size: 18px; padding-right: 20px; display: inline-block; vertical-align: middle;
	margin-bottom: 15px;
}

.blogDetailPage .date{
	padding-left: 20px; font-weight: 400;
}

.blogDetailPage h2{
	text-align: justify; color: #282831; letter-spacing: 1px;
}

.blogDetailPage p{
	text-align: justify; color: #505050;
}

.blogBanner img{
	width: 100%;
	height: auto;
}

.social_share a{
	display: inline-block; width: 55px; height: 55px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; text-align: center; line-height: 55px;
	margin-right: 5px; position: relative; font-size: 18px;  transition: all 0.2s ease-in-out;
}

.social_share a:hover{
	background: #222 !important;
}

.social_share a.fb{
	background: #516eaa;
}
.social_share a.twit{
	background: #29c5f6;
}

.social_share a.pinterest{
	background: #cb212a;
}

.social_share a.whatsApp{
	background: #7bbf6a;
}

.social_share a.share{
	border:1px solid #e5e5e5; color: #000; margin-right: 15px; pointer-events: none;
}

.social_share a.share:before{
	display: block; width: 8px; height: 12px; content: ''; position: absolute;
	top: 22px; right: -7px; background: url(../images/triangle.png) no-repeat left top;
}

/***********************************************************************/

@media(max-width: 768px){
	#media .imageData{
		margin-bottom:20px;
	} 
	#media .imageData iframe{
		height: 350px;
	}
	h1.bigHeading{
		font-size: 25px;
	}
}

@media(max-width: 576px){
	h1.bigHeading{
		font-size: 20px;
	}


}

    .blogBanner{
        max-height:650px; overflow:hidden;
    }
    .blogBanner img {
        object-fit:cover;
        }
    .blogBanner iframe{
        width:500px; height:400px;
    }

    @media(max-width:576px){
    .blogBanner iframe{
    width:100%; height:350px;
    }

    .blogBanner{
    max-height:350px;}
    }