ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 1.25rem;
    display: inline-block;
    padding: 13px 0;
    margin: 0 45px 0 45px;
    text-transform: uppercase;
    color: #282831;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

li.resp-tab-active {
	/*border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;*/
    border-bottom: 4px solid #c3a860;
}

.resp-tab-active {
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;*/
}

h2.resp-accordion {
    /*font-size: 13px;*/
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    padding: 15px 15px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}

h2.resp-tab-active {
   /* border-bottom: 0px solid #c1c1c1 !important;*/
    margin-bottom: 0px !important;
    border-bottom: 1px solid #f1d58c !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
     border-bottom: 1px solid #acacac;
      border-right: 1px solid #acacac;
      border-top: 0;
      border-left: 0;
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      margin-top: -9px;
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
}

h2.resp-tab-active span.resp-arrow {
    -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    /*background: #DBDBDB; !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    /*border-bottom: 1px solid #c1c1c1; !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    /*border-top: 1px solid #c1c1c1; !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
