.tabList ul, .questionList ul{
	margin:0;
	padding: 0;
	list-style: none;
}

.tabList ul{
	position: fixed;
} 

.tabList ul li{
	border-bottom: 1px solid #464646;  background: #282831;
}
/*.tabList ul li.active{background: #c3a860;}*/
.tabList ul li a{
	display: block; padding: 15px; text-align: center; font-weight: 700;  color: #fff; position: relative;
}

.tabList ul li a:before{
	opacity: 0;
	filter: alpha(opacity=0);
	content: '';
	width: 7px;
	height: 100%;
	background: #c3a860;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
}

.tabList ul li a:hover:before, .tabList ul li.active a:before{
	opacity: 1;
	filter: alpha(opacity=100);
}

/***************/

.questionList ul a{
	font-size: 22px; color: #c3a860; font-weight: 600;
	 display: block; position: relative;
}

.questionList ul a:before{
	content: ''; width: 10px; height: 10px; border-left:2px solid #c3a860; border-top:2px solid #c3a860; position: absolute; right: 0; top: 8px;
	-webkit-transform: rotate(225deg); transform: rotate(225deg);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; 
}

.questionList ul li.active a:before{
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
}
.questionList ul li{
	border: 1px solid #c3a860; padding: 5px 10px; margin-bottom: 25px; cursor: pointer;
}

.questionList ul li p{
	text-align: justify;
}

.questionList ul li > div{
	display: none; padding-top: 15px;
}

.questionList > div{
	margin-bottom: 40px;
}

@media(max-width:767px){
.tabList{
	height: 100px;
}
.tabList ul{
	position: absolute; z-index: 99; background: #fff; width: 100%; left: 0px; display: table; top: 0px;
}

.tabList ul.fixedMenu{
	position: fixed; top: 0px;
}

.tabList ul li{
	display: inline-block; display: table-cell; font-size: 14px;
}
.tabList ul li a:before{
	display: none;
}
.tabList ul li.active{
	background: #c3a860;
}



}