﻿
@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="about_row">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
            @*<div class="row align-items-center">
                <div class="col-md-3"><h2 class="sbold uppercase">About AstaGuru</h2></div><!-- col -->
                <div class="col-md-9">
                    <p>In the wake of the technological revolution as the world advanced onto a digital modus operandi, we saw a need for creating a relevantly sound medium for conducting auctions online. With this objective in mind, AstaGuru emerged as a safe and secure platform offering online auctions for Contemporary & Modern Indian Art. </p>
                    <p>The year 2008 was a turning point in the Indian Art field with AstaGuru’s inception. With the ambition to direct much deserved recognition towards the Indian Modern Art as well as Southeast Asian Art community, AstaGuru has enlisted prominent Indian artists alongside their oriental contemporaries from Japan, China, Sri Lanka, Thailand, and so on. But the quest did not halt there, AstaGuru has encompassed vintage collectibles and rare antiques such as Sculptures, Classic Miniatures Paintings, Fine Writing Instruments, Luxury Timepieces, Celebrity Memorabilia, Vintage Cars, Aristocratic Heirloom Jewelry, Exquisite Textiles and many more, under its proud banner.</p>
                    <p>The word AstaGuru is a thoughtful conjugation of Asta, of Italian origin, which translates to ‘auction’ and Guru, Sanskrit connotation for ‘master’ that indicates our distinguished finesse at being the leaders of auctioneering art and artefacts in India as well as globally. With the world melting into one harmonious digital cosmos, AstaGuru has strived to successfully bridge the gap between prospective buyers and consignors.</p>
                    <p>We facilitate easy access for buyers from around the world, eliminating the geographical and physical barriers. By transcending the limitations of live auctions, AstaGuru imparts effortless transparency to the process of acquiring and selling art and rare collectibles.</p>
					<p>Under the leadership of Mr Vickram Sethi, Founder & Chairman of The Arts Trust, Institute of Contemporary Indian Art Gallery, Mumbai & AstaGuru and Mr Tushar Sethi, CEO, AstaGuru, we have fine-tuned our expertise that set us apart. With their impeccable knowledge and keen eye for all things unique, we have achieved the status of a dynamic and pioneering auction house. Our aim is to give prominence to Indian modern art and subsequently cultivate a promising market for the same. </p>
                </div><!-- col -->
            </div>*@<!-- row -->
        @Html.Raw(ViewBag.Description)
        </div><!-- content -->
    </div><!-- about_row -->
    <div class="our_team">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
            <h2 class="sbold uppercase">Our Team</h2>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center extra-margin-top-40 extra-margin-bottom-30"><h3 class="sbold title_team">Management</h3></div>
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Vikran Sir.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Vickram Sethi</h5>
                        <h6>Chairman</h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Tushar.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Tushar Sethi</h5>
                        <h6>CEO</h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Digi.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Digamber Sethi</h5>
                        <h6>COO</h6>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
            <div class="hrline extra-margin-top-60"></div>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center extra-margin-top-40 extra-margin-bottom-30"><h3 class="sbold title_team">Specialists</h3></div>
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/sunny.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sunny Chandiramani</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">sunny@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sneha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sneha Gautam</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">sneha@astaguru.com</a>
                    </div>
                </div><!-- col -->
				  <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Mamta.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Mamta Rahate</h5>
                        <h6>Vice President</h6>
                        <a href="#" class="team_email">mamta@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Tami.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Tahmina Lakhani</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">tahmina@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Raziya.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Razia Parveen</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">razia@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/ankita.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Ankita Talreja</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">ankita@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/rakshanda.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Rakshanda Hussain</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">rakshanda@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Trisha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Trisha Mohan</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">trisha@astaguru.com</a>
                    </div>
                </div><!-- col -->				 
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Twinkle.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Twinkle Kodwani</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">twinkle@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Riddhi.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Riddhi Gandhi</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">riddhi@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Soumya.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Soumya Vajpeyi</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">soumya@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sagar.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jay Sagar</h5>
                        <h6>Specialist</h6>
                        <a href="#" class="team_email">jay@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/anthony.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Anthony Diniz</h5>
                        <h6>V.P. Operations</h6>
                        <a href="#" class="team_email">anthony@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sidhant.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Siddanth Shetty</h5>
                        <h6>V.P. Business Strategy & Operations</h6>
                        <a href="#" class="team_email">siddanth@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sarvesh.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sarvesh Tiwadi</h5>
                        <h6>Strategy</h6>
                        <a href="#" class="team_email">sarvesh@astaguru.com</a>
                    </div>
                </div><!-- col -->				 
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Jahangir.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jehangir Bhoot</h5>
                        <h6>Automobile</h6>
                        <a href="#" class="team_email">jehangir@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Uzma.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Uzma Poonawalla</h5>
                        <h6>Business Development</h6>
                        <a href="#" class="team_email">uzma@astaguru.com</a>
                    </div>
                </div><!-- col -->				 	
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/PRIYANSHI-SAKSENA.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Priyanshi Saksena</h5>
                        <h6>Marketing</h6>
                        <a href="#" class="team_email">priyanshi@astaguru.com</a>
                    </div>
                </div><!-- col -->			
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/kamran.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Kamran Chaudhary</h5>
                        <h6>Digital Marketing</h6>
                        <a href="#" class="team_email">kamran@astaguru.com</a>
                    </div>
                </div><!-- col -->		
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Simone.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Simone Mody</h5>
                        <h6>Digital Marketing</h6>
                        <a href="#" class="team_email">simone@astaguru.com</a>
                    </div>
                </div><!-- col -->	
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Anita.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Anita Anand</h5>
                        <h6>Brand Solutions</h6>
                        <a href="#" class="team_email">anita@astaguru.com</a>
                    </div>
                </div><!-- col -->						
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sanjiv.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sanjiv Sharma</h5>
                        <h6>Brand Solutions</h6>
                        <a href="#" class="team_email">sanjiv@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/sid.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sidhant Nayangara</h5>
                        <h6>Content Editor</h6>
                        <a href="#" class="team_email">s.nayangara@astaguru.com</a>
                    </div>
                </div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/SANGHITA-SINGH.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sanghita Singh</h5>
                        <h6>Content</h6>
                        <a href="#" class="team_email">sanghita@astaguru.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Sakshi.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Sakshi Batavia</h5>
                        <h6>Content</h6>
                        <a href="#" class="team_email">sakshi@theartstrust.com</a>
                    </div>
                </div><!-- col -->				
				<div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Harsha.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Harsha Masand</h5>
                        <h6>Content</h6>
                        <a href="#" class="team_email">harshamasand@astaguru.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Kartik.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Karthik Lynch</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">karthik@astaguru.com</a>
                    </div>
                </div><!-- col -->
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/jitu.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Jitu Nath</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">jitu@theartstrust.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/yash.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Yashaswi Singh</h5>
                        <h6>Logistics</h6>
                        <a href="#" class="team_email">yash.singh@astaguru.com</a>
                    </div>
                </div><!-- col -->				
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Aaditya.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Aditya Warang</h5>
                        <h6>Market Analyst</h6>
                        <a href="#" class="team_email">aditya@theartstrust.com</a>
                    </div>
                </div><!-- col -->
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Prem.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Prem Mahyavanshi</h5>
                        <h6>Market Analyst</h6>
                        <a href="#" class="team_email">prem@theartstrust.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/radhika.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Radhika Kerkar</h5>
                        <h6>Research</h6>
                        <a href="#" class="team_email">radhika@theartstrust.com</a>
                    </div>
                </div><!-- col -->
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Aish.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Aishwarya Chandurkar</h5>
                        <h6>Research</h6>
                        <a href="#" class="team_email">aishwarya@theartstrust.com</a>
                    </div>
                </div><!-- col -->
               <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/Enna.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Enna Kathrecha</h5>
                        <h6>Research</h6>
                        <a href="#" class="team_email">enna@theartstrust.com</a>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/snehal.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Snehal Pednekar</h5>
                        <h6>Human Resource</h6>
                        <a href="#" class="team_email">snehal@theartstrust.com</a>
                    </div>
                </div><!-- col -->	
				 <div class="col-sm-4 col-md-3 extra-margin-top-40">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="https://www.astaguru.com/Content/images/ANKITA-KAMBLI.jpg" class="img_responsive" />
                        </div>
                        <h5 class="sbold">Ankita Kambli</h5>
                        <h6>Human Resource</h6>
                        <a href="#" class="team_email">ankitakambli@theartstrust.com</a>
                    </div>
                </div><!-- col -->	
               
                
            </div><!-- row -->
        </div><!-- content -->
    </div><!-- our_team -->
</div><!-- Wrapper -->
