﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


        

<div  id="wrapper" class="footer_pages_content">
           
		
    
      <div style="text-align: center;">
	  <br>
                    <a href="https://www.astaguru.com/Home/registration"><img src="~/Content/images/vintage-CarEmailer1.png" class="img_responsive"></a>
                    </div>

   

</div><!-- Wrapper -->