﻿
@{
    ViewBag.Title = "AuctionAnalysis";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.PastAuctionService PAS = new Astaguru.Services.UserService.PastAuctionService();
    int AuctionId = Convert.ToInt32(Request.QueryString["AuctionId"]);
    int TotalLots = PAS.GetAuctionAnalysisTotalLots(AuctionId);
    int SoldLots = PAS.GetAuctionAnalysisSoldLots(AuctionId);
    int Estimate = PAS.GetAuctionAnalysisEstimate(AuctionId);

    int SoldPercentage = SoldLots * 100 / TotalLots;
    int EstimatePercentage = Estimate * 100 / TotalLots;

    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    
    int page = Convert.ToInt32(Request["page"].ToString());
    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AuctionId);
}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase">Auction Analysis</h3>
        <span class="auction_info">@Baner.auctiontitle, @Baner.auctiondate</span>
    
        <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@page" class="outline_link">Back to Past Auction</a></div>

        <div class="table-responsive table_box extra-margin-top-40">
            <table class="table table-striped">
                <thead class="table_head">
                    <tr>
                        <th>&nbsp;</th>
                        <th>No.</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total lots in auction</td>
                        <td>@TotalLots</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>Lots sold</td>
                        <td>@SoldLots</td>
                        <td>@SoldPercentage %</td>
                    </tr>
                    <tr>
                        <td>Lots sold above higher estimate</td>
                        <td>@Estimate</td>
                        <td>@EstimatePercentage %</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive table_box extra-margin-top-30">
            <table class="table table-striped">
                <thead class="table_head">
                    <tr>
                        <th>&nbsp;</th>
                        <th>US$</th>
                        <th>RS.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Winning Value (inclusive of margin)</td>
                        @foreach (var item in PAS.GetAuctionAnalysisWinningValue(AuctionId))
                        {
                            if (AuctionId == 1 || AuctionId == 2 || AuctionId == 3)
                            {
                                 <td>@Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, 2, 10).ToString())</td>
                                 <td>@Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, 1, 10).ToString())</td>
                            }
                            else
                            {
                                  <td>@Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, 2, 15).ToString())</td>
                                  <td>@Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, 1, 15).ToString())</td>    
                            } 
                          
                        }
                        
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="table-responsive table_box extra-margin-top-30">
            <table class="table table-striped">
                <thead class="table_head">
                    <tr>
                        <th>Lot No</th>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Winning Value US$</th>
                        <th>Winning Value Rs.</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in PAS.GetAuctionAnalysis(AuctionId))
                    {
                    <tr>
                        <td>@item.reference</td>
                        <td>@item.firstname @item.lastname</td>
                        <td><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid">@item.title</a></td>
                        @if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                        {
                            <td>@Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, 2, 10).ToString())</td>
                        <td>@Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, 1, 10).ToString())</td>
                        }
                        else
                        {
                        <td>@Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, 2, 15).ToString())</td>
                        <td>@Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, 1, 15).ToString())</td>    
                        }
                        
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div><!-- content -->

</div><!-- Wrapper -->
