﻿@model Astaguru.Models.Auction
@{
    ViewBag.Title = "bidhistory";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    string Bidclosingtime = string.Empty;
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    int userid = Convert.ToInt32(Session["userid"]);
    DateTime CurrentDate = DateTime.Now;
    Bidclosingtime = @Model.Bidclosingtime.ToString("yyyy-MM-dd HH:mm:ss");
    DateTime date_Bidclosingtime = DateTime.ParseExact(Bidclosingtime, "yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);

    //Check user Current Lead Or Not

    int leadUserId = CAS.GetUserBiderOwner(Model.reference);

    double topFiveBidRs = Model.pricers;
    double topFiveBidUs = Model.priceus;
    string image = "zoomImage:\"http://astaguru.com:81/" + Model.image + " \", zoomSizeMode: \"image\", tintColor:\"#000\", tintOpacity:0.25, captionPosition:\"bottom\", maxMagnification:4, autoInside:750";

    int k = 0;

}

<div id="wrapper">
    <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title bdr_no">
                    <h1 class="title_font medium_text">Modern Indian Art-No Reserve Auction</h1>
                    <p>19 - 20 December, 2018</p>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div class="container-fluid content billing_address extra-padding-bottom-100 extra-padding-top-40">
        <div class="row">
            <div class="col-lg-6">
                <div>

                    <div class="text-center detail_big_img_wrap">
                        <div class="cloudzoom_big_thumb">
                            <img class="cloudzoom" height='370' alt="" id="zoom1" src="http://astaguru.com:81/@Model.image" data-cloudzoom='
                                 zoomimage:"http: />/astaguru.com:81/@Model.image",

                                zoomSizeMode: "image",
                                tintColor:"#000",
                                tintOpacity:0.25,
                                captionPosition:"bottom",
                                maxMagnification:4,
                                autoInside:750'
                                >
                            </div>

                            @if (Model.view1 != null || Model.view2 != null || Model.view3 != null || Model.view4 != null)
                            {


                                <div id="slider1" class="zoom_cloud_thumb">
                                    <div class="thumbelina-but vert top">&#708;</div>
                                    <ul>
                                        @if (Model.view1 != null)
                                        {
                                            <li>
                                                <img class="cloudzoom-gallery" src="http://astaguru.com:81/@Model.view1"
                                                     data-cloudzoom="
                                                     usezoom '#zoom1' ,
                                                     image:'http: />/astaguru.com:81/@Model.view1',
                                                    zoomImage:'http://astaguru.com:81/@Model.view1'
                                                    ">
                                                </li>
                                        }
                                        @if (Model.view2 != null)
                                        {
                                            <li>
                                                <img class="cloudzoom-gallery" src="http://astaguru.com:81/@Model.view2"
                                                     data-cloudzoom="
                                                     usezoom '#zoom1' ,
                                                     image:'http: />/astaguru.com:81/@Model.view2',
                                                    zoomImage:'http://astaguru.com:81/@Model.view2'
                                                    ">
                                                </li>
                                        }
                                        @if (Model.view3 != null)
                                        {
                                            <li>
                                                <img class="cloudzoom-gallery" src="http://astaguru.com:81/@Model.view3"
                                                     data-cloudzoom="
                                                     usezoom '#zoom1' ,
                                                     image:'http: />/astaguru.com:81/@Model.view3',
                                                    zoomImage:'http://astaguru.com:81/@Model.view3'
                                                    ">
                                                </li>
                                        }
                                        @if (Model.view4 != null)
                                        {
                                            <li>
                                                <img class="cloudzoom-gallery" src="http://astaguru.com:81/@Model.view4"
                                                     data-cloudzoom="
                                                     usezoom '#zoom1' ,
                                                     image:'http: />/astaguru.com:81/@Model.view4',
                                                    zoomImage:'http://astaguru.com:81/@Model.view4'
                                                    ">
                                                </li>
                                        }

                                    </ul>
                                    <div id="fwd3" class="thumbelina-but vert bottom">&#709;</div>
                                </div>
                            }

                        </div>

                        @*<img style="width:80%;min-width: 300px;" class="cloudzoom" id="zoom1" src="http://astaguru.com:81/@Model.image" data-cloudzoom='zoomImage:"http://astaguru.com:81/@Model.image",
                             zoomsizemode "image" ,
                             tintcolor:"#000",
                             tintopacity:0.25,
                             captionposition:"bottom",
                             maxmagnification:4,
                             autoinside:750
                             '>

                        @if (Model.view1 != null || Model.view2 != null || Model.view3 != null || Model.view4 != null)
                        {
                            <div id="slider1">
                            <div class="thumbelina-but vert top"><i class="icon-down-arrow"></i></div>
                            <ul>

                                @if(Model.view1 != null)
                                {
                                    string img = "http://astaguru.com/paintings/dec18NR-60o.jpg";
                                     <li>
                                         <img class="cloudzoom-gallery" src="http://astaguru.com/@Model.view1"
                                              data-cloudzoom='
                                         useZoom:"#zoom1",
                                         image:"@img",
                                         zoomImage:"@img"'>
                                </li>
                                }


                            @if(Model.view2 != null)
                            {

                                string img1 = "http://astaguru.com/paintings/dec18NR-60ao.jpg";

                                <li>
                                    <img class="cloudzoom-gallery" src="http://astaguru.com/@Model.view2"
                                         alt="Cloud Zoom thumb image"
                                         title="Works great with iPad and other touch-enabled devices"
                                         data-cloudzoom='
                                         useZoom:"#zoom1",
                                         image:"@img1",
                                         zoomImage:"@img1"'>
                                </li>
                            }

                            @if(Model.view3 != null)
                            {
                                <li>
                                    <img class="cloudzoom-gallery" src="http://astaguru.com/@Model.view3"
                                         alt="Cloud Zoom thumb image"
                                         title="Regular free updates and new features with technical support"
                                         data-cloudzoom='
                                         useZoom:"#zoom1",
                                         image:"images/img-big-detail3.jpg"
                                         '>
                                </li>
                            }

                                @if (Model.view4 != null)
                                {
                                    <li>
                                        <img class="cloudzoom-gallery" src="http://astaguru.com/@Model.view4"
                                             alt="Cloud Zoom thumb image"
                                             title="Regular free updates and new features with technical support"
                                             data-cloudzoom='
                                         useZoom:"#zoom1",
                                         image:"images/img-big-detail3.jpg"
                                         '>
                                    </li>
                                }




                            </ul>
                            <div class="thumbelina-but vert bottom"><i class="icon-down-arrow"></i></div>
                        </div>
                        }*@


                    </div>

                    <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@Model.productid"><i class=" icon-star"></i>add to my gallery</a>
                    <br />
                    <span id="Success_@Model.productid" style="color:green" class="clsClearGallary"></span>
                    <span id="Err_@Model.productid" style="color:red" class="clsClearGallary"></span>
                </div><!-- col -->

                <div class="col-lg-6">
                    <div class="detail_content">
                        <span id="errBid" style="color:red"></span>
                        <a href="@baseUrlPath/Artist/artistProfile?artistid=@Model.artistid" target="_blank">
                            <h2 class="uppercase sbold">
                                @Model.firstname @Model.lastname
                            </h2>
                        </a> 
                        <h3>@Model.title</h3>
                        <dl class="row detail_content_dl">
                            <dt class="col-sm-3 col-lg-2">Medium</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.medium</dd>

                            <dt class="col-sm-3 col-lg-2">Year</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">
                                @Model.Date
                            </dd>

                            <dt class="col-sm-3 col-lg-2">Size</dt>
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize</dd>

                            <dt class="col-sm-3 col-lg-2">Estimate</dt>
                            @if (currency == 1)
                            {
                                <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                            }
                            else if (currency == 2)
                            {
                                <dd class="col-sm-9 col-lg-10 sbold">@Model.estamiate</dd>
                            }
                            else
                            {
                                <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                            }


                            <dt class="col-sm-3 col-lg-2"></dt>
                            <dd class="col-sm-9 col-lg-10">
                                <a href="@baseUrlPath/Home/billingAddress?productid=@Model.productid" class="view_additional_link" target="_blank">view additional charges</a>
                            </dd>

                        </dl>

                        <div class="">
                            <div class="timer_wrap">
                                <div class="counter_timer"></div>
                                @if (CurrentDate.CompareTo(date_Bidclosingtime) > 0)
                                {
                                    <div><span style="color:red">Bid Closed</span></div>
                                }
                                else
                                {
                                    <span class="product_left">left</span>
                                    <div class="counter_timer_@Model.productid">
                                        <script type="text/javascript">
                                            //Count Timer
                                            $(document).ready(function () {
                                                $('.counter_timer_@Model.productid').timeTo({
                                                    //timeTo: new Date(new Date('Tue Apr 23 2019 09:00:00 GMT+0530 (India Standard Time)')),
                                                    timeTo: new Date('@Bidclosingtime'),
                                                    //timeTo: date,
                                                    theme: "black",
                                                    displayCaptions: true,
                                                    displayDays: 0,
                                                    //fontSize: 48,
                                                    //captionSize: 14
                                                });
                                            });


                                        </script>
                                    </div>
                                }
                            </div>
                        </div>

                        @if (currency == 1)
                        {
                            <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">
                                <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                    <p class="uppercase">current bid</p>
                                    <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                                </div><!-- col -->

                                <div class="col-sm-6 col-lg-6 custom_col">
                                    <p class="uppercase">next valid bid</p>

                                    <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</h3>

                                </div><!-- col -->


                                <div class="col-sm-12 custom_col">
                                    @if (userid == leadUserId)
                                    {
                                        <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                    }
                                </div><!-- col -->
                            </div><!-- row -->
                        }
                        else if(currency == 2)
                        {
                            <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">
                                <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                    <p class="uppercase">current bid</p>
                                    <h3 class="sbold">$ @Astaguru.Services.Common.DollerFormat(@Model.priceus.ToString())</h3>
                                </div><!-- col -->

                                <div class="col-sm-6 col-lg-6 custom_col">
                                    <p class="uppercase text_next_valid_bid">next valid bid</p>

                                    <h3 class="sbold">$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.priceus, currency).ToString())</h3>
                                </div><!-- col -->

                                <div class="col-sm-12 custom_col">
                                    @if (userid == leadUserId)
                                    {
                                        <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                    }
                                </div><!-- col -->

                            </div><!-- row -->
                        }
                        else
                        {
                             <div class="row custom_row details_text mobile_view_2 extra-margin-top-30" style="max-width:460px;">
                                <div class="col-sm-6 col-lg-6 custom_col divider_right">
                                    <p class="uppercase">current bid</p>
                                    <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(@Model.pricers.ToString())</h3>
                                </div><!-- col -->

                                <div class="col-sm-6 col-lg-6 custom_col">
                                    <p class="uppercase">next valid bid</p>

                                    <h3 class="sbold">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getNextValidBidAmount(@Model.pricers, currency).ToString())</h3>

                                </div><!-- col -->


                                <div class="col-sm-12 custom_col">
                                    @if (userid == leadUserId)
                                    {
                                        <p class="uppercase text_next_valid_bid current_leading">Currently leading</p>
                                    }
                                </div><!-- col -->
                            </div><!-- row -->
                        }



                        @if (userid == leadUserId)
                        {

                        }
                        else
                        {
                            if (CurrentDate.CompareTo(date_Bidclosingtime) > 0)
                            {
                                <div class="row custom_row details_text mobile_view_2">
                                    <div class="col-sm-12 custom_col">
                                        <a href="#" class="btn_lgrey btn_proxybid full_width extra-margin-top-40"><span data-toggle="tooltip" data-placement="top" title="Proxy Bid">Proxy Bid</span></a>

                                        <a href="javascript:avoid(0)" class="btn_lgrey btn_grey btn_bidnow full_width extra-margin-top-40 disabled"><span>bid now</span></a>
                                    </div><!-- Col -->

                                </div><!-- row -->

                                <div class="extra-margin-top-10 popover_price">

                                    <a href="javascript:avoid(0)" class="view_additional_link" data-popover="true" data-html=true data-content="
                                       @if (currency == 1) { for (int i = 0; i < 5; i++) { topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
}
}
else
{
    topFiveBidUs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidUs, currency);
    <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidUs.ToString())</h5>
}

    ">Next Five Price
    </a>

    </div>
                            }
                            else
                            {
                                <div class="row custom_row details_text mobile_view_2">
                                    <div class="col-sm-12 custom_col">
                                        <a href="@baseUrlPath/Home/LotDetails?productid=@Model.productid" class="btn_lgrey btn_proxybid full_width extra-margin-top-40" ><span data-toggle="tooltip" data-placement="top" title="Proxy Bid" id="btnProxyBid">Proxy Bid</span></a>
                                        @if (userid == leadUserId)
                                        {
                                            <a href="javascript:avoid(0)" class="btn_lgrey btn_grey btn_bidnow full_width extra-margin-top-40 disabled"><span>bid now</span></a>
                                        }
                                        else
                                        {
                                            <a href="@baseUrlPath/Home/LotDetails?productid=@Model.productid" class="btn_lgrey btn_grey btn_bidnow full_width extra-margin-top-40" id="btnBidNow"><span>bid now</span></a>
                                        }

                                    </div><!-- Col -->

                                </div><!-- row -->

                                <div class="extra-margin-top-10 popover_price">

                                    <a href="javascript:avoid(0)" class="view_additional_link" data-popover="true" data-html=true data-content="
                                       @for (int i = 0; i < 5; i++) { topFiveBidRs = Astaguru.Services.Common.getNextValidBidAmount(@topFiveBidRs, currency);
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(topFiveBidRs.ToString())</h5>
}">Next Five Price
    </a>

    </div>
                            }
                        }


                    </div><!-- detail_content -->

                </div><!-- col -->
            </div><!-- Row -->


        <h5 class="bold extra-margin-top-40 black">Bid History (No of Bids - <span id="lblNoOfBids"></span>)</h5>
        <div class="table-responsive table_box table_bid_history valign_cell extra-margin-top-20">
            <table class="table table-striped">
                <thead class="table_head">
                    <tr>
                        <th>Nick Name</th>
                        <th>Amount ($)</th>
                        <th>Amount (₹)</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in CAS.GetBidHistory(Model.productid, userid))
                    {
                        k++;
                      <tr>
                        <td>@item.anoname</td>
                          <td>@item.Bidpriceus</td>
                          <td>@item.Bidpricers</td>
                        
                        <td>
                            <p>@item.daterec</p>
                            @*<p>Proxy</p>*@
                        </td>
                    </tr>
                    }

                    
                </tbody>
            </table>
        </div>
    </div><!-- content -->
    <input type="hidden" id="hiddenBidCount" value="@k" />
</div><!-- Wrapper -->

<script>
    $(document).ready(function () {
        var totalBid = $("#hiddenBidCount").val();
        document.getElementById('lblNoOfBids').innerHTML = totalBid;

        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }
    });
</script>