﻿@model Astaguru.Models.Blog
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    Astaguru.Services.UserService.BlogService PAS = new Astaguru.Services.UserService.BlogService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    //var categoryid = Convert.ToString(Model.categoryid);


    string categoryid = Model.categoryid.ToString();


    string Subquery = string.Empty;
    if (@HttpContext.Current.Session["SubqueryPast"] != null)
    {
        Subquery = @HttpContext.Current.Session["SubqueryPast"].ToString();
    }
    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }


    double TotalPaginationCount = PAS.GetBlogCount(Subquery,categoryid);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(6);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);


    List<Astaguru.Models.Blog> Bloglist = null;
    Bloglist = PAS.GetBlogList(Subquery,page, categoryid);

}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="container pt-4" id="blogs">
@using (Html.BeginForm("blog", "Home", FormMethod.Post, new { id = "myform" }))
{

            <div class="row justify-content-between align-items-center mb-4">
                <div class="col-6 col-lg-3">
                    <h1 class="mb-0">Blogs</h1>
                </div>

                <div class="col-6 col-lg-3 text-right">
                    
                        @Html.DropDownListFor(model => model.categoryid, Model.CategoryList, "Categories", new { @id = "ddlCategorylist", @class = "category" })
                        @Html.HiddenFor(m => m.categoryid, new { id = "hdncategoryid" })
                    
                    @*<select class="category">
                        <option selected>Categories</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                        <option>Lorem Ipsum</option>
                    </select>*@
                </div>

            </div>
}
            <div class="row justify-content-center" id="blogBox">

                @if (Bloglist.Count > 0)
                {
                    foreach (var item in Bloglist)
                    {
                        <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                            <a href="/blogdetailpage/@item.Slug" class="rounded borderLight box fadeAnim">
                                <div class="imageData">
                                    <img src="/Content/uploads/Blog/@item.Image" class="img-fluid fadeAnim">
                                </div>

                                <div class="matter p-4">
                                    <h2>@item.Title</h2>
                                    <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>@item.PostDate</div>
                                 @Html.Raw(item.Description)
                                </div>
                                <div class="authorName">
                                    @item.CreatedBy
                                </div>
                               
                            </a>
                        </div>
                    }
                }
                @*<div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-1.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>

                <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-2.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>

                <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-3.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>

                <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-4.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>

                <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-5.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>

                <div class="col-sm-6 col-lg-4 mb-5 aos-item" data-aos="fade-up">
                    <a href="#" class="rounded borderLight box fadeAnim">
                        <div class="imageData">
                            <img src="images/blog/img-6.jpg" class="img-fluid fadeAnim">
                        </div>

                        <div class="matter p-4">
                            <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                            <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        </div>
                        <div class="authorName">
                            Jimmy Singh
                        </div>

                    </a>
                </div>*@

            </div>

            <div class="row mb-5">
                <div class="col-12">


@if (TotalPaginationCount > 6)
{
    <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
        <ul class="pagination">
            <li class="page-item">
                @if (PrePage > 0)
                {
                    PrePage = PrePage - 6;
                    <a class="page-link" href="@baseUrlPath/Home/blog?page=@PrePage" aria-label="Previous">
                        <span aria-hidden="true"><i class="icon-prev"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                }

            </li>

            @{
                int pagination = 0;
                for (int i = 1; i <= pagenationOffSet; i++)
                {

                    if (page == pagination)
                    {
                        <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Home/blog?page=@pagination">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@baseUrlPath/Home/blog?page=@pagination">@i</a></li>
                    }
                    pagination = pagination + 6;
                }
            }

            @{
                NextPage = TotalPaginationCount - NextPage;
                NextPage = NextPage - 6;
                <li class="page-item">
                    @if (NextPage > 0)
                    {
                        page = page + 6;
                        <a class="page-link" href="@baseUrlPath/Home/blog?page=@page" aria-label="Next">
                            <span aria-hidden="true"><i class="icon-next"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                    else
                    {

                    }
                </li>

            }

        </ul>
    </nav>

                }


                    @*<ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>*@
                 
                </div>
            </div>
        </div>
    </div>
</div>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/aos.css" rel="stylesheet" />
<link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/js/aos.js"></script>





<script>
    $(function () {
        $('#ddlCategorylist').change(function () {
            $('#myform').submit();
        });
    });
</script>


<script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });

</script>






