﻿
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}



<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <h3 class="sbold uppercase">Why AstaGuru?</h3>

        <div class="row custom_row">
            <div class="col-md-8 extra-margin-top-30 custom_col">
                <p>AstaGuru was established by art connoisseurs and collectors Mr Vickram Sethi & Mr Tushar Sethi in the year 2008, we are India's premium online art auction house. We constantly innovate and have been venturing into newer terrains such as antiques & collectibles. Modern & Contemporary Indian art is gaining attention globally, creating jobs for individuals who are inclined towards this dynamic world of colours.</p>
                <p>AstaGuru is growing and we are keen on exchanging ideas and working with likeminded individuals. Being a part of our institution gets you well acquainted with this booming industry and provides you with an opportunity to learn about the intangible process of creating art through imagination. Our team comprises of driven individuals and our work culture revolves around having fun while learning and working. So if you see yourself as a person who would enjoy being surrounded by art & antique artifacts, AstaGuru is just the place for you. Be part of this thriving industry and strike a balance between job satisfaction and soul satisfaction. Share your details with us and upload an updated resume.</p>
                <div class="hrline extra-margin-top-30"></div>
                <h3 class="sbold uppercase extra-padding-top-40">Current Vacancy</h3>
                <div class="accordion extra-margin-top-30" id="accordionExample">

				 <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Executive/Manager Client Relations
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Executive/Manager Client Relations</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior and Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>To Ensure This position is responsible for achieving profitability as well as end to end client
management objectives, typically from new clients or accounts. Explore marketplace opportunities,
prospect and engage new clients, develop proposals, and manage the contract process right from initiation
to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">                                   
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Responsible for managing the end-to-end sales process for the artworks and collectibles through private sales & auctions.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Mid-Level- Should have managed a team of 2-5 members</b></li>
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior Level- Min 3-6 years</li>                                  
									<li>Mid-Level- 7+ years</li>                                  
									<li>Industry- Luxury Retail Brands (Louis Vuitton, Gucci, Chanel, Hermes, Burberry), Wealth Management sector</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 21-26 yrs<br>
								Mid-Level- 27- 32 yrs</p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p>Skills- Excellent communication skills<br>
 Excellent interpersonal skills<br>
 Good business & negotiation skills<br>
 Prospecting & client management<br>
 Mid-Level- Leadership skills
</p>
<p>
Personal attributes- - Pleasing personality<br>
 Self-Motivator<br>
 Presentation skills<br>
 Independent thinker
 
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path :</h5>
                                <p>Junior- Level- Executive- Client Relations<br>
 Sr. Executive- Client Relations<br>
Mid- Level Deputy Manager- Client Relations<br>
 Manager- Client Relations<br>
 Sr. Manager- Client Relations
</p>                        


                            </div>
                        </div>
                    </div>
				<div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                    Watch Expert
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Watch Expert</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Watch Auction- Research, sourcing and ensuring sales. Explore
marketplace opportunities, prospect and engage new clients, develop proposals, and manage the contract
process right from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> To find rare and limited-edition timepieces, and has an extensive network of watch dealers, wholesalers
and jewellers to track down even the most unique pieces.</span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span> Looking for high performing sales candidates with work experience in vintage and rare timepieces for more than 7+yrs.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>
                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years in luxury watch segment (For Eg- Brands like Rolex, Patek Philippe)</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on luxury watches, Luxury Sales, Client Relations & Retention. </span></li>                                                               
                                </ul>
								<p>Skills- Excellent communication skills<br>
 Excellent interpersonal skills<br>
 Good business & negotiation skills<br>
 Prospecting & client management<br>
 Leadership skills
</p>
<p>
Personal attributes- Pleasing personality<br>
 Presentation skills<br>
 Independent thinker<br>
 Self-Motivator
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Watch Expert<br>
Advisor<br>
</p>                        
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Cars Expert
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Cars Expert</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Cars Auction- Research, sourcing and ensuring sales. Explore marketplace
opportunities, prospect and engage new clients, develop proposals, and manage the contract process right
from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> To source vintage, classical and royal antique cars, has an extensive network of antique car dealers, car
enthusiasts and collectors, knowledge of the value, heritage and significance of vintage and classic cars
and competence to track down a superior network of cars and aficionados. </span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Looking for high performing sales candidates with work experience in vintage and classic cars for more than 7+yrs.</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>

                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years’ experience in vintage and luxury cars segment</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p>Skills- Excellent communication skills<br>
 Excellent interpersonal skills<br>
 Good business & negotiation skills<br>
 Prospecting & client management<br>
 Leadership skills
</p>
<p>
Personal attributes- Independent thinker<br>
 Self-Motivator<br>
 Car Enthusiastic<br>
 Pleasing personality<br>
 Presentation skills
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Car Expert<br>
Advisor<br>
</p>                        
 
                            </div>
                        </div>
                    </div>
					<div class="card">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Jewellery Specialist
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Jewellery Specialist</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>Manage the entire Jewellery Auction- Research, sourcing and ensuring sales. Explore
marketplace opportunities, prospect and engage new clients, develop proposals, and manage the contract
process right from initiation to shipping and ensure repeat business from existing clients.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>To find exquisite pieces of jewellery of high value and rarity has an extensive network of jewellers and
clientele with interest for acquiring collectable pieces of luxury ornaments, having deep knowledge of
regalia and heirloom collections of fine jewellery, and competence to track down even the most unique
pieces.</span></li>
                                    <li><span>Research, identify, connect and tenaciously generate new potential clients</span></li>
                                    <li><span>Methodically qualify, build, and manage an accurate sales funnel</span></li>
                                    <li><span>Strategically plan and achieve sales target annually</span></li>
                                    <li><span>Maintain a high volume of activity including outbound calls, emails and ensure continuous client interaction.</span></li>
                                    <li><span>Looking for high performing sales candidates with work experience in vintage and classic cars for more than 7+yrs.</span></li>
									<li><span>Have contact with royal lineage</span></li>
									<li><b>This profile involves travelling within the city, across the cities in the country and international for Client Meetings as and when required.</b></li>
									<li><b>Should have managed a team of 2-5 members</b></li>

                                </ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 7+ years in vintage or luxury jewellery segment</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in Luxury Management or MBA from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on vintage jewellery,Luxury Sales, Client Relations & Retention.</span></li>                                                               
                                </ul>
								<p>Skills- Excellent communication skills<br>
 Excellent interpersonal skills<br>
 Good business & negotiation skills<br>
 Prospecting & client management<br>
 Leadership skills
</p>
<p>
Personal attributes- Independent thinker<br>
 Self-Motivator<br>
 Car Enthusiastic<br>
 Pleasing personality<br>
 Presentation skills
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Jewellery Specialist<br>
Advisor<br>
</p>                        
 
                            </div>
                        </div>
                    </div>

					<div class="card">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    Manager International PR
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Manager International PR</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to plan, strategize and manage international public relations and
handle all aspects of planned PR campaigns and PR activities.</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span> Develop and maintain relationships with decision makers of new and existing clients, and media
outlets/companies on an international platform</span></li>
                                    <li><span>Research and analyse target market at an international level to develop strategic and tactical plans to grow the business.</span></li>
                                    <li><span>Plan, direct and set the strategic direction of marketing and business development initiatives within an organization</span></li>
                                    <li><span> Develop and maintain relationships with media outlets.</span></li>
                                    <li><span>Develop pricing strategies and media relations plan, balancing firm objectives and customer satisfaction.</span></li></ul>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- 5+ years</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Knowledge on vintage jewellery,Luxury Sales, Client Relations & Retention.</span></li>    
									        <li><span> Knowledge of social media (blogs, Facebook, Twitter, etc.) </span></li> 
											        <li><span> Have strong network/contacts with media house, newspapers and magazines on an international platform</span></li> 
                                </ul>
								<p>Skills- Excellent communication skills<br>
 Excellent interpersonal skills<br>
 Good business & negotiation skills<br>
 Leadership skills
</p>
<p>
Personal attributes- 
 Pleasing personality<br>
 Presentation skills
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Manager- PR<br>
Sr. Manager- PR<br>
</p>                        
 
                            </div>
                        </div>
                    </div>
					<div class="card">
                        <div class="card-header" id="headingTwelve">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                   Executive Editor
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Executive Editor</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position will be in-charge of copy editing and will anchor all editorial content and will be responsible for seamlessly managing production from catalogues to the in-house Magazine as well As social media, the executive editor will closely monitor all aspects</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Oversee content production and pay attention to details as the editor will need to edit every single piece of writing</span></li>
                                    <li><span>Organized and ensuring completion of projects within deadlines</span></li>
                                    <li><span>Editing copy and improving on it, educate writers on best practices, identify ways to improve the flow of materials, and advise writers on content pieces</span></li>
									<li><span>Develop a content calendar</span></li>
									<li><span>Develop ideas for content</span></li>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Executive Editor- 10-15 years</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- Bachelor's degree in journalism or English<br>Diploma graduate in journalism or English</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 32+ yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 Knowledge- Strong writing and proofreading skills<br>
Experience with content management systems<br>
Great attention to detail<br>
Ability to give constructive feedback<br>
Conceptual creative abilities<br>
Skills- Excellent communication skills<br>
Excellent interpersonal skills<br>
Strong Decision making skills<br>
Personal attributes- Ability to work independently<br>
Technical Skills- Proficient in MS Office suite of Programs<br>

								
	<bAdditionally for Executive Editor- Leadership Skills</b>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Executive Editor<br>
Sr. Editor<br>
</p>                        
 
                            </div>
                        </div>
                    </div>
					<div class="card">
                        <div class="card-header" id="headingThirteen">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                  Manager Logistics
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Manager Logistics</p>
								<h5 class="sbold black">Level</h5>
								<p>Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible to manage the entirelogistics personnel and logistics systems, direct daily operations and stock managementof the company and ensure seamless gallery operations on time</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Logistics Management- High Service Levels- Increase Accuracy in Documentations Reduce Downtime</span></li>
								<li><span>Manage the entire Packaging Process- Enhance Packaging and maintain consistency</span></li>
								<li><span>Analyse, strategize and plan to execute reductionin operational costs</span></li>
								<li><span>Assign Primary and Secondary 3PL</span></li>
								<li><span>Ensure seamless managing of CRM system (Inventory Management System)</span></li>
								<li><span>Ensure smooth and high efficiency in logistics management</span></li>
								<li><span>Gallery Operations : Plan and execute daily activities in the gallery </span></li>
								<li><span>Artwork Stock Management- Monitor stock-in, stock-out </span></li>
								<li><span>Vendor Management</span></li>
								
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Mid-Level- Min 3+ years’ experience in logistics operations</li>                                  
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory (Preferred MBA in from international university)</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Mid-Level- 27- 35yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                Knowledge- Knowledge in Logistics operations, Stock Management and Administration<br>
                       Knowledge on international transport rules and regulations<br>
Skills-  Excellent communication skills<br>
            Excellent interpersonal skills<br>
    Leadership skills<br>
Personal attributes- Independent thinker<br>
                                    Self-Motivator<br>
Analytical Thinking ability<br>
Attention to Detail <br>
                                    Complex problem solving skills<br>
Presentation skills<br>
Technical Skills- Proficient in MS Office suite of Programs<br>


                                <h5 class="sbold black">Career Path:</h5>
                                <p>1)Manager- Logistics<br>
<br>2)Sr. Manager Logistics<br>3)AVP- Logistics
</p>                        
 
                            </div>
                        </div>
                    </div>

                   
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Content & Research Associate
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Content & Research Associate</p>
                                <h5 class="sbold black">Business Unit:</h5>
                                <p>Astaguru</p>
                                <h5 class="sbold black">Job Responsibility:</h5>
                                <p>This position is responsible to collate data in terms of painting & fine art and also be responsible for content writing and content editing.</p>
                                <h5 class="sbold black">Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Responsible to gather data in terms of painting and fine art.</span></li>
                                    <li><span>To prepare subjective and objective content.</span></li>
                                    <li><span>Responsible to do fieldwork (not on a regular basis) in terms of collecting and gathering information which involves cataloging art works.</span></li>
                                    <li><span>Assist content writer & market analysis in writing newspaper blogs, online blogs & articles.</span></li>
                                    <li><span>Responsible for collecting, tabulating & cataloging relevant content on artist, art work & the art work.</span></li>
                                    <li><span>Responsible to do structured research, research on artists, paintings.</span></li>
                                </ul>
                                <h5 class="sbold black">Functional Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Conceptualizing.</li>
                                    <li>Excellent written & verbal communication skills</li>
                                </ul>
                                <h5 class="sbold black">Technical Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Proficient in MS Office suite of Programs</li>
                                </ul>
                                <h5 class="sbold black">Required Qualification:</h5>
                                <p>Proficient in MS Office suite of Programs</p>
                                <h5 class="sbold black">Salary:</h5>
                                <p>OPEN (based on last drawn) (Note: Salary not a constraint for right fit)</p>
                                <h5 class="sbold black">Experience:</h5>
                                <p>(0-3) years</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Market Analyst
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Market Analyst</p>
                                <h5 class="sbold black">Business Unit:</h5>
                                <p>Astaguru</p>
                                <h5 class="sbold black">Job Responsibility:</h5>
                                <p>This position is responsible to do market analysis and write analytical reports/narrative reports related to the fine art industry & luxury brands.</p>
                                <h5 class="sbold black">Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>In charge of writing, analyzing, tabulating & formulating reports on various fine art & luxury brand subjects.</span></li>
                                    <li><span>Responsible of writing narrative reports on news paper article, blogs & T.V show segments throughout the year.</span></li>
                                    <li><span>Broad understanding of the fine art and luxury brand industry, the structure of industry, operations and economic aspects such as markets.</span></li>
                                    <li><span>Develop Reports and Presentation on Industry trends throughout the year.</span></li>
                                </ul>
                                <h5 class="sbold black">Functional Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Knowledge of preparing narrative reports.</li>
                                    <li>Excellent written and verbal communication skills</li>
                                    <li>Knowledge of Fine Art Industry</li>
                                </ul>
                                <h5 class="sbold black">Technical Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Proficient in MS Office suite of Programs</li>
                                </ul>
                                <h5 class="sbold black">Required Qualification:</h5>
                                <p>MBA (Specially a MBA from any foreign university is preferred)</p>
                                <h5 class="sbold black">Salary:</h5>
                                <p>OPEN (based on last drawn) (Note: Salary not a constraint for right fit)</p>
                                <h5 class="sbold black">Experience:</h5>
                                <p>Min 2 years</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Graphic Designer
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Graphic Designer</p>
                                <h5 class="sbold black">Business Unit:</h5>
                                <p>Astaguru</p>
                                <h5 class="sbold black">Job Responsibility:</h5>
                                <p>This position is responsible to conceptualize and visualize creative designs and ensure final output of the designs.</p>
                                <h5 class="sbold black">Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Conceptualize, Visualize & Ideate Campaigns.</span></li>
                                    <li><span>To prepare creatives of conceptualization & delivery for off-line & on-line.</span></li>
                                    <li><span>Ensure designing banners, posts.</span></li>
                                    <li><span>To design catalogues in an innovative way.</span></li>
                                    <li><span>Design banners, fliers, other creatives for auctions.</span></li>
                                </ul>
                                <h5 class="sbold black">Functional Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Knowledge of Conceptualizing Campaigns.</li>
                                    <li>Knowledge of Print and Online creative</li>
                                </ul>
                                <h5 class="sbold black">Technical Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Photoshop</li>
                                    <li>Illustrator, Corel Draw, Css</li>
                                </ul>
                                <h5 class="sbold black">Required Qualification:</h5>
                                <p>Diploma/Certified Course</p>
                                <h5 class="sbold black">Salary:</h5>
                                <p>OPEN (based on last drawn) (Note: Salary not a constraint for right fit)</p>
                                <h5 class="sbold black">Experience:</h5>
                                <p>Min 1-2 years</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Admin Executive
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Admin Executive/Logistics Executive</p>
                                <h5 class="sbold black">Business Unit:</h5>
                                <p>Astaguru</p>
                                <h5 class="sbold black">Job Responsibility:</h5>
                                <p>This position is responsible to provide assistance to the gallery manager ensure the gallery operations is done on time.</p>
                                <h5 class="sbold black">Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>To assist the Gallery Manager.</span></li>
                                    <li><span>Creating and maintaining the Invoice Bills and PO.</span></li>
                                    <li><span>Ensure Gallery Maintenance is done seamlessly.</span></li>
                                    <li><span>Handling all the miscellaneous related activities.</span></li>
                                    <li><span>Ensure smooth functioning of Logistics & Stock management.</span></li>
                                </ul>
                                <h5 class="sbold black">Functional Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Knowledge of working on Administration.</li>
                                    <li>Good communication skills.</li>
                                </ul>
                                <h5 class="sbold black">Technical Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Proficient in MS Office suite of Programs</li>
                                </ul>
                                <h5 class="sbold black">Required Qualification:</h5>
                                <p>Min Graduate/MBA in any stream</p>
                                <h5 class="sbold black">Salary:</h5>
                                <p>OPEN (based on last drawn) (Note: Salary not a constraint for right fit)</p>
                                <h5 class="sbold black">Experience:</h5>
                                <p>Min 2 years</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>

                            </div>
                        </div>
                    </div>
                    
					 <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Executive/Manager Public Relations
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                 <h5 class="sbold black">Job Title:</h5>
                                <p>Executive/Manager Public Relations</p>
								<h5 class="sbold black">Level</h5>
								<p>Junior and Mid Management</p>
                                 <h5 class="sbold black">Position Role:</h5>
                                <p>This position is responsible for developing effective PR plans using appropriate strategies and tactics, organizing and coordinating PR activities and campaigns</p>
                                <h5 class="sbold black">Job Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Ensure smooth Co-ordination of with Media houses, newspapers, magazines</span></li>
                                    <li><span>Responsible for PR Strategy Planning & Execution</span></li>
                                    <li><span> Promote new stories</span></li>
                                    <li><span> Build strong relationships and networks with colleagues, clients</span></li>
                                    <li><span>Seamless managing of PR activities for the group company</span></li>
                                    <li><span>Ensure effective campaigning for the company</span></li>
                                </ul>
								<h5 class="sbold black">Mid- Level- Should have managed a team of 2-5 members</h5><br>
                                <h5 class="sbold black">Experience</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Junior Level- Min 3-4 years</li>
                                    <li>Mid-Level- 5+ years</li>
                                </ul>
                                <h5 class="sbold black">Gender- Female and Male</h5><br>
                               <h5 class="sbold black">Education- MBA is mandatory</h5><br>
                                <h5 class="sbold black">Age Group</h5>
                                <p>Junior-Level- 21-26 yrs<br>Mid-Level- 27- 35 yrs</p>
								<p></p>
                                <h5 class="sbold black">Competencies</h5>
                                 <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>Knowledge- Co-ordinating and managing effective PR campaigns through various channels</span></li>
                                    <li><span>Knowledge of social media (blogs, Facebook, Twitter, etc.)</span></li>
                                    <li><span> Have strong network/contacts with media house, newspapers and magazines</span></li>                                    
                                </ul>
								<p>Skills- Excellent communication skills<br>Excellent interpersonal skills<br>
								Mid- Level- Leadership Skills<br>
Personal attributes- Pleasing personality<br>
 Presentation skills<br>
 Independent thinker<br>
 Self- Motivator<br>
</p>
	<p>Technical Skills- Proficient in MS Office suite of Programs</p>

                                <h5 class="sbold black">Career Path:</h5>
                                <p>Junior- Level- Executive-PR<br>
 Sr. Executive- PR<br>
Mid- Level Deputy Manager- PR<br>
 Manager- PR<br>
 Sr. Manager- PR</p>              
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Team Manager
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <h5 class="sbold black">Job Title:</h5>
                                <p>Team Manager</p>
                                <h5 class="sbold black">Business Unit:</h5>
                                <p>Astaguru</p>
                                <h5 class="sbold black">Job Responsibility:</h5>
                                <p>This position is responsible to plan, strategise and manage the team of PR, Online Marketing, Content & Research & Creative team.</p>
                                <h5 class="sbold black">Responsibilities:</h5>
                                <ul class="list_numbers extra-padding-bottom-30">
                                    <li><span>To formulate new strategies for Content Development, Graphic Designing, PR & Online Marketing, and ensure seamless execution of the same.</span></li>
                                    <li><span>Responsible to do budget planning.</span></li>
                                    <li><span>To set tasks for the team and ensure completion of the same on time.</span></li>
                                </ul>
                                <h5 class="sbold black">Functional Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Knowledge of Content Development, PR, Online Marketing, Content & Research & Creative Team.</li>
                                    <li>Leadership skills.</li>
                                    <li>Excellent communication skills & Presentable.</li>
                                </ul>
                                <h5 class="sbold black">Technical Skills:</h5>
                                <ul class="list_points extra-padding-bottom-30">
                                    <li>Proficient in MS Office suite of Programs</li>
                                </ul>
                                <h5 class="sbold black">Required Qualification:</h5>
                                <p>Min Graduate/MBA in any stream</p>
                                <h5 class="sbold black">Salary:</h5>
                                <p>OPEN (based on last drawn) (Note: Salary not a constraint for right fit)</p>
                                <h5 class="sbold black">Experience:</h5>
                                <p>Min 4 years of relevant experience (Content Development, PR, Online Marketing & Creative Team)</p>
                                <a href="#apply_now_form" class="a_scroll btn_grey_dark mobile_only extra-margin-top-20"><span>Apply Now</span></a>

                            </div>
                        </div>
                    </div>
					




                </div>
            </div><!-- col -->
            <div class="col-md-4 extra-margin-top-40 custom_col text-right">
                <div class="careers_form text-left" id="apply_now_form">
                    <h4 class="sbold">Apply Here</h4>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Full Name</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Email Address</label>
                            <input type="text" class="form-control" />
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Job Title</label>
                            <select class="select_search" name="ctl00$ContentPlaceHolder1$ddljobtitle" id="ctl00_ContentPlaceHolder1_ddljobtitle">
                                <option value="0">Select</option>
                                <option value="1">Executive/Manager Client Relations</option>
                                <option value="2">Content &amp; Research Associate</option>
                                <option value="3">Market Analyst</option>
                                <option value="4">Graphic Designer</option>
                                <option value="5">Admin Executive</option>
                                <option value="6">Executive- Public Relations</option>
                                <option value="7">Team Manager</option>
								<option value="8">Watch Expert</option>
								<option value="9">Cars Expert</option>
								<option value="10">Jewellery Specialist</option>
								<option value="11">Manager International PR</option>
								<option value="12">Manager Logistics</option>
							<option value="13">Manager Logistics</option>


                            </select>
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Upload your resume</label>
                            <div class="import_col">
                                <input type="file" name="file-2[]" id="file-1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                                <label class="upload_col" for="file-1">
                                    <span><img src="images/icon-upload-resume.svg" /><br>Browse File</span>
                                </label>
                            </div><!-- import_col -->
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">Message</label>
                            <textarea rows="3" class="form_textarea"></textarea>
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="form_label">How did you hear about us?</label>
                            <select class="select_search" name="ctl00$ContentPlaceHolder1$ddlcategory" id="ctl00_ContentPlaceHolder1_ddlcategory">
                                <option value="0">Select</option>                         
                                <option value="1">News Paper</option>
                                <option value="2">Social Media</option>
                                <option value="3">Social Networking</option>
                                <option value="4">Friend</option> 
                            </select>
                        </div><!-- col -->
                    </div><!-- form-group -->
                    <div class="form-group">
                        <div class="col-md-12 extra-margin-top-30">
                            <button type="submit" class="btn_grey_dark btn_min_width" id="btnSave"><span>Send</span></button>
                        </div><!-- col -->
                    </div><!-- form-group -->
                </div><!-- careers_form -->
            </div><!-- col -->
        </div><!-- row -->

    </div><!-- content -->

</div><!-- Wrapper -->

<script>
    $('#btnSave').click(function () {
        Clear();

        if ($('#txtName').val().length <= 0) {
            document.getElementById("txtName").style.borderColor = "Red";
            document.getElementById('ErrName').innerHTML = "* Enter Your Name";
            return false;
        }

        var Email = fieldValidation($('#txtEmail'), $('#ErrEmail'), 'Invalid Email Id', 'Email')
        if (Email == false) { return false; }

        var Phone = fieldValidation($('#txtPhone'), $('#ErrPhone'), 'Enter Valid Phone Number', 'Mobile')
        if (Phone == false) { return false; }

        if ($('#txtMessage').val().length <= 0) {
            document.getElementById("txtMessage").style.borderColor = "Red";
            document.getElementById('ErrMessage').innerHTML = "* Please Enter Message";
            return false;
        }


        $("#divLoader").show();

        var GetInTouch = {};
        GetInTouch.name = $('#txtName').val();
        GetInTouch.Email = $('#txtEmail').val();
        GetInTouch.Phone = $('#txtPhone').val();
        GetInTouch.Category = $('#ddlCategory option:selected').text();
        GetInTouch.Message = $('#txtMessage').val();

        $.ajax({
            url: "/Common/GetInTouch",
            type: 'POST',
            dataType: 'json',
            data: GetInTouch,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoader").hide();
                    $('#ModelGetInTouch').modal('toggle');
                }
                else if (ReturnData.status == 'Error') {
                }
            },
            error: function (err) {
                alert('Actual error' + err);
            }
        });



    });
</script>

