﻿
@{
    ViewBag.Title = "contactUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase extra-padding-bottom-20">Contact Us</h3>

        <div class="white_box">
            <div class="row custom_row">
                <div class="col-md-12 custom_col"><h4 class="sbold uppercase">Asta Guru</h4></div>
                <div class="col-md-6 custom_col">
                    <div class="address_row">
                        <div class="icon_add"><span class="icon-map-marker"></span></div>
                        <div class="address_col">
                            <h5 class="sbold">Head Office:</h5>
                            <p>Hargovindas Building Above Shaina NC, K. Dubash Marg, 2nd Floor, Upper level, Kala Ghoda, Fort, Mumbai, Maharashtra 400023</p>
                        </div><!-- address_col -->
                    </div><!-- address_row -->
                </div><!-- col -->
                <div class="col-md-6 custom_col">
                    <div class="address_row">
                        <div class="icon_add"><span class="icon-map-marker"></span></div>
                        <div class="address_col">
                            <h5 class="sbold">Gallery:</h5>
                            <p>22/26 ICIA Building, K. Dubhash Marg, Next to M. C. Ghia Hall, Kala Ghoda. Mumbai - 400 023.</p>
                        </div><!-- address_col -->
                    </div><!-- address_row -->
                </div><!-- col -->
            </div><!-- row -->
            <div class="">
                <ul class="list_contact">
                    <li>
                        <div class="icon_add"><span class="icon-phone-call"></span></div>
                        <div class="address_col">
                            <a href="tel:+91 22 2204 8138">+91 22 2204 8138 / 39 , +91 22 2204 8140</a>
                        </div><!-- address_col -->
                    </li>
                    <li>
                        <div class="icon_add"><span class="icon-email"></span></div>
                        <div class="address_col">
                            <a href="mailto:contact@astaguru.com">contact@astaguru.com</a>
                        </div><!-- address_col -->
                    </li>
                    <div class="clear"></div>
                </ul><!-- address_row -->
            </div>
        </div><!-- white box -->

        <div class="contact_row extra-margin-top-30">
            <div id="contact_add_map">
                <div class="contact_form mobile_order_2">
                    <div class="contact_form_inner">
                        <div class="row custom_row custom_form">
                            <div class="col-sm-12 custom_col extra-margin-top-40">
                                <div class="wrap-input2">
                                    <input type="text" class="input2 textfield">
                                    <span class="focus-input2" data-placeholder="Name"></span>
                                </div>
                            </div><!-- col -->
                            <div class="col-sm-12 custom_col extra-margin-top-40">
                                <div class="wrap-input2">
                                    <input type="text" class="input2 textfield">
                                    <span class="focus-input2" data-placeholder="Email ID"></span>
                                </div>
                            </div><!-- col -->
                            <div class="col-sm-12 custom_col custom_select extra-margin-top-40">
                                <div class="wrap-input2">
                                    <input type="text" class="input2 textfield">
                                    <span class="focus-input2" data-placeholder="Phone Number"></span>
                                </div>
                            </div><!-- col -->
                        </div><!-- row -->
                        <div class="row custom_form">
                            <div class="col-sm-12 extra-margin-top-40">
                                <div class="wrap-input2">
                                    <textarea type="text" class="input2 textfield"></textarea>
                                    <span class="focus-input2" data-placeholder="Queries"></span>
                                </div>
                            </div><!-- col -->
                        </div><!-- row -->
                        <div class="btn_submit_center extra-padding-top-40">
                            <button type="submit" class="btn_white"><span>Submit</span></button>
                        </div>
                    </div><!-- contact_form_inner -->
                </div><!-- Contact Form -->

                <!-- <div class="contact_map mobile_order_1">
                    <div class="roamiGmap-sf gmap_content"></div>
                </div> --><!--end contact_map-->

                <div class="contact_map mobile_order_1">
                   <section id="cd-google-map">
                        <div id="google-container"></div>
                        <div id="cd-zoom-in"></div>
                        <div id="cd-zoom-out"></div>
                    </section>
                </div><!--end contact_map-->

                
                <div class="clear"></div>
            </div><!--end contact add map-->

        </div><!-- row -->

    </div><!-- content -->

</div><!-- Wrapper -->

<script>
    (function ($) {
        "use strict";
        /*==================================================================
        [ Focus Contact2 ]*/
        $('.input2').each(function(){
            $(this).on('blur', function(){
                if($(this).val().trim() != "") {
                    $(this).addClass('has-val');
                }
                else {
                    $(this).removeClass('has-val');
                }
            })    
        })      

    })(jQuery);
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlL6aaAvANHgizHhDTQMyeV5nbPbflAyo"></script>
<script src="~/Content/js/gmap.js"></script> <!-- Resource jQuery -->