﻿
@{
    ViewBag.Title = "deptEstate";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Estate Sales</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Estate sales are auctions held in order to liquidate the possessions of individuals, families or estates. Through a meticulous evaluation and selection process, our team of experts helps curate the best collections for estate auctions. We provide a wholesome package of services - right from the initial proposal to cataloguing through to the auction and marketing of the items on various platforms.</p>

				<p class="color_light">GST applicable in this segment will vary based on commodity categorization.</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->		
	</div><!-- content -->

</div><!-- Wrapper -->

