﻿
@{
    ViewBag.Title = "deptSoutheast";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Southeast Asian Contemporary Art</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>This is an exciting category as it represents the artistic genii from across the Southeast Asian Subcontinent. AstaGuru’s forte which lies within the Indian Contemporary Art domain is realized with this segment. We have featured noteworthy Indian artists such as Anish Kapoor, Subodh Gupta, Atul Dodiya alongside Japanese masters such as Takashi Murakami, Chinese contemporaries such as Zhang Xiaogang and Sri Lankan artists such as Senaka Senanayake, to name a few, in our  previous auctions. Our experts curate the most striking prices to form a well-balanced mélange of works from Indian and Oriental artists.</p>			 
				
				<p class="color_light">The GST on all sales under this segment is charged at 12% in accordance with ‘Goods & Service Tax’ regulations.</p>		
				<p>For further details, please contact:</p>		
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/Z2c2T7xPJbg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
		<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/sunny.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Sunny Chandiramani</h5>
					<h6>Vice President</h6>						
					<a href="mailto:sunny@astaguru.com" class="team_email">sunny@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Sneha.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Sneha Gautam</h5>
					<h6>Vice President</h6>						
					<a href="mailto:sneha@astaguru.com" class="team_email">sneha@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
				<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/ankita.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Ankita Talreja</h5>
					<h6>Specialist</h6>						
					<a href="mailto:ankita@astaguru.com" class="team_email">ankita@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Trisha.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Trisha Mohan</h5>
					<h6>Specialist</h6>						
					<a href="mailto:trisha@astaguru.com" class="team_email">trisha@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
		</div><!-- row -->	
	</div><!-- content -->

</div><!-- Wrapper -->


