﻿
@{
    ViewBag.Title = "deptBooks";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Rare Books & Manuscripts </h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>From the ancient papyrus scrolls, medieval manuscripts to the modern day manuscripts, books are physical manifestations of the long-gone years. The art of book collection is the highest form of literary appreciation. AstaGuru prides itself in curating rare antiquarian books, first editions by literary masters, travel expeditions and limited publications, to name a few. Our collections are meticulously preened by our team of expert researchers giving focal importance to their subject matter and rarity.</p>

				<p>Spanning across a plethora of topics such as Architecture, Attire, Civilization, Hunting, Music, Politics and Travels, our past auctions have presented works by Thomas and William Daniel and James Baillie Fraser, Edward Orme and many more. </p>	
				
				
				<p class="color_light">The GST on all sales under this segment is charged at 12%.</p>		
				<p>For further details, please contact:</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/yATy2ch7RPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	

		<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Sneha.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Sneha Gautam</h5>
					<h6>Vice President</h6>						
					<a href="mailto:sneha@astaguru.com" class="team_email">sneha@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/rakshanda.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Rakshanda Hussain</h5>
					<h6>Specialist</h6>						
					<a href="mailto:rakshanda@astaguru.com" class="team_email">rakshanda@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
		</div><!-- row -->		
	</div><!-- content -->

</div><!-- Wrapper -->

