﻿
@{
    ViewBag.Title = "deptArtist";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Artist Artefacts</h3>

			<a href="@baseUrlPath/Home/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>The true meaning of an artefact can be best described as an object that is made or owned by a person, especially one of historical interest. They are nothing short of being a work of art in their own right. They are evaluated based on factors ranging from their appeal, connotation and provenance.</p>

				<p>Our teams of specialists are always on the look for pieces that qualify as true examples of human workmanship. These lots create a haven of such for the interested collector.</p>	
				<p>Our past collections include a hand painted ceramic plate by artist K G Subramanyan, a tall painting brush made by M F Husain, signed by the artist himself.</p>	
				<p class="color_light">The GST on all sales under this segment is charged at 12%.</p>						
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/Pcd37L2sHEI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->		
	</div><!-- content -->

</div><!-- Wrapper -->

