﻿
@{
    ViewBag.Title = "deptNumismatic";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Numismatic & Philatelic</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Coins and Stamps are a visceral connection to the past that portray peculiar episodes in history. The governing authorities have produced antique pieces which are commemorative of the particular fragment of time. Collecting such keepsakes is like collecting pieces of time itself. </p>
				<p>In past auctions, AstaGuru has showcased an assortment of over two thousand Indian commemorative stamps dating back to 1946. Another noteworthy collection has been of the worldwide collection of over three hundred Postal items of Mahatma Gandhi.</p>
				
				<p class="color_light">The GST on all sales under this segment is charged at 5% in accordance with ‘Goods & Service Tax’ regulations.</p>				
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
		</div><!-- row -->	
			<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/ankita.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Ankita Talreja</h5>
					<h6>Specialist</h6>						
					<a href="mailto:ankita@astaguru.com" class="team_email">ankita@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Shoheb.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Shoheb Ali</h5>
					<h6>V.P. Business Development</h6>						
					<a href="mailto:shoheb@astaguru.com" class="team_email">shoheb@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
		</div><!-- row -->	
	</div><!-- content -->

</div><!-- Wrapper -->
