﻿
@{
    ViewBag.Title = "deptTexilesView1";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
	<div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
		<div class="title_flex">
			<h3 class="sbold uppercase">Textiles (carpets & shawls)</h3>

			<a href="@baseUrlPath/Departments" class="link_back"><i class="icon-prev"></i> Back</a>
			</div>

		<div class="row custom_row">
			<div class="col-md-6 extra-margin-top-40 custom_col">
				<p>Humans have been creating textiles for a thousands of years. Over the period time, once a mere object of necessity has shaped into an art form and heritage symbol. Various rugs, carpets and shawls have been created by implementing intricate techniques and opulent materials making them creations that invoke wonder and appreciation. AstaGuru has had the privilege of auctioning authentic ‘Jaamevar’ shawls made by using the kanni technique, famed Pashmina shawls and Afghani carpets. Our team of experts, hand-picks the lots and evaluates them for authenticity and rareness, making the collection a truly remarkable one. </p>					
				
				<p class="color_light">The GST on all sales under this segment is charged at 12% in accordance with ‘Goods & Service Tax’ regulations.</p>		
				<p>For further details, please contact:</p>		
			</div><!-- col -->
			<div class="col-md-6 extra-margin-top-40 custom_col text-right">
				<div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/DqIKuNDpycM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
			</div><!-- col -->
			
		</div><!-- row -->	
		<div class="row">
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Tami.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Tahmina Lakhani</h5>
					<h6>Specialist</h6>						
					<a href="mailto:tahmina@astaguru.com" class="team_email">tahmina@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/Raziya.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Razia Parveen</h5>
					<h6>Specialist</h6>						
					<a href="mailto:razia@astaguru.com" class="team_email">razia@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
			<div class="col-sm-4 col-md-3 extra-margin-top-20">
				<div class="team_col">
					<div class="img_team">
						<img src="~/Content/images/rakshanda.jpg" class="img_responsive">
					</div>
					<h5 class="sbold">Rakshanda Hussain</h5>
					<h6>Specialist</h6>						
					<a href="mailto:rakshanda@astaguru.com" class="team_email">rakshanda@astaguru.com</a>
					<h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
				</div>		
			</div><!-- col -->
		</div><!-- row -->	
	</div><!-- content -->

</div><!-- Wrapper -->

