﻿@{
    ViewBag.Title = "howtobuy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="title_spbtn">
            <h3 class="sbold uppercase">How to buy</h3>
            <a href="#" class="see_video" data-toggle="modal" data-target="#SeeVideoModal" data-thevideo="https://www.youtube.com/embed/-V9WmhujSx4"><i class="icon-play"></i> Click here to see the video</a>
        </div>
        <div class="accordion extra-margin-top-40" id="accordionExample">
            @Html.Raw(ViewBag.howtobuy)
            @*<div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Estimates
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Estimates are based on an average market value of the lot.</li>
                            <li>These are provided only as a guide for buyers.</li>
                            <li>Buyers should not rely on estimates as a prediction of actual price.</li>
                            <li>Estimates do not include margin.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Reserves
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>The Reserve price is the minimum price at which the lot shall be sold.</li>
                            <li>The Reserve price is confidential and will not be disclosed.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Margin
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>In addition to the hammer price, the buyer agrees to pay Astaguru a margin calculated at 15% of the winning bid value on each lot.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Bidding
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <h5 class="bold">Pre -Registration and Verification.</h5>
                        <ul class="list_points">
                            <li>Prospective buyers should be registered and verified in order to bid.</li>
                            <li>If you have already registered before, you will still need to pre-register and accept the terms and conditions for the sale. (Use your previous login Id).</li>
                            <li>Fill the form online in order to pre-register, or call AstaGuru.</li>
                            <li>Once you have pre-registered a representative will call you to verify your details.</li>
                            <li>If the representative cannot reach you an email will be sent.</li>
                            <li>Please note that if this process has not taken place you shall not be given bidding access.</li>
                            <li>All bidding access shall be provided 24 hours before the auction.</li>
                            <li>Once your application has been accepted you shall receive an email confirming your bidding access along with your login Id and password.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Absentee Bids</h5>
                        <ul class="list_points">
                            <li>You may place an absentee bid, by faxing the written bid form available online and in the printed catalogue.</li>
                            <li>All bids must come in 24 hours before the auction.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Proxy Bids</h5>
                        <ul class="list_points">
                            <li>Proxy bids shall be placed on the website once the auction catalogue goes live and will be available until the end of the auction.</li>
                            <li>Once you have identified the lot that you would like to bid on, click on "Proxy bid" and enter desired amount(10% more than the previous bid) and confirm your bid at the value submitted.</li>
                            <li>In case of the "No Reserve" auction all proxy bid values start at Rs 20,000.</li>
                            <li>Proxy bid placed on a lot before an auction cannot be resubmitted online. Users can update such proxy bids by submitting a duly signed written bid form provided on the website.</li>
                            <li>In case a user is outbid on their proxy, they will be intimated of the same and can update the proxy online if they wish to so.</li>
                            <li>Astaguru reserves the right to reject any proxy bid at its discretion without having to provide any explaination.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Opening Bid</h5>
                        <ul class="list_points">
                            <li>Opening Bid is the value at which the auction house starts the bidding of each lot.</li>
                            <li>Opening bid is 20% lower than value of the lower estimate.</li>
                            <li>In case of the "No Reserve" auction all bids start at Rs 20,000.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bidding Online</h5>
                        <ul class="list_points">
                            <li>Once you have identified the lot that you would like to bid on, click on "Bid Now" confirm your bid at the value listed</li>
                            <li>This is where you participate in the bidding process, by entering the next valid bid each time you are out-bid.</li>
                            <li>All bids will have an increment of 10% of the current valid bid, once the bid value exceeds the Rupees one crore (equivalent value USD $151,500) mark the increment will be that of 5%.</li>
                            <li>In the event a bid is placed under three minutes from the closing schedule of the lot the closing time for that particular lot will be extended by three minutes. The extension will continue until such time the last bid is not placed under three minutes from closing time.</li>
                            <li>All lots bid history will be made available to be viewed.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid Increments</h5>
                        <ul class="list_points">
                            <li>All bids will have an increment of 10% of the current valid bid, once the bid value exceeds the Rupees one crore (equivalent value USD $151,500) mark the increment will be that of 5%.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Personalized Bid Notifications</h5>
                        <ul class="list_points">
                            <li>In case you're outbid on a particular lot you will be notified of the same on your registered email and mobile number.</li>
                            <li>In case you've won a particular lot in an auction you will be notified of the same on your registered email and mobile number.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid History</h5>
                        <ul class="list_points">
                            <li>Bid history indicates the value recorded for each lot since the start of the auction</li>
                            <li>Bid History will not be displayed once the auction has closed.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Currency of Bidding</h5>
                        <ul class="list_points">
                            <li>Bids can be placed in US Dollars (USD) or Indian Rupees (INR).</li>
                            <li>Buyers in India must pay for their purchase in INR and all other buyers must pay in USD</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Closing and Winning Bid</h5>
                        <ul class="list_points">
                            <li>Winning bid is the last and highest bid at which the lot has closed.</li>
                            <li>No new bids can be placed after the close of a lot.</li>
                            <li>The closing bid is considered the winning bid only if the bid exceeds the reserve price.</li>
                            <li>All winning bids shall be posted on the website after the close of the auction.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Bid Cancellation</h5>
                        <ul class="list_points">
                            <li>Once any bid and/or proxy bid has been placed, it cannot be cancelled. AstaGuru reserves the rights to cancel any bids in order to protect the efficacy of the bidding process.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Margin</h5>
                        <ul class="list_points">
                            <li>In addition to the hammer price, a margin calculated at 15% of the winning bid value is added on each lot and is payable by the buyer.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                           After Sale
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>If you have won a lot you shall be informed via email after the auction has closed.</li>
                            <li>You shall there after receive an email with the invoice stating buyers premium along with related taxes.</li>
                            <li>If you are the winning bidder, you are legally bound to purchase the item from AstaGuru. Please note that purchases will not be shipped out until full payment has been received and cleared.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Invoicing</h5>
                        <ul class="list_points">
                            <li>All details for the invoice are to be provided prior to the auction.</li>
                            <li>After the sale, the Buyer as invoiced is required to pay the amounts in full (including the additional charges).</li>
                            <li>No lots shall be sent without payment made in full.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Shipping and Insurance</h5>
                        <ul class="list_points">
                            <li>Price estimates do not include any packing, insurance, shipping or handling charges, all of which will be borne by the buyer.</li>
                            <li>All lots part of the auctions are dispatched framed, however if the buyer prefers an alternate the same would be implemented. Astaguru will invoice the buyer for the framing job under this circumstance.</li>
                            <li>Shipping will be charged on courier rates and are determined by the size, weight and destination of the package.</li>
                            <li>Please also note for international shipments from India the additional charges calculated are only till the destination port. Import-related duties, taxes delivery and any other charges, wherever applicable, will be directly paid by the buyer.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-40">Duties & Taxes</h5>
                        <ul class="list_points">
                            <li>All duties and taxes shall be borne by the buyer.</li>
                            <li>All sales in India shall attract 12 % GST on the winning bid including margin.</li>
                            <li>There shall be no GST in International sales.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Payment
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Buyers will be required to complete payment within a period of 7 business days from the receipt of the invoice via email.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Delivery / collection of purchase
                        </button>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>Works will be shipped within 7 days of the payment being cleared. Buyers may choose to collect their purchase from AstaGuru in Mumbai within 7 days from the date of the sale.</li>
                            <li>Buyers who have completed payment formalities and have not taken delivery of their art works from AstaGuru within 30 days of the completion of payment formalities will be charged demurrage @Html.Raw("@") 2% per month on the value of the artworks.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Participate in our next auction
                        </button>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list_points">
                            <li>If you are interested in consigning works from your collection to our next sale, please contact us at contact@astaguru.com or at the auction help desk +91 22 2204 8138 / 39</li>
                            <li>If you would like to stay informed of AstaGuru's upcoming events, please register with us online.</li>
                        </ul>
                    </div>
                </div>
            </div><!-- card -->*@
        </div>
    </div><!-- content -->

</div><!-- Wrapper -->
