﻿
@{
    ViewBag.Title = "listMyPurchase";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    int userid = Convert.ToInt32(Request["userid"].ToString());
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    List<Astaguru.Models.Auction> myPurchase = null;
    myPurchase = CAS.GetMyPurchase(userid);
    int count = 0;

    Astaguru.Models.User users = new Astaguru.Models.User();
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
    users = US.GetUserMyAuctionGallaryDetails(userid);
}
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<link rel="stylesheet" href="~/Content/css/style_user.css">

<div id="wrapper">
    <div id="banner_inner" style="background:url(images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <h1 class="title_font medium_text">My Purchases</h1>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->

    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <div></div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->

                    <ul class="icon_list_grid">
                        <li><a href="@baseUrlPath/Home/MyPurchase?userid=@userid"><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/listMyPurchase?userid=@userid" class="active"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="row m-0">

        <div class="col-md-3 accountLinks" data-sticky_parent>

            <div class="clearfix" data-sticky_column>

                <p>Welcome</p>
                <div class="profileName">@users.name @users.lastname</div>
                <div class="row links m-0  no-gutters">
                    <div class="col-12 col-sm-6 col-md-12 "><a href="@baseUrlPath/Home/myProfile?userid=@userid">My Account</a></div>
                    <div class="col-12 col-sm-6 col-md-12 "><a href="@baseUrlPath/Home/MyAuctionGallary" >My Auction Gallery</a></div>
                    <div class="col-12 col-sm-6 col-md-12 "><a href="@baseUrlPath/Home/MyPurchase?userid=@userid" class="active">My Purchase</a></div>
                    <div class="col-12 col-sm-6 col-md-12 " id="logoutBtn"><a href="javascript:avoid(0)" class="border_0">Logout</a></div>
                </div>


            </div>

        </div>

        <div class="col-md-9 content extra-padding-bottom-100">

            @if (myPurchase.Count > 0)
        {
            foreach (var item in myPurchase)
            {
        <div class="box_col extra-margin-top-60 listView_wrapper">
            <div class="img_list_view_row">
                <div class="img_list_mxheight"><img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" /></div>
                <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>
            </div><!-- img_col_auctions -->
            @{
                count++;
            }
            <div class="content_list_view_row">
                <div class="row">
                    <div class="col-md-6 col-lg-7 col-xl-5">
                        <div class="list_view_artist_details">
                            @if (item.auctionType == 1)
                                    {
                                <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                    <h3 class="uppercase sbold nowrap_text">@item.firstname  @item.lastname</h3>
                                </a>
                                <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                    }
                                    else if (item.auctionType == 2)
                                    {
                                <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>
                                    }



                            <div class="list_view_text">

                                @if (item.auctionType == 1)
                                        {
                                    <h6>Medium</h6>
                                    <p>@item.medium</p>
                                    <h6>Size</h6>
                                    <p>@item.productsize</p>
                                    <h6>Year</h6>
                                    <p>@item.Date</p>
                                    <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                    <p>@item.collectors</p>
                                                }
                                        }
                                        else if (item.auctionType == 2)
                                        {
                                    <h6>Description</h6>
                                    <p class="hover_description">@Html.Raw(item.Prdescription)</p>

                                    <h6></h6>
                                    <p>@item.productsize</p>

                                    <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                    <p>@item.collectors</p>
                                                }
                                        }
                                        else
                                        {
                                    <h6>Medium</h6>
                                    <p>@item.medium</p>
                                    <h6>Size</h6>
                                    <p>@item.productsize</p>
                                    <h6>Year</h6>
                                    <p>@item.Date</p>
                                    <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                    <p>@item.collectors</p>
                                                }
                                        }

                            </div><!-- list_view_text -->
                        </div><!-- list_view_artist_details -->
                    </div><!-- col -->

                    <div class="col-md-6 col-lg-4 col-xl-4 extra-margin-top-60">

                        <div class="price_with_tax price_current_next price_live_auc">
                            @if (item.pricelow > item.pricers)
                                    {
                                    <h5>Bought In</h5>
                                    }
                                    else
                                    {
                                        if (currency == 1)
                                        {
                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                            {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                    <h6>(Inclusive 10% margin)</h6>
                                            }
                                            else
                                            {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                            }

                                        }
                                        else if (currency == 2)
                                        {
                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                            {
                                    <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 10).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                            }
                                            else
                                            {
                                    <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                            }


                                        }
                                        else
                                        {
                                            if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                            {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                    <h6>(Inclusive 10% margin)</h6>
                                            }
                                            else
                                            {
                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                    <h6>(Inclusive 15% margin)</h6>
                                            }
                                        }
                                    }



                        </div>
                    </div><!-- col -->


                    <div class="col-lg-4 col-xl-3 extra-margin-top-60">
                        <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="outline_link">Detail Page</a></div>
                    </div><!-- col -->
                </div><!-- Row -->
            </div><!-- content_list_view_row -->
            <div class="clear"></div>
        </div><!-- box_col -->
            }
        }
                else
                {
        <span class="no_data">No records found</span>
                }

        </div><!-- content -->

    </div>
    </div>

<script src="~/Content/js/sticky-kit.min.js"></script>


