﻿
@{
    ViewBag.Title = "ListMyAuctionGallary";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    Astaguru.Services.UserService.MyAuctionGallaryService MAS = new Astaguru.Services.UserService.MyAuctionGallaryService();
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    AUC.Auctionid = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
    AUC.userid = userid;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }


    double TotalPaginationCount = MAS.GetMyAuctionGallaryCount(AUC);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);

    List<Astaguru.Models.Auction> MyAuctionGallary = null;
    //MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC, page);

    //created on 13_02_2020
    MyAuctionGallary = MAS.GetMyAuctionGallaryList(AUC);

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AUC.Auctionid);
}

<meta http-equiv="refresh" content="120">
<input type="hidden" id="hiddenPage" value="@page" />
<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/@Baner.auctionBanner) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <div class="watch_video">
                    <a href="#" data-toggle="modal" data-target="#SeeVideoModal" data-thevideo="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=1&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1">
                        <i class="icon-play"></i>
                        <span>Watch our auction<br>videos</span>
                    </a>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <div class="filter_artist">

                </div><!-- filter_artist -->
                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="@baseUrlPath/Home/closingSchedule">Closing Schedule</a></li>
                        <li><a href="javascript:avoid(0)" id="tabAuctionGallary">My Auction Gallery</a></li>
                        <li><a target="_blank" href="http://astaguru.com/flip/50/">E-Catalogue</a></li>
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        <li><a href="@baseUrlPath/Home/MyAuctionGallary?page=@page" ><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/ListMyAuctionGallary?page=@page" class="active"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    @{
        AUC.GetReviewData = MyAuctionGallary;
        Html.RenderPartial("_partialListMyAuctionGallary", AUC);
    }




    <div class="hrline"></div>
    <div class="container-fluid content slide_controls_wrapper extra-padding-top-100 extra-padding-bottom-100">
        <div class="slider_controls">
            <div id="video_slider">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
            </div><!-- video slider -->
        </div><!-- slider_controls -->
    </div><!-- content -->

</div><!-- Wrapper -->
<!--Modal-->
<div class="modal fade video_modal" id="SeeVideoModal" tabindex="-1" role="dialog" aria-labelledby="SeeVideoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //$('#ddlCurrency').change(function () {
    //    debugger;
    //    var baseUrlPath = $('#hiddenbaseUrlPath').val();
    //    currency = $('#ddlCurrency').val();
    //    if (currency == 1) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //    else if (currency == 2) {
    //        window.location = baseUrlPath + '/Home/ListCurrentAuction?currency=' + currency
    //    }
    //});


    // A $( document ).ready() block.
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

        //setInterval(function () {
        //    var dynamicBidDataArr;
        //    var SetAuction = {};
        //    SetAuction.page = $("#hiddenPage").val();
        //    SetAuction.userid = $("#hiddenUserId").val();
        //    $.ajax({
        //        url: "/Common/generateMyGallaryList",
        //        type: 'POST',
        //        dataType: 'json',
        //        data: SetAuction,
        //        traditional: true,
        //        success: function (ReturnData) {
        //            if (ReturnData.Success) {
        //                //var your_object = JSON.parse(ReturnData.Success);
        //                dynamicBidDataArr = ReturnData.Success;
        //                for (var i = 0; i < dynamicBidDataArr.length; i++) {

        //                    var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
        //                    SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;
        //                    // alert(dynamicBidDataArr[i].dyanmicData);
        //                }


        //                dynamicBidDataArrButton = ReturnData.Button;
        //                for (var i = 0; i < dynamicBidDataArrButton.length; i++) {

        //                    var SetListButton = document.getElementById("SetListButton_" + dynamicBidDataArrButton[i].productid);
        //                    SetListButton.innerHTML = dynamicBidDataArrButton[i].dyanmicData;
        //                    // alert(dynamicBidDataArr[i].dyanmicData);
        //                }
        //                //alert(ReturnData.Success[0].productid);

        //                //

        //                //$('#Time').html(ReturnData.Success);
        //            }
        //        },
        //    });
        //}, 1000);


        //$("#btn1").click(function () {
        //    hideDiv(1, 30);
        //    hideClass("libtn1");
        //});

        //$("#btn2").click(function () {
        //    hideDiv(31, 60);
        //    hideClass("libtn2");
        //});

        //$("#btn3").click(function () {
        //    hideDiv(61, 90);
        //    hideClass("libtn3");
        //});

        //$("#btn4").click(function () {
        //    hideDiv(91, 100);
        //    hideClass("libtn4");
        //});

        //function hideDiv(start, end) {

        //    for (var i = 1; i <= 100; i++) {
        //        $("#" + i).hide(500);



        //    }

        //    for (var i = start; i <= end; i++) {
        //        $("#" + i).show(500);


        //    }

        //}

        //function hideClass(btn) {
        //    $("#libtn1").removeClass("active");
        //    $("#libtn2").removeClass("active");
        //    $("#libtn3").removeClass("active");
        //    $("#libtn4").removeClass("active");
        //    $("#" + btn).addClass("active");
        //}


    });

    $('.btnBidNow').click(function () {
        var productid = $(this).attr("data-id");
        var baseUrlPath = $('#hiddenbaseUrlPath').val();
        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();



        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {
                    window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid
                }
                else {
                    alert('You Dont have bidding access');
                }
            }
            else {
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $('#LoginForm').modal('toggle');
        }

    });

    $('#btnApply').click(function () {
        var baseUrlPath = $("#hiddenbaseUrlPath").val();
        var j = 0;
        //document.getElementById('ErrFilter').innerHTML = "";

        $('.chk:checkbox:checked').each(function (i, obj) {
            j++;
        });

        if (j == 0) {
            var Clear = {};
            Clear.productid = 0;
            $.ajax({
                url: "/Filter/FilterClear",
                type: 'POST',
                dataType: 'json',
                data: Clear,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        window.location.reload();
                    }
                },
            });
        }
        else {
            var MyFilter;
            MyFilter = {
                "chkArtist": [],
                "chkDept": [],
                "chkMedium": []
            };


            $('.setArtist:checkbox:checked').each(function (i, obj) {
                MyFilter.chkArtist[i] = $(this).attr("data-id");
            });

            $('.setDept:checkbox:checked').each(function (i, obj) {
                MyFilter.chkDept[i] = $(this).attr("data-id");
            });

            $('.setMedium:checkbox:checked').each(function (i, obj) {
                MyFilter.chkMedium[i] = $(this).attr("data-id");
            });

            // AJAX CALL


            $.ajax({
                url: "/Filter/Filter",
                type: 'POST',
                dataType: 'json',
                data: MyFilter,
                traditional: true,
                success: function (ReturnData) {
                    if (ReturnData.Success) {
                        //location.reload();
                        window.location = baseUrlPath + '/Home/ListCurrentAuction'
                    }
                },
            });
        }

    });

    $('#btn_Clear').click(function () {
        //document.getElementById('ErrFilter').innerHTML = "";
        $('.chk:checkbox:checked').each(function (i, obj) {
            $('.chk').prop('checked', false);
        });

        //var Clear = {};
        //Clear.productid = 0;
        //$.ajax({
        //    url: "/Filter/FilterClear",
        //    type: 'POST',
        //    dataType: 'json',
        //    data: Clear,
        //    traditional: true,
        //    success: function (ReturnData) {
        //        if (ReturnData.Success) {
        //            window.location.reload();
        //        }
        //    },
        //});

    });
</script>
