﻿
@{
    ViewBag.Title = "liveAuctionMostPopular";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string Bidclosingtime = string.Empty;
    int userid = Convert.ToInt32(Session["userid"]);

    int auctionstyle = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionstyle"]);
    int auctionId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    
    List<Astaguru.Models.Auction> MostPopularLots = null;
    MostPopularLots = CAS.GetMostPopularLots();

    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    int Auctionid = 0;
    string imageURl = string.Empty;
    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    if (MostPopularLots.Count > 0)
    {
        Auctionid = MostPopularLots[0].Online; // Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["auctionId"]);    
        Baner = COM.GetBannerDetails(Auctionid);
        imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }
    
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}
<meta http-equiv="refresh" content="180">
<input type="hidden" id="hiddenCurrency" value="@currency" />
<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>
<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/@imageURl) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <div class="watch_video">
                    <a href="#" data-toggle="modal" data-target="#SeeVideoModal" data-thevideo="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=1&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1">
                        <i class="icon-play"></i>
                        <span>Watch our auction<br>videos</span>
                    </a>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="flex_spbtn">
                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a href="@baseUrlPath/Home/liveAuctionReview">Latest Bids</a></li>
                        <li><a href="@baseUrlPath/Home/liveAuctionHighValue">Most Significant lots (by Value)</a></li>
                        <li><a href="javascript:avoid(0)" class="active">Most Popular Lots (no. of bids)</a></li>
                        <li><a href="@baseUrlPath/Home/liveAuctionClosingLots">Closing Lots</a></li>
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        <li><a href="javascript:avoid(0)" class="active"><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Home/listLiveMostPopular"><i class="icon-list-view"></i></a></li>
                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    @{
        AUC.reviewStatus = "CurrentMostPopular";
        AUC.GetReviewData = MostPopularLots;
        Html.RenderPartial("_partialAuctionReview", AUC);
    }

    <div class="hrline"></div>

    <div class="container-fluid content slide_controls_wrapper extra-padding-top-100 extra-padding-bottom-100">
        <div class="slider_controls">
            <div id="video_slider">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/yehQjcfMuok?rel=0&enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen="1"></iframe>
                    </div>
                    <p class="videoSlide_text">Highlights of Southeast Asian Contemporary Art Auction</p>
                </div>
            </div><!-- video slider -->
        </div><!-- slider_controls -->
    </div><!-- content -->

</div><!-- Wrapper -->
<!--Modal-->
<div class="modal fade video_modal" id="SeeVideoModal" tabindex="-1" role="dialog" aria-labelledby="SeeVideoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="350" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // A $( document ).ready() block.
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

        //setInterval(function () {
        //    var dynamicBidDataArr;
        //    var SetAuction = {};
        //    SetAuction.Subquery = $("#hiddenSubquery").val();
        //    SetAuction.page = $("#hiddenPage").val();
        //    SetAuction.pageName = 'CurrentMostPopular';

        //    $.ajax({
        //        url: "/Common/generateCurrentAuction1",
        //        type: 'POST',
        //        dataType: 'json',
        //        data: SetAuction,
        //        traditional: true,
        //        success: function (ReturnData) {
        //            if (ReturnData.Success) {
        //                //var your_object = JSON.parse(ReturnData.Success);
        //                dynamicBidDataArr = ReturnData.Success;
        //                for (var i = 0; i < dynamicBidDataArr.length; i++) {

        //                    var SetCurentAuction = document.getElementById("SetCurentAuction_" + dynamicBidDataArr[i].productid);
        //                    SetCurentAuction.innerHTML = dynamicBidDataArr[i].dyanmicData;

        //                    // alert(dynamicBidDataArr[i].dyanmicData);
        //                }
        //                //alert(ReturnData.Success[0].productid);

        //                //

        //                //$('#Time').html(ReturnData.Success);
        //            }
        //        },
        //    });
        //}, 1000);

    });

    $('.btnBidNow').click(function () {

        $("#divLoader").show();

        var baseUrlPath = $('#hiddenbaseUrlPath').val();
        var productid = $(this).attr("data-id");
        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();



        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {
                    $("#divLoader").hide();
                    window.location = baseUrlPath + '/Home/LotDetails?productid=' + productid
                }
                else {
                    $("#divLoader").hide();
                    alert('You Dont have bidding access');
                }
            }
            else {
                $("#divLoader").hide();
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $("#divLoader").hide();
            $('#LoginForm').modal('toggle');
        }

    });






    $(document).ready(function () {
        sessionStorage.removeItem("ErrOutProxy");
    });

</script>
