﻿@model Astaguru.Models.User

@{
    ViewBag.Title = "myProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
    List<int> getInterestedIds = new List<int>();
    if (Model.interestedIds != "" && Model.interestedIds != null)
    {
        getInterestedIds = Model.interestedIds.Split(',').Select(int.Parse).ToList();
    }
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<input type="hidden" id="hiddenisPassword" value="@Model.password" />
<input type="hidden" id="hiddenisMobileVerify" value="@Model.MobileVerified" />
<input type="hidden" id="hiddenFirstName" value="@Model.name" />
<input type="hidden" id="hiddenLastName" value="@Model.lastname" />
<input type="hidden" id="hiddenEmail" value="@Model.email" />
<input type="hidden" id="hiddenAcivationCode" value="@Model.activationcode" />
<input type="hidden" id="hiddenisPanImage" value="@Model.imagePanCard" />
<input type="hidden" id="hiddenisAadharImage" value="@Model.imageAadharCard" />

<input type="hidden" id="hiddenCountry_id" value="@Model.countryid" />
<input type="hidden" id="hiddenState_id" value="@Model.stateid" />
<input type="hidden" id="hiddenCity_id" value="@Model.cityid" />
<input type="hidden" id="hiddenCountry_id1" value="@Model.bCountryid" />
<input type="hidden" id="hiddenState_id1" value="@Model.bStateid" />
<input type="hidden" id="hiddenCity_id1" value="@Model.bCityid" />


<div id="wrapper" class="footer_pages_content bg_grey">
    <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="form_banner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">My Profile</h1>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->


    <div class="container-fluid small_content extra-padding-bottom-100 extra-padding-top-40">
        <div class="form_box extra-margin-top-20">
            <div class="title_form">
                <h5>Personal Details</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="FirstName">First Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtFirstName" value="@Model.name" readonly="">
                        </div>
                    </div>
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="LastName">Last Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtLastName" value="@Model.lastname" readonly="">
                        </div>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Email">Email</label>
                            </div>
                            <div class="input-group">
                                <input class="input form-control" placeholder="" type="text" id="txtEmail" value="@Model.email" readonly="">
                                <div class="input-group-prepend">
                                    @if (Model.EmailVerified == 1)
                                    {
                                        <div class="input-group-text"><a href="javascript:void(0);" class="pwd_password" style="color:green">Verified</a></div>
                                    }
                                    else
                                    {
                                        <div class="input-group-text"><a href="javascript:void(0);" class="pwd_password" id="emailVerify" style="color:red">Verify</a></div>
                                    }

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Password">Password</label>
                            </div>
                            <div class="input-group">
                                <input class="input form-control" placeholder="" type="password" id="txt1Password" value="@Model.password" readonly="">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><a href="#" class="pwd_password" data-toggle="modal" data-target="#Change_PWD">Change</a></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- Row -->

                <div class="row extra-margin-top-20">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Mobile Number</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="label-container">
                            <select class="select_search form-control" id="ddlCountryCode" disabled="">
                                <option value="">Select</option>
                                @foreach (var item in US.GetCountryCode())
                                {
                                    if (Model.countryCode == item.countryCode)
                                    {
                                        <option value="@item.countryCode" selected>@item.countryCode</option>
                                    }
                                    else
                                    {
                                        <option value="@item.countryCode">@item.countryCode</option>
                                    }
                                }
                            </select>
                        </div>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-7">
                        <div class="control basicField">
                            <div class="input-group">
                                <input class="input form-control" placeholder="" type="text" value="@Model.Mobile" readonly="" id="txtMobileNo">

                                <div class="input-group-prepend">
                                    @if (Model.MobileVerified == 1)
                                    {
                                        <div class="input-group-text"><a href="javascript:void(0);" class="pwd_password" style="color:green" id="btnVerified">Verified</a></div>
                                    }
                                    else
                                    {
                                        <div class="input-group-text"><a href="javascript:void(0);" class="pwd_password" id="btnverify" style="color:red">Verify</a></div>
                                    }
                                </div>
                            </div>
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrMobileNo"></span>
                        </div>
                    </div><!-- col -->

                </div><!-- row -->

                <div class="row">
                        <div class="col-sm-6 extra-margin-top-20">
                            <div class="label-container"><label class="form_label2">Anonomous Name</label></div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.nickname" id="txtAnonomousName">
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAnonomousName"></span>
                        </div><!-- col -->

                        <div class="col-sm-6 extra-margin-top-20">

                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="BidAmount">Bid Limit</label>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        @if (Model.country == "India")
                                        {
                                            <div class="input-group-text">₹</div>
                                        }
                                        else
                                        {
                                            <div class="input-group-text">$</div>    
                                        }
                                    </div>
                                    <input class="input form-control" placeholder="" type="text" id="txtBidAmount" value="@Model.amountlimt" readonly="">

                                </div>
                                <div class="note_bank_detals">
                                    <img src="~/Content/images/icon-help.svg" data-toggle="tooltip" data-placement="top" title="This value indicates the max. limit a user can bid in an auction. To increase this limit, kindly get in touch with AstaGuru at contact@astaguru.com or call us at 022-22048138" /> Bid Limit
                                </div>
                            </div>

                        </div>
                    </div><!-- row -->

                <div class="row extra-margin-top-20">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Username">Username</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txUsername" value="@Model.username" readonly>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrUsername"></span>
                    </div>
                </div><!-- row -->

            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box panel-body extra-margin-top-40">
            <div class="title_form">
                <h5>Profile</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2">Gender</label>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    @if (Model.genderid == 1)
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderMale" name="gender" checked="checked" value="1">
                                    }
                                    else
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderMale" name="gender" value="1">
                                    }

                                    <label class="custom-control-label" for="GenderMale">Male</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    @if (Model.genderid == 2)
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderFemale" name="gender" checked value="2">
                                    }
                                    else
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderFemale" name="gender" value="2">
                                    }

                                    <label class="custom-control-label" for="GenderFemale">Female</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    @if (Model.genderid == 3)
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderOther" name="gender" value="3" checked>
                                    }
                                    else
                                    {
                                        <input type="radio" class="custom-control-input isGender" id="GenderOther" name="gender" value="3">
                                    }

                                    <label class="custom-control-label" for="GenderOther">Other</label>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div><!-- Row -->

                <div class="row extra-margin-top-20 dob_row">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Date of Birth</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtDay">
                            <option value="">Date</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                if(Model.bday == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>    
                                }
                            }
                        </select>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrDay"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">

                        <select class="select_search form-control" id="txtMonth">
                            <option value="">Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                if(Model.bmonth == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>    
                                }
                            }
                        </select>

                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrMonth"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtYear">
                            <option value="">Year</option>
                            @for (int i = 1930; i <= 2019; i++)
                            {
                                if(Model.byear == i)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>    
                                }
                            }
                        </select>

                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrYear"></span>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">How Do You Here About Us</label>
                            </div>
                            <select class="select_search" disabled="" id="ddlAboutUs">
                                <option value='0'>Select</option>
                                @foreach (var item in US.GetAboutUs())
                                {
                                    if (Model.aboutId == item.aboutId)
                                    {
                                        <option value="@item.aboutId" selected>@item.about</option>
                                    }
                                    else
                                    {
                                        <option value="@item.aboutId">@item.about</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">interested in</label>
                            </div>
                            <select class="select_search" multiple="" id="ddlIntrestedIn">
                                @foreach (var item in US.GetinterestMaster())
                                {
                                    if (getInterestedIds.Contains(item.interestedId))
                                    {
                                        <option value="@item.interestedId" selected>@item.interest</option>
                                    }
                                    else
                                    {
                                        <option value="@item.interestedId">@item.interest</option>
                                    }
                                }
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrIntrestedIn"></span>
                    </div>
                </div><!-- Row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box extra-margin-top-40">
            <div class="title_form">
                <h5>Primary Postal Address</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Country">Country</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCountry" value="@Model.country">
                        </div>
                        <span class="regErr"  style="color:red; text-align:left; display:block;" id="ErrCountry"></span>
                    </div><!-- col -->

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="State">State</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtState" value="@Model.state">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrState"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address1">Line 1</label>
                            </div>
                            <input class="input form-control" placeholder="Flat No. / House No. / Building Name" type="text" id="txtAddress1" value="@Model.address1">
                        </div>
                        <span class="regErr"  style="color:red; text-align:left; display:block;" id="ErrAddress1"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address2">Line 2</label>
                            </div>
                            <input class="input form-control" placeholder="Street Name / Area Name" type="text" id="txtAddress2" value="@Model.address2">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress2"></span>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="PostalCode">Postal Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtPostalCode" value="@Model.zip">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrPostalCode"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="City">City</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCity" value="@Model.city">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCity"></span>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">GSTIN</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.GSTIN" id="txtGSTIN">
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrGSTIN"></span>
                        </div>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-12 extra-margin-top-30">
                        <div class="checkbox-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_address" name="checkbox-address">
                                <label class="custom-control-label" for="checkbox_address">If your billing address is different from your Primary Postal Address.</label>
                            </div>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box extra-margin-top-40" id="billing_address_show" style="display: none;">
            <div class="title_form">
                <h5>Billing Address</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Company">Individual / Company Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCompanyName" value="@Model.companyName">
                        </div>
                    </div><!-- col -->
                </div>

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Country">Country</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtBillingCountry" value="@Model.BillingCountry">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCountry1"></span>
                    </div><!-- col -->

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="State">State</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtBillingState" value="@Model.BillingState">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrState1"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address1">Line 1</label>
                            </div>
                            <input class="input form-control" placeholder="Flat No. / House No. / Building Name" type="text" id="txtBilligAddress1" value="@Model.BillingAddress">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress1"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address2">Line 2</label>
                            </div>
                            <input class="input form-control" placeholder="Street Name / Area Name" type="text" id="txtBilligAddress2" value="@Model.billingAddress2">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress2"></span>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="PostalCode">Postal Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtBillingZip" value="@Model.BillingZip">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrPostalCode1"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="City">City</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtBillingCity" value="@Model.BillingCity">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCity1"></span>
                    </div>
                </div><!-- row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box extra-margin-top-40">
            <div class="title_form">
                <h5>Banking Details</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">Pan Card Number</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.panCard" id="txtPanCardNumber">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrPanCardNumber"></span>
                    </div><!-- col -->

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="import_col">
                                <div class="label-container">
                                    <label class="form_label" for="file">Browse File</label>
                                </div>
                                <input type="file" name="file" id="file" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple value="@Model.imagePanCard" />
                                <label class="upload_col" for="file">
                                    @if (Model.imagePanCard != null && Model.imagePanCard != "")
                                    {
                                        <span>@Model.imagePanCard</span>
                                    }
                                    else
                                    {
                                        <span><img src="~/Content/images/icon-upload-resume.svg" /></span>
                                    }

                                </label>
                            </div><!-- import_col -->
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrFile"></span>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label"><span id="lblAadharCard">Aadhar card Number</span></label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.aadharCard" id="txtAadharCard">
                        </div>
                        <span class="regErr"  style="color:red; text-align:left; display:block;" id="ErrAadharCard"></span>
                    </div><!-- col -->

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="import_col">
                                <div class="label-container">
                                    <label class="form_label" for="file1">Browse File</label>
                                </div>
                                <input type="file" name="file1" id="file1" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple value="@Model.imageAadharCard" />
                                <label class="upload_col" for="file1">
                                    @if (Model.imageAadharCard != null && Model.imageAadharCard != "")
                                    {
                                        <span>@Model.imageAadharCard</span>
                                    }
                                    else
                                    {
                                        <span><img src="~/Content/images/icon-upload-resume.svg" /></span>
                                    }

                                </label>
                            </div><!-- import_col -->
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrFile1"></span>
                        </div>
                    </div><!-- col -->

                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">A/C Number</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.acNumber" id="txtAcNumber">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAcNumber"></span>
                    </div>

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">Holder Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.holderName" id="txtHolderName">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrHolderName"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">IFSC Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.ifscCode" id="txtIfscCode">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrIfscCode"></span>
                    </div>

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Country">Bank Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.branchName" id="txtBranchName">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrBranchName"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">Swift Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" value="@Model.swiftCode" id="txtSwiftCode">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrSwiftCode"></span>
                    </div>                    

                </div><!-- Row -->

            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="note_bank_detals">
            <img src="~/Content/images/icon-help.svg" data-toggle="tooltip" data-placement="top" title="AstaGuru requires a certain sum of money to be deposited at the time of registration, for first time users. In case the user wins a lot(s) in the auction, the sum is adjusted within the final price. However,  in the event of an unsuccessful bid or non-participation we will refund the amount in the bank account mentioned above. The amount will be credited within 5 working days, post the auction.
" /> Why do we need your bank details?
        </div>

        <div class="extra-margin-top-40">
            <button type="button" class="btn_grey_dark btn_min_width" id="btnUpdate"><span>Submit</span></button>
            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrException"></span>
            <span class="regErr" style="color:green; text-align:left; display:block;" id="ErrSuccess"></span>
        </div>

    </div><!-- content -->


</div><!-- Wrapper -->


<!-- Modal -->
<div class="modal fade" id="Change_PWD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body signform">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="label-container">
                            <label class="form_label2" for="Cpassword">Old Password</label>
                        </div>
                        <input class="input form-control" placeholder="" type="password" id="txtOldPassword" value="">
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrOldPassword"></span>
                    </div><!-- col -->

                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="label-container">
                            <label class="form_label2" for="CCpassword">New Password</label>
                        </div>
                        <input class="input form-control" placeholder="" type="password" id="txtNewPassword" value="">
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrNewPassword"></span>
                    </div><!-- col -->

                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="label-container">
                            <label class="form_label2" for="CCpassword">Confirm Password</label>
                        </div>
                        <input class="input form-control" placeholder="" type="password" id="txtCPassword" value="">
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCPassword"></span>
                    </div><!-- col -->

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="submit" class="btn_grey_dark full_width" id="btnUpdatePassword"><span>Submit</span></button>
                        <span class="regErr" style="color:green; text-align:left; display:block;" id="SuccessPassword"></span>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="modelEmailVerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Verification Mail Send You In Your Account</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

<!-- Modal -->
<div class="modal fade" id="OTP_Verify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">OTP Verify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body signform">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="" class="form-control" placeholder="Enter your OTP" id="txtOTP">
                    </div><!-- col -->

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOTPVerify"><span>Submit</span></button>
                    </div><!-- col -->
                    <span class="regErr" id="ErrOTP" style="color: red; display: block; text-align: left"></span>
                    <span class="regErr" id="SuccessOTP" style="color: green; display: block; text-align: left"></span>
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

<!-- Modal -->
<div class="modal fade" id="ModelProfileComplete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Profile Updated Successfully</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">
                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnProfileOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

<script>
    $('#btnProfileOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

    $(document).ready(function () {
        var userId = $("#hiddenUserId").val();
        hiddenBaseURL = $("#hiddenbaseUrlPath").val();

        if (userId > 0) {
            
        }
        else {
            window.location = hiddenBaseURL + '/Home/Home';
        }

        var countryId = $("#hiddenCountry_id").val();
        var country = $("#hiddenBidCountry").val();
        if (country == 'India')
        {
            document.getElementById('lblAadharCard').innerHTML = "AADHAR CARD NUMBER";
        }
        else
        {
            document.getElementById('lblAadharCard').innerHTML = "IDENTIFICATION NUMBER";
        }
    });

    $('#emailVerify').click(function () {

        var EmailVerify = {};
        EmailVerify.name = $('#hiddenFirstName').val();
        EmailVerify.lastname = $('#hiddenLastName').val();
        EmailVerify.email = $('#hiddenEmail').val();
        EmailVerify.activationcode = $('#hiddenAcivationCode').val();


        $("#divLoaderMaster").show();
       
        $.ajax({
            url: "/User/SendEmailVerification",
            type: 'POST',
            dataType: 'json',
            data: EmailVerify,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoaderMaster").hide();
                    $('#modelEmailVerification').modal('toggle');
                }
                else if (ReturnData.status == 'Error') {
                    $("#divLoaderMaster").hide();
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('ErrException').innerHTML = "";
                    }, 3000);
                }
            },
        });
    });

    $('#btnOkay').click(function () {
        window.location.reload();
    });

    $('#btnverify').click(function () {

        debugger;
        var Resendcode = {};
        Resendcode.Mobile = $('#txtMobileNo').val();
        alert(Resendcode.Mobile);


        $.ajax({
            url: "/User/myProfileResendOTP",
            type: 'POST',
            dataType: 'json',
            data: Resendcode,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.Resendmsg) {
                    $('#OTP_Verify').modal('toggle');
                    //document.getElementById('SuccessResendOTP').innerHTML = "OTP Sent Successfully";
                    //return false;
                }
                else if (ReturnData.ResendmsgErr) {
                    //event.stopPropagation();
                    //$("#verify_otp_box").slideToggle("fast");
                    document.getElementById('ErrMobileNo').innerHTML = "* Mobile Number Already Registered";
                }
            },
        });


    });



    $('#btnOTPVerify').click(function () {

        document.getElementById('ErrOTP').innerHTML = "";
        document.getElementById('SuccessOTP').innerHTML = "";
        //document.getElementById('SuccessResendOTP').innerHTML = "";

        if ($('#txtOTP').val().length <= 0) {
            document.getElementById('ErrOTP').innerHTML = "* Please Enter OTP";
            return false;
        }
        var val = $('#txtOTP').val();
        if (/^\d{4}$/.test(val)) {
            // value is ok, use it
        } else {
            document.getElementById('ErrOTP').innerHTML = "* Please Enter Your 4 Digit OTP Number";
            return false;
        }

        var CheckOTP = {};
        //RegisterData.id = $('#id').val();
        CheckOTP.OTPNumber = $('#txtOTP').val();
        CheckOTP.userid = $('#hiddenUserId').val();

        $.ajax({
            url: "/User/CheckOTP",
            type: 'POST',
            dataType: 'json',
            data: CheckOTP,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.OTPmsg) {
                    document.getElementById('SuccessOTP').innerHTML = "Mobile Number Verified Successfully";
                    $("#hiddenisMobileVerify").val(1);
                    setTimeout(function () {
                        document.getElementById('SuccessOTP').innerHTML = "";
                        $('#OTP_Verify').modal('toggle');
                    }, 1000);
                    window.location.reload();
                    return false;
                }
                else if (ReturnData.OTPErrmsg) {
                    document.getElementById('ErrOTP').innerHTML = "Incorrect OTP";
                    return false;
                }
            },
        });
    });


    // Profile Update

    $('#btnUpdate').click(function () {
        $('#txtGSTIN').css("border-color", '');
        $('#txtPanCardNumber').css("border-color", '');
        $('#txtAcNumber').css("border-color", '');
        $('#txtHolderName').css("border-color", '');
        $('#txtIfscCode').css("border-color", '');
        $('#txtBranchName').css("border-color", '');
        $('#txtSwiftCode').css("border-color", '');

        $('#ErrGSTIN').html('');
        $('#ErrPanCardNumber').html('');
        $('#ErrFile').html('');
        $('#ErrFile1').html('');
        $('#ErrAcNumber').html('');
        $('#ErrHolderName').html('');
        $('#ErrIfscCode').html('');
        $('#ErrBranchName').html('');
        $('#ErrSwiftCode').html('');
        $('#ErrIntrestedIn').html('');
        
        
        
        var strInterested = '';

        var AnonomousName = fieldValidationBlank($('#txtAnonomousName'), $('#ErrAnonomousName'), '* Enter Anonomous Name', 'Blank')
        if (AnonomousName == false) { return false; }


        var Day = fieldValidationBlank($('#txtDay'), $('#ErrDay'), '* Please Enter Date', 'Blank')
        if (Day == false) { return false; }

        if ($('#txtDay').val() < 32 && $('#txtDay').val() > 0)
        { }
        else {
            $('#ErrDay').html('* Enter Valid Day');
            $('html, body').animate({ scrollTop: $('#txtDay').offset().top - 80 }, 200);
            return false;
        }

        var Month = fieldValidationBlank($('#txtMonth'), $('#ErrMonth'), '* Please Enter Month', 'Blank')
        if (Month == false) { return false; }


        if ($('#txtMonth').val() < 13 && $('#txtMonth').val() > 0)
        { }
        else {
            $('#ErrMonth').html('* Enter Valid Month');
            $('html, body').animate({ scrollTop: $('#txtMonth').offset().top - 80 }, 200);
            return false;
        }

        var Year = fieldValidationBlank($('#txtYear'), $('#ErrYear'), '* Please Enter Year', 'Blank')
        if (Year == false) { return false; }

        if ($('#txtYear').val().length == 4) {
        }
        else {
            $('#ErrYear').html('* Enter Valid Year');
            $('html, body').animate({ scrollTop: $('#txtYear').offset().top - 80 }, 200);
            return false;
        }

        var dobDay = $('#txtDay').val();
        var dobMonth = $('#txtMonth').val();
        var dobYear = $('#txtYear').val();
        dob = new Date(dobYear + '-' + dobMonth + '-' + dobDay);
        var today = new Date();
        var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));

        if (age < 18) {
            $('#ErrDay').html('Age should be 18+');
            $('html, body').animate({ scrollTop: $("#txtDay").offset().top - 80 }, 200);
            return false;
        }

        var Interested = $('#ddlIntrestedIn').val();

        if (Interested != null) {
            for (var i = 0; i < Interested.length; i++) {
                strInterested = strInterested + Interested[i] + ',';
            }

            strInterested = $.trim(strInterested);
            var lastChar = strInterested.slice(-1);
            if (lastChar == ',') {
                strInterested = strInterested.slice(0, -1);
            }
        }
        else {
            document.getElementById('ErrIntrestedIn').innerHTML = "Select Interested In";
            $('html, body').animate({ scrollTop: $('#ddlIntrestedIn').offset().top - 80 }, 200);
            return false;
        }

        // primary Country

        var Country = fieldValidationBlank($('#txtCountry'), $('#ErrCountry'), '* Enter Countryname', 'Blank')
        if (Country == false) { return false; }

        var State = fieldValidationBlank($('#txtState'), $('#ErrState'), '* Enter Statename', 'Blank')
        if (State == false) { return false; }

        var Address1 = fieldValidationBlank($('#txtAddress1'), $('#ErrAddress1'), '* Enter Address Line 1', 'Blank')
        if (Address1 == false) { return false; }

        var Address2 = fieldValidationBlank($('#txtAddress2'), $('#ErrAddress2'), '* Enter Address Line 2', 'Blank')
        if (Address2 == false) { return false; }


        

        var ZipCode = fieldValidationBlank($('#txtPostalCode'), $('#ErrPostalCode'), '* Enter Postal Code', 'Blank')
        if (ZipCode == false) { return false; }


        var countryId = $("#hiddenCountry_id").val();

        if (countryId == 101) // India
        {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode1'), '* Please enter valid postal code', 'ZipNumeric')
            if (RexPostalCode == false) { return false; }
        }
        else {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode1'), '* Please enter valid postal code', 'ZipAlphaNumeric')
            if (RexPostalCode == false) { return false; }
        }

        var City = fieldValidationBlank($('#txtCity'), $('#ErrCity'), '* Enter Cityname', 'Blank')
        if (City == false) { return false; }

        if ($("#txtGSTIN").val().length > 0) {
            var GSTIN = fieldValidation($('#txtGSTIN'), $('#ErrGSTIN'), 'Please enter valid GSTIN', 'Alphanumeric')
            if (GSTIN == false) { return false; }
        }

        // Billing Country
        var countryId1 = $("#hiddenCountry_id1").val();

        if (countryId1 == 101) // India
        {
            var RexPostalCode = fieldValidation($('#txtBillingZip'), $('#ErrPostalCode1'), '* Please enter valid postal code', 'ZipNumeric')
            if (RexPostalCode == false) { return false; }
        }
        else {
            var RexPostalCode = fieldValidation($('#txtBillingZip'), $('#ErrPostalCode1'), '* Please enter valid postal code', 'ZipAlphaNumeric')
            if (RexPostalCode == false) { return false; }
        }


        if ($("#txtPanCardNumber").val().length > 0)
        {
            var PanCard = fieldValidation($('#txtPanCardNumber'), $('#ErrPanCardNumber'), 'Please enter valid Pancard', 'Pancard')
            if (PanCard == false) { return false; }

            var hiddenPanCard =$("#hiddenisPanImage").val();

            if (hiddenPanCard.length > 0)
            {

            }
            else {

            
            if ($('#file').val().length <= 0) {
                document.getElementById("file").style.borderColor = "Red";
                document.getElementById('ErrFile').innerHTML = "* Please Select Pan Card Image";
                $('html, body').animate({ scrollTop: $('#file').offset().top - 80 }, 200);
                return false;
            }
            }
            //if ($("#txtPanCardNumber").val().length == 10)
            //{
            //    $('#ErrPanCardNumber').html('Invalid Pancard Number');
            //}
            //else {
            //    var PanCard = fieldValidation($('#txtPanCardNumber'), $('#ErrPanCardNumber'), 'Please enter valid Pancard', 'Alphanumeric')
            //    if (PanCard == false) { return false; }
            //}
        }

        
        // Aadhar card

        if (countryId == 101)
        {
            if ($("#txtAadharCard").val().length > 0) {

                var hiddenAadharImage = $("#hiddenisAadharImage").val();
                if (hiddenAadharImage.length > 0) {

                }
                else {
                    var AadharNumber = fieldValidation($('#txtAadharCard'), $('#ErrAadharCard'), 'Please enter valid Aadhar Card Number', 'Aadharcard')
                    if (AadharNumber == false) { return false; }


                    if ($('#file1').val().length <= 0) {
                        document.getElementById("file1").style.borderColor = "Red";
                        document.getElementById('ErrFile1').innerHTML = "* Please Select Aadhar Card Image";
                        $('html, body').animate({ scrollTop: $('#file1').offset().top - 80 }, 200);
                        return false;
                    }
                }
                
            }
        }
        else {
            if ($("#txtAadharCard").val().length > 0) {
                var hiddenAadharImage = $("#hiddenisAadharImage").val();
                if (hiddenAadharImage.length > 0) {

                }
                else {

                
                var AadharNumber = fieldValidation($('#txtAadharCard'), $('#ErrAadharCard'), 'Please enter valid Identification Number', 'Alphanumeric')
                if (AadharNumber == false) { return false; }


                if ($('#file1').val().length <= 0) {
                    document.getElementById("file1").style.borderColor = "Red";
                    document.getElementById('ErrFile1').innerHTML = "* Please Select Identification Image";
                    $('html, body').animate({ scrollTop: $('#file1').offset().top - 80 }, 200);
                    return false;
                }
                }
            }
        }
       

        if ($("#txtAcNumber").val().length > 0) {
            var AcNumber = fieldValidation($('#txtAcNumber'), $('#ErrAcNumber'), 'Please enter valid A/C Number', 'Alphanumeric')
            if (AcNumber == false) { return false; }
        }


        if ($("#txtHolderName").val().length > 0) {
            var HolderName = fieldValidation($('#txtHolderName'), $('#ErrHolderName'), 'Please enter Alphanumeric data ', 'Alphanumeric')
            if (HolderName == false) { return false; }
        }
        if ($("#txtIfscCode").val().length > 0) {
            var IFSC = fieldValidation($('#txtIfscCode'), $('#ErrIfscCode'), 'Please enter Alphanumeric data ', 'Alphanumeric')
            if (IFSC == false) { return false; }
        }
        if ($("#txtBranchName").val().length > 0) {
            var Branch = fieldValidation($('#txtBranchName'), $('#ErrBranchName'), 'Please enter Alphanumeric data ', 'Alphanumeric')
            if (Branch == false) { return false; }
        }
        if ($("#txtSwiftCode").val().length > 0) {
            var Branch = fieldValidation($('#txtSwiftCode'), $('#ErrSwiftCode'), 'Please enter Alphanumeric data ', 'Alphanumeric')
            if (Branch == false) { return false; }
        }
        // Pan Card
        var PanImage = $('#hiddenisPanImage').val();
        if (PanImage.length > 0 || PanImage == '') {

        }
        else {
            if ($('#file').val().length <= 0) {
                document.getElementById("file").style.borderColor = "Red";
                document.getElementById('ErrFile').innerHTML = "* Please Select Image";
                $('html, body').animate({ scrollTop: $('#file').offset().top - 80 }, 200);
                return false;
            }

        }

        // Aadhar Card
        var AddharCard = $('#hiddenisAadharImage').val();
        if (AddharCard.length > 0 || AddharCard == '') {

        }
        else {
            if ($('#file1').val().length <= 0) {
                document.getElementById("file1").style.borderColor = "Red";
                document.getElementById('ErrFile1').innerHTML = "* Please Select Image";
                $('html, body').animate({ scrollTop: $('#file1').offset().top - 80 }, 200);
                return false;
            }
        }

        
        $("#divLoaderMaster").show();



        //var updateProfile = {};
        //updateProfile.userid = $('#hiddenUserId').val();
        //updateProfile.BillingCountry = $('#txtBillingCountry').val();
        //updateProfile.BillingAddress = $('#txtBilligAddress1').val();
        ////updateProfile.address2 = $('#txtBilligAddress2').val();
        //updateProfile.BillingState = $('#txtBillingState').val();
        //updateProfile.BillingZip = $('#txtBillingZip').val();
        //updateProfile.BillingCity = $('#txtBillingCity').val();
        //updateProfile.nickname = $('#txtAnonomousName').val();
        //updateProfile.GSTIN = $('#txtGSTIN').val();
        //updateProfile.panCard = $('#txtPanCardNumber').val();
        //updateProfile.acNumber = $('#txtAcNumber').val();
        //updateProfile.holderName = $('#txtHolderName').val();
        //updateProfile.ifscCode = $('#txtIfscCode').val();
        //updateProfile.branchName = $('#txtBranchName').val();
        //updateProfile.swiftCode = $('#txtSwiftCode').val();
        ////updateProfile.bankImage = $('#txtAnonomousName').val();
        //updateProfile.MobileVerified = $('#hiddenisMobileVerify').val();

        debugger;

        var fileUpload = $("#file").get(0);
        var files = fileUpload.files;


        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append("PanImage", files[i]);
        }


        var fileUpload1 = $("#file1").get(0);
        var files1 = fileUpload1.files;



        // Looping over all files and add it to FormData object
        for (var i = 0; i < files1.length; i++) {
            fileData.append("AadharImage", files1[i]);
        }

        // Adding one more key to FormData object
        
        var userid = $('#hiddenUserId').val();

        var isGender = $("input[name='gender']:checked").val();
        var bday = $('#txtDay').val();
        var bmonth = $('#txtMonth').val();
        var byear = $('#txtYear').val();
        var interestedIds = strInterested;

        var country = $('#txtCountry').val();
        var state = $('#txtState').val();
        var address1 = $('#txtAddress1').val();
        var address2 = $('#txtAddress2').val();
        var zip = $('#txtPostalCode').val();
        var city = $('#txtCity').val();

        
        var companyName = $('#txtCompanyName').val();
        var BillingCountry = $('#txtBillingCountry').val();
        var BillingAddress = $('#txtBilligAddress1').val();
        var billingAddress2 = $('#txtBilligAddress2').val();
        var BillingState = $('#txtBillingState').val();
        var BillingZip = $('#txtBillingZip').val();
        var BillingCity = $('#txtBillingCity').val();

        var nickname = $('#txtAnonomousName').val();
        var GSTIN = $('#txtGSTIN').val();
        var panCard = $('#txtPanCardNumber').val();
        var acNumber = $('#txtAcNumber').val();
        var holderName = $('#txtHolderName').val();
        var ifscCode = $('#txtIfscCode').val();
        var branchName = $('#txtBranchName').val();
        var swiftCode = $('#txtSwiftCode').val();
        var MobileVerified = $('#hiddenisMobileVerify').val();
        var aadharCard = $('#txtAadharCard').val();

        var countryid = $('#hiddenCountry_id').val();
        var stateid = $('#hiddenState_id').val();
        var cityid = $('#hiddenCity_id').val();

        var bCountryid = $('#hiddenCountry_id1').val();
        var bStateid = $('#hiddenState_id1').val();
        var bCityid = $('#hiddenCity_id1').val();

        if (MobileVerified == '')
        {
            MobileVerified = 0;
        }
        var PanImageName = $('#hiddenisPanImage').val();
        var AadharImageName = $('#hiddenisAadharImage').val();
        fileData.append('userid', userid);

        //Profile data 

        fileData.append('isGender', isGender);
        fileData.append('bday', bday);
        fileData.append('bmonth', bmonth);
        fileData.append('byear', byear);
        fileData.append('interestedIds', interestedIds);

        fileData.append('country', country);
        fileData.append('state', state);
        fileData.append('address1', address1);
        fileData.append('address2', address2);
        fileData.append('zip', zip);
        fileData.append('city', city);

        fileData.append('companyName', companyName);
        fileData.append('BillingCountry', BillingCountry);
        fileData.append('BillingAddress', BillingAddress);
        fileData.append('billingAddress2', billingAddress2);
        
        fileData.append('BillingState', BillingState);
        fileData.append('BillingZip',BillingZip );
        fileData.append('BillingCity', BillingCity);

        fileData.append('nickname',nickname );
        fileData.append('GSTIN',GSTIN );
        fileData.append('panCard',panCard );
        fileData.append('acNumber',acNumber );
        fileData.append('holderName', holderName);
        fileData.append('ifscCode',ifscCode );
        fileData.append('branchName',branchName );
        fileData.append('swiftCode',swiftCode );
        fileData.append('MobileVerified',MobileVerified );
          fileData.append('PanImageName', PanImageName);
        fileData.append('aadharCard', aadharCard);
         fileData.append('AadharImageName', AadharImageName);
        
        fileData.append('countryid', countryid);
        fileData.append('stateid', stateid);
        fileData.append('cityid', cityid);
        fileData.append('bCountryid', bCountryid);
        fileData.append('bStateid', bStateid);
        fileData.append('bCityid', bCityid);

        debugger;

        $.ajax({
            url: "/User/UpdateRegistration",
            type: 'POST',
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            //dataType: 'json',
            data: fileData,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoaderMaster").hide();

                    $('#ModelProfileComplete').modal('toggle');

                    //document.getElementById('ErrSuccess').innerHTML = 'Profile Updated Successfully';
                    //setTimeout(function () {
                    //    document.getElementById('ErrSuccess').innerHTML = "";
                    //}, 3000);

                }
                else if (ReturnData.status == 'Fail') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = "Only jpg, jpeg, pdf and Png files are accepted";
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('ErrException').innerHTML = "";
                    }, 3000);
                }
            },
            error: function (jqXHR, exception) {
                $("#divLoaderMaster").hide();
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                alert(msg);
            },
        });
    });


    function fieldValidationBlank(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');
        if (validationMsg == 'Blank') {
            if (inputvalue.val().length <= 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                // ON Focus
                //$('html,body').animate({ scrollTop: inputvalue.offset().top }, 500, function () {
                //    inputvalue.focus();
                //});
                return false;
            }
        }
        else if (validationMsg == 'ddl') {

            if (inputvalue.val() == 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                return false;
            }
        }


    }

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');

        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Firstname') {
                if (/^[A-Za-z.]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Lastname') {
                if (/^[A-Za-z. ]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Email') {
                if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Password') {

                if (/^[a-zA-Z0-9._\#\$\!\-]{6,50}$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Mobile') {
                if (/^[1-9][\d]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'ZipNumeric') {
                if (/^[0-9]+\d{5}$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
            else if (validationMsg == 'ZipAlphaNumeric') {
                if (/^[A-Za-z0-9]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
            else if (validationMsg == 'Alphanumeric') {
                if (/^[0-9a-zA-Z ]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Pancard') {
                if (/[a-zA-z]{5}\d{4}[a-zA-Z]{1}/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Aadharcard') {
                if (/^\d{4}\d{4}\d{4}$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            
        }
    }

    // Update Password



    $('#btnUpdatePassword').click(function () {

        var OldPassword = fieldValidationBlank($('#txtOldPassword'), $('#ErrOldPassword'), '* Please Enter Old Password', 'Blank')
        if (OldPassword == false) { return false; }

        var NewPassword = fieldValidationBlank($('#txtNewPassword'), $('#ErrNewPassword'), '* Please Enter New Password', 'Blank')
        if (NewPassword == false) { return false; }

        var RexPassword = fieldValidation($('#txtNewPassword'), $('#ErrNewPassword'), '* Please enter min 6 letters Password', 'Password')
        if (RexPassword == false) { return false; }


        var ConfirmPassword = fieldValidationBlank($('#txtCPassword'), $('#ErrCPassword'), '* Please Enter Re-Password', 'Blank')
        if (ConfirmPassword == false) { return false; }


        if ($('#txtNewPassword').val() == $('#txtCPassword').val()) {

        }
        else {
            document.getElementById("txtCPassword").style.borderColor = "Red";
            document.getElementById('ErrCPassword').innerHTML = "* Password should match Retype-Password";
            return false;
        }


        
        if ($('#txtOldPassword').val() != $('#hiddenisPassword').val())
        {
            document.getElementById("txtOldPassword").style.borderColor = "Red";
            document.getElementById('ErrOldPassword').innerHTML = "Please enter old password correctly";
            return false;

            
        }

        var UpdatePassword = {};
        UpdatePassword.userid = $('#hiddenUserId').val();
        UpdatePassword.password = $('#txtNewPassword').val();

        $("#divLoaderMaster").show();

        $.ajax({
            url: "/User/UpdatePassword",
            type: 'POST',
            dataType: 'json',
            data: UpdatePassword,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('SuccessPassword').innerHTML = 'Password Successfully Updated';
                    setTimeout(function () {
                        document.getElementById('SuccessPassword').innerHTML = "";
                        $('#Change_PWD').modal('toggle');
                        window.location.reload();
                    }, 3000);
                }
                else if (ReturnData.status == 'Error') {
                    $("#divLoaderMaster").hide();
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('ErrException').innerHTML = "";
                    }, 3000);
                }
            },
        });
    });

    // primary COUNTRY - STATE - CITY

    //Country
    $("#txtCountry").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCountry",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCountry").style.borderColor = "Red";
                        document.getElementById('ErrCountry').innerHTML = "* This Country is not available";
                    }
                    else {
                        document.getElementById("txtCountry").style.borderColor = "";
                        document.getElementById('ErrCountry').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.countryname, id: item.countryid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            if (ui.item.id == 101)
            {
                document.getElementById('lblAadharCard').innerHTML = "AADHAR CARD NUMBER";
            }
            else {
                document.getElementById('lblAadharCard').innerHTML = "IDENTIFICATION NUMBER";
            }
            $("#hiddenCountry_id").val(ui.item.id);
            $("#txtState").val("");
            $("#txtCity").val("");
        },
    });

    // State
    $("#txtState").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoState",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Country_id: $('#hiddenCountry_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtState").style.borderColor = "Red";
                        document.getElementById('ErrState').innerHTML = "* This State is not available";
                    }
                    else {
                        document.getElementById("txtState").style.borderColor = "";
                        document.getElementById('ErrState').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.statename, id: item.stateid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenState_id").val(ui.item.id);
            $("#txtCity").val("");
        },
    });

    // City
    $("#txtCity").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCity",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, State_id: $('#hiddenState_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCity").style.borderColor = "Red";
                        document.getElementById('ErrCity').innerHTML = "* This City is not available";
                    }
                    else {
                        document.getElementById("txtCity").style.borderColor = "";
                        document.getElementById('ErrCity').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.cityname, id: item.cityid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCity_id").val(ui.item.id);
        },
    });


    // Billing  COUNTRY - STATE - CITY

    $("#txtBillingCountry").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCountry",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingCountry").style.borderColor = "Red";
                        document.getElementById('ErrCountry1').innerHTML = "* This Country is not available";
                    }
                    else {
                        document.getElementById("txtBillingCountry").style.borderColor = "";
                        document.getElementById('ErrCountry1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.countryname, id: item.countryid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCountry_id1").val(ui.item.id);
            $("#txtBillingState").val("");
            $("#txtBillingCity").val("");
        },
    });

    // State
    $("#txtBillingState").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoState",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Country_id: $('#hiddenCountry_id1').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingState").style.borderColor = "Red";
                        document.getElementById('ErrState1').innerHTML = "* This State is not available";
                    }
                    else {
                        document.getElementById("txtBillingState").style.borderColor = "";
                        document.getElementById('ErrState1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.statename, id: item.stateid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenState_id1").val(ui.item.id);
            $("#txtBillingCity").val("");
        },
    });

    // City
    $("#txtBillingCity").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCity",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, State_id: $('#hiddenState_id1').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingCity").style.borderColor = "Red";
                        document.getElementById('ErrCity1').innerHTML = "* This City is not available";
                    }
                    else {
                        document.getElementById("txtBillingCity").style.borderColor = "";
                        document.getElementById('ErrCity1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.cityname, id: item.cityid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCity_id1").val(ui.item.id);
        },
    });

    // Billing COUNTRY - STATE - CITY

    //Country
    $("#txtBillingCountry").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCountry",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingCountry").style.borderColor = "Red";
                        document.getElementById('ErrCountry1').innerHTML = "* This Country is not available";
                    }
                    else {
                        document.getElementById("txtBillingCountry").style.borderColor = "";
                        document.getElementById('ErrCountry1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.countryname, id: item.countryid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCountry_id1").val(ui.item.id);
        },
    });

    // State
    $("#txtBillingState").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoState",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Country_id: $('#hiddenCountry_id1').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingState").style.borderColor = "Red";
                        document.getElementById('ErrState1').innerHTML = "* This State is not available";
                    }
                    else {
                        document.getElementById("txtBillingState").style.borderColor = "";
                        document.getElementById('ErrState1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.statename, id: item.stateid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenState_id1").val(ui.item.id);
        },
    });

    // City
    $("#txtBillingCity").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCity",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, State_id: $('#hiddenState_id1').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtBillingCity").style.borderColor = "Red";
                        document.getElementById('ErrCity1').innerHTML = "* This City is not available";
                    }
                    else {
                        document.getElementById("txtBillingCity").style.borderColor = "";
                        document.getElementById('ErrCity1').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.cityname, id: item.cityid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCity_id1").val(ui.item.id);
        },
    });

    $('#file').change(function () {
        document.getElementById("file").style.borderColor = "";
        document.getElementById('ErrFile').innerHTML = "";
        var file = this.files[0];
        var fileType = file["type"];
        var validImageTypes = ["image/jpg", "image/jpeg", "image/png", "image/PNG", "image/pdf", "image/PDF"];
        if ($.inArray(fileType, validImageTypes) < 0) {
            // invalid file type code goes here.
            document.getElementById("file").style.borderColor = "Red";
            document.getElementById('ErrFile').innerHTML = "* Only jpg, jpeg, pdf and png files are accepted";
        }
        $("#hiddenisPanImage").val('');
    });


    $('#file1').change(function () {
        document.getElementById("file1").style.borderColor = "";
        document.getElementById('ErrFile1').innerHTML = "";
        var file = this.files[0];
        var fileType = file["type"];
        var validImageTypes = ["image/jpg", "image/jpeg", "image/png", "image/PNG", "image/pdf", "image/PDF"];
        if ($.inArray(fileType, validImageTypes) < 0) {
            // invalid file type code goes here.
            document.getElementById("file1").style.borderColor = "Red";
            document.getElementById('ErrFile1').innerHTML = "* Only jpg, jpeg, pdf and png files are accepted";
        }
        $("#hiddenisAadharImage").val('');
    });

    
</script>


