﻿@model Astaguru.Models.Auction

@{
    ViewBag.Title = "PastDetails";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    string Bidclosingtime = string.Empty;
    Astaguru.Services.UserService.CurrentAuctionService CAS = new Astaguru.Services.UserService.CurrentAuctionService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    int userid = Convert.ToInt32(Session["userid"]);
    string Record = string.Empty;
    if (string.IsNullOrEmpty(Request.QueryString["Record"]))
    {
        
    }
    else
    {
         Record = Request["Record"].ToString();
    }
    
    DateTime CurrentDate = DateTime.Now;
    Bidclosingtime = @Model.Bidclosingtime.ToString("yyyy-MM-dd HH:mm:ss");
    DateTime date_Bidclosingtime = DateTime.ParseExact(Bidclosingtime, "yyyy-MM-dd HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture);

    //Check user Current Lead Or Not

    int leadUserId = CAS.GetUserBiderOwner(Model.reference);
    string image = "zoomImage:\"https://www.astaguru.com/" + Model.image + " \", zoomSizeMode: \"image\", tintColor:\"#000\", tintOpacity:0.25, captionPosition:\"bottom\", maxMagnification:4, autoInside:750";

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(Model.Auctionid);

    string imageURl = Uri.EscapeUriString(@Baner.auctionBanner);

    
       
     
    
}
<input type="hidden" id="hiddenProductId" value="@Model.productid" />

<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>

<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/@imageURl) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title bdr_no">
                    <h1 class="title_font medium_text">@Html.Raw(@Baner.auctiontitle)</h1>
                    <p>@Baner.auctiondate</p>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->

    <div id="filter_wrap">
        <div class="content">
            <div class="flex_flex_spbtwn">
                <ul class="icon_list_grid btn_proxy_bid_row">
                    @if (Record == "Top")
                    {
                        <li><a href="@baseUrlPath/Home/recordPriceArtwork" class="outline_link">Back to Past Auction</a></li>
                    }
                    else
                    {
                        <li><a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@Model.Auctionid" class="outline_link">Back to Past Auction</a></li>
                    }

                </ul>

                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->



    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-100">
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                        <li data-thumb="https://www.astaguru.com/@Model.image">
                            <a data-gallery="manual" data-index="0" href="https://www.astaguru.com/@Model.image" data-group="b"><img src="https://www.astaguru.com/@Model.image" /></a>
                        </li>

                        @if (Model.view1 != null || Model.view2 != null || Model.view3 != null || Model.view4 != null)
{
    if (Model.view1 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view1">
            <a data-gallery="manual" data-index="1" href="https://www.astaguru.com/@Model.view1" data-group="b"><img src="https://www.astaguru.com/@Model.view1" /></a>
        </li>
    }
    if (Model.view2 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view2">
            <a data-gallery="manual" data-index="2" href="https://www.astaguru.com/@Model.view2" data-group="b"><img src="https://www.astaguru.com/@Model.view2" /></a>
        </li>
    }
    if (Model.view3 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view3">
            <a data-gallery="manual" data-index="3" href="https://www.astaguru.com/@Model.view3" data-group="b"><img src="https://www.astaguru.com/@Model.view3" /></a>
        </li>
    }
    if (Model.view4 != null)
    {
        <li data-thumb="https://www.astaguru.com/@Model.view4">
            <a data-gallery="manual" data-index="4" href="https://www.astaguru.com/@Model.view4" data-group="b"><img src="https://www.astaguru.com/@Model.view4" /></a>
        </li>
    }
}

                    </ul>

                    <a href="javascript:avoid(0)" class="small_btn addToCart" data-productid="@Model.productid"><i class=" icon-star"></i>add to my gallery</a>
                    <br />
                    <span id="Success_@Model.productid" style="color:green" class="clsClearGallary"></span>
                    <span id="Err_@Model.productid" style="color:red" class="clsClearGallary"></span>
                </div>
            </div><!-- col -->

            <div class="col-lg-6">
                <div class="detail_content">
                    <span id="errBid" style="color:red"></span>
                    
                    @if (Model.auctionType == 1)
                    {
                        <a href="@baseUrlPath/Artist/artistProfile?artistid=@Model.artistid" target="_blank">
                        <h2 class="uppercase sbold">
                            @Model.firstname @Model.lastname

                        </h2>
                    </a>
                    }
                    else if (Model.auctionType == 2)
                    {
                          <h2 class="uppercase sbold">@Model.firstname @Model.lastname</h2>
                    }
                  

                    <h3>@Model.title</h3>
                    <dl class="row detail_content_dl">

                        <dt class="col-sm-3 col-lg-2">Lot No</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.reference</dd>

                        @if(Model.auctionType == 1)
                        {
                             <dt class="col-sm-3 col-lg-2">Medium</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.medium</dd>

                        <dt class="col-sm-3 col-lg-2">Year</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">
                            @Model.productdate
                        </dd>

                        <dt class="col-sm-3 col-lg-2">Size</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Model.productsize</dd>
                        }
                        else if (Model.auctionType == 2)
                        {
                             <dt class="col-sm-3 col-lg-2">Description</dt>
                        <dd class="col-sm-9 col-lg-10 sbold">@Html.Raw(@Model.Prdescription)</dd>
                            
                        }
                       

                        <dt class="col-sm-3 col-lg-2">Estimate</dt>
                        @if (currency == 1)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }
                        else if (currency == 2)
                        {
                            <dd class="col-sm-9 col-lg-10 sbold">@Model.estamiate</dd>
                        }
                        else
                        {
                               <dd class="col-sm-9 col-lg-10 sbold">@Model.collectors</dd>
                        }


                     

                    </dl>
                    @if (Model.pricelow > Model.pricers)
                    {
                         <p class="uppercase">Winning Bid</p>
                         <h3 class="medium_weight">Bought In</h3>
                    }
                    else
                    {
                       if (currency == 1)
                       {
                           if (Model.Auctionid == 1 || Model.Auctionid == 2 || Model.Auctionid == 3)
                                        {
                                <p class="uppercase">Winning Bid</p>
                                <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@Model.pricers, currency, 10).ToString())</h3>
                                            <h5>(Inclusive 10% margin)</h5>  
                                        }
                                        else
                                        {
                                <p class="uppercase">Winning Bid</p>
                            <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@Model.pricers, currency, 15).ToString())</h3>
                            <h5>(Inclusive 15% margin)</h5>
                                        }

                       }
                       else if (currency == 2)
                       {
                           if (Model.Auctionid == 1 || Model.Auctionid == 2 || Model.Auctionid == 3)
                           {
                                <p class="uppercase">Winning Bid</p>
                            <h3 class="medium_weight">$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@Model.priceus, currency, 10).ToString())</h3>
                            <h5>(Inclusive 15% margin)</h5>
                           }
                           else
                           {
                                <p class="uppercase">Winning Bid</p>
                                <h3 class="medium_weight">$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@Model.priceus, currency, 15).ToString())</h3>
                                <h5>(Inclusive 15% margin)</h5>
                           }
                       }
                       else
                       {
                           if (Model.Auctionid == 1 || Model.Auctionid == 2 || Model.Auctionid == 3)
                           {
                                         <p class="uppercase">Winning Bid</p>
                            <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@Model.pricers, currency, 10).ToString())</h3>
                            <h5>(Inclusive 10% margin)</h5>
                           }
                           else
                           {
                                         <p class="uppercase">Winning Bid</p>
                            <h3 class="medium_weight">₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@Model.pricers, currency, 15).ToString())</h3>
                            <h5>(Inclusive 15% margin)</h5>
                           }
                       }
                    }
                </div><!-- detail_content -->

            </div><!-- col -->
        </div><!-- Row -->

        <div class="about_artist">
            <div class="row custom_row">
                <div class="col-md-6 custom_col extra-margin-top-100">
                    <div class="additional_info">
                        <h3 class="uppercase sbold">additional information</h3>
                        <p> @Html.Raw(@Model.description)</p>
                    </div>
                </div><!-- col -->

            @if (Model.auctionType == 1)
            {
                if(Model.HumanFigure != null && Model.HumanFigure != "")
                {
                    <div class="col-md-6 custom_col extra-margin-top-100">
                    <div class="col_additional_img">
                        <img src="https://www.astaguru.com/@Model.HumanFigure" class="img_responsive" />
                        <h5 class="medium_weight">Artwork Size</h5>
                        <p>Height of the figure - 6ft</p>
                    </div><!-- col_additional_img -->
                </div><!-- col -->    
                }
            }
            else if(Model.auctionType == 2)
            {
                
            }
                
            </div><!-- row -->
        </div><!-- addition_wrap -->
        <div class="clear"></div>
    </div><!-- content -->

    <div class="hrline"></div>

@if (Model.auctionType == 1)
{
    <div class="container-fluid content extra-margin-bottom-100 extra-margin-top-100">
        <div class="about_artist">
            <h3 class="uppercase sbold">about artist</h3>
            <div class="read_more">
                <p>
                    @Html.Raw(@Model.Profile)
                </p>
            </div>
        </div><!-- about_artist -->

    </div><!-- content -->
}
else if (Model.auctionType == 2)
{
    
}
    

</div><!-- Wrapper -->


<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }

    });
</script>

