﻿
@{
    ViewBag.Title = "PastAuctionResults";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int AuctionId = Convert.ToInt32(Request.QueryString["AuctionId"]);
    Astaguru.Services.UserService.PastAuctionService PAS = new Astaguru.Services.UserService.PastAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    string Subquery = string.Empty;
    if (@HttpContext.Current.Session["SubqueryPast"] != null)
    {
        Subquery = @HttpContext.Current.Session["SubqueryPast"].ToString();
    }
    List<string> FilterArtist;
    FilterArtist = (List<string>)Session["FilterArtistPast"];
    List<string> FilterMedium;
    FilterMedium = (List<string>)Session["FilterMediumPast"];
    List<string> FilterDept;
    FilterDept = (List<string>)Session["FilterDeptPast"];
    int count = 0;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }

    double TotalPaginationCount = PAS.GetPastLotListCount(Subquery, AuctionId);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);

    List<Astaguru.Models.Auction> PastLot = null;
    PastLot = PAS.GetPastLotList(Subquery, page, AuctionId);

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AuctionId);

    string imageURl = string.Empty;
    if (Baner.auctionBanner != null)
    {
        imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }
    //string imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
}
<input type="hidden" id="hiddenAuctionId" value="@AuctionId" />
<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/@imageURl) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Html.Raw(@Baner.auctiontitle)</h1>
                    <p>@Baner.auctiondate</p>
                </div>
                <div class="watch_video">
                    <a href="#">
                        <i class="icon-play"></i>
                        <span>Watch our auction<br>videos</span>
                    </a>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">
            <div class="filter_drop" id="filter_drop">
                <div class="row filter_row">
                    <div class="col-sm-4">
                        <h5>Artists</h5>
                        @foreach (var item in FS.GetFilterArtist(AuctionId))
                        {
                            if (FilterArtist != null)
                            {
                                bool ischecked = FilterArtist.Contains(Convert.ToString(item.id));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id" checked>
                                        <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                        <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                    <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                </div><!-- checkbox -->
                            }
                        }
                    </div><!-- col -->
                    <div class="col-sm-4">
                        <h5>Departments</h5>
                        @foreach (var item in FS.GetFilterDepartment(AuctionId))
                        {
                            if (FilterDept != null)
                            {
                                bool ischecked = FilterDept.Contains(Convert.ToString(item.categoryid));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid" checked>
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                    <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                </div><!-- checkbox -->
                            }


                        }

                    </div><!-- col -->
                    <div class="col-sm-4">
                        <h5>Medium</h5>
                        @foreach (var item in FS.GetFilterMedium(AuctionId))
                        {
                            if (FilterMedium != null)
                            {
                                bool ischecked = FilterMedium.Contains(Convert.ToString(item.mediumid));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid" checked>
                                        <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                        <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                    <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                </div><!-- checkbox -->
                            }


                        }


                    </div><!-- col -->

                </div><!-- filter_row -->
                <div class="filter_button">
                    <button class="btn_black" id="btnApply"><span>Apply</span></button>
                    <a href="JavaScript:Void(0);" class="link_cancel" id="btn_Clear">Cancel</a>
                </div><!-- filter_button -->
            </div><!-- filter drop -->
            <div class="flex_spbtn">
                <div class="filter_artist">
                    <a href="javascript:avoid(0)" id="click_filter"><i class="icon-filter"></i></a>

                </div><!-- filter_artist -->

                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="https://www.astaguru.com/flip/@AuctionId/">E-Catalogue</a></li>
                        <li><a href="@baseUrlPath/Past/AuctionAnalysis?AuctionId=@AuctionId&page=@page">Auction Analysis</a></li>

                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        @if (@HttpContext.Current.Session["SubqueryPast"] != null)
                        {
                            <li><a href="@baseUrlPath/Past/FilterPastAuctionResult?AuctionId=@AuctionId&page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                            <li><a href="@baseUrlPath/Past/listFilterPastAuctionResult?AuctionId=@AuctionId&page=@page"><i class="icon-list-view"></i></a></li>
                        }
                        else
                        {
                            <li><a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                            <li><a href="@baseUrlPath/Past/listPastAuctionResult?AuctionId=@AuctionId&page=@page"><i class="icon-list-view"></i></a></li>
                        }

                    </ul>
                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->

    <div class="container-fluid content extra-padding-bottom-100">
        <div class="row equal_height_row">

            @if (PastLot.Count > 0)
            {
                foreach (var item in PastLot)
                {
                    <div class="col-sm-6 col-lg-4 col-xl-3 extra-padding-top-40">
                        <div class="box_col panel-body hover_zoom equal_height_col">
                            <ul class="listing_slider">

                                <li class="flip-container">

                                    <div class="flipper">
                                        <div class=" front img_box_col">
                                            <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                        </div>
                                        <div class="after_flipe img_box_col">
                                            <div>
                                                @if (item.auctionType == 1)
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.productdate</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else if (item.auctionType == 2)
                                                {

                                                    <h6>Description</h6>

                                                    <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                    <h6></h6>
                                                    <p>@item.productsize</p>

                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.productdate</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }


                                            </div>
                                        </div>

                                    </div>

                                </li>


                                @if (item.view1 != null || item.view2 != null || item.view3 != null || item.view4 != null)
                                {
                                    if (item.view1 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class="front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view1" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view2 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view2" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view3 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view3" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view4 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view2" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                }

                            </ul>



                            @*<div class="flip-container">
                                                            <div class="flipper">
                                                                <div class="front img_box_col">
                                                                    <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                                                </div>
                                                                <div class="after_flipe img_box_col">
                                                                    <div>
                                                                        @if (item.auctionType == 1)
                                                                        {
                                                                            <h6>Medium</h6>
                                                                            <p>@item.medium</p>
                                                                            <h6>Size</h6>
                                                                            <p>@item.productsize in.</p>
                                                                            <h6>Year</h6>
                                                                            <p>@item.productdate</p>
                                                                            <h6>Estimate</h6>
                                                                            if (currency == 1)
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                            else if (currency == 2)
                                                                            {
                                                                                <p>@item.estamiate</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                        }
                                                                        else if (item.auctionType == 2)
                                                                        {
                                                                            <h6>Description</h6>
                                <p class="hover_description">@Html.Raw(item.Prdescription)</p>
                                                                            <p>@item.productsize</p>
                                                                            <h6>Estimate</h6>
                                                                            if (currency == 1)
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                            else if (currency == 2)
                                                                            {
                                                                                <p>@item.estamiate</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <h6>Medium</h6>
                                                                            <p>@item.medium</p>
                                                                            <h6>Size</h6>
                                                                            <p>@item.productsize</p>
                                                                            <h6>Year</h6>
                                                                            <p>@item.productdate</p>
                                                                            <h6>Estimate</h6>
                                                                            if (currency == 1)
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                            else if (currency == 2)
                                                                            {
                                                                                <p>@item.estamiate</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>@item.collectors</p>
                                                                            }
                                                                        }

                                                                    </div>
                                                                </div><!-- after_flipe -->
                                                            </div><!-- flipper -->
                                                        </div><!-- flip-container -->*@
                            <div class="col_box_content">
                                <a data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b">
                                    <span class="icon_expand">
                                        <i class="icon-fullscreen"></i>
                                    </span>
                                </a>
                                @{
                                    count++;
                                }
                                @if (item.auctionType == 1)
                                {
                                    // Artist
                                    <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                        <h3 class="uppercase nowrap_text sbold"> @item.firstname  @item.lastname</h3>
                                    </a>
                                }
                                else if (item.auctionType == 2)
                                {
                                    // Artwork
                                    //   <h3 class="uppercase">@item.firstname  @item.lastname</h3>
                                }


                                <p><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid"><span class="lotno">Lot @item.reference</span> @item.title</a></p>

                                <div class="price_with_tax d-flex align-items-center justify-content-between mt-3">
                                    <div>
                                        @if (item.pricelow > item.pricers)
                                        {
                                            <h5 class="m-0">Bought In</h5>
                                        }
                                        else
                                        {
                                            if (currency == 1)
                                            {
                                                if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                {
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                                    <h6>(Inclusive 10% margin)</h6>
                                                }
                                                else
                                                {
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                    <h6>(Inclusive 15% margin)</h6>
                                                }

                                            }
                                            else if (currency == 2)
                                            {
                                                if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                {
                                                    <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 10).ToString())</h5>
                                                    <h6>(Inclusive 15% margin)</h6>
                                                }
                                                else
                                                {
                                                    <h5>$ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.priceus, currency, 15).ToString())</h5>
                                                    <h6>(Inclusive 15% margin)</h6>
                                                }


                                            }
                                            else
                                            {
                                                if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                                {
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 10).ToString())</h5>
                                                    <h6>(Inclusive 10% margin)</h6>
                                                }
                                                else
                                                {
                                                    <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.pricers, currency, 15).ToString())</h5>
                                                    <h6>(Inclusive 15% margin)</h6>
                                                }
                                            }
                                        }
                                    </div>

                                    <div class="btn_proxy_bid_row"><a href="@baseUrlPath/Past/PastDetails?productid=@item.productid" class="outline_link">Detail Page</a></div>

                                </div>

                            </div><!-- col_auctions_content -->
                        </div><!-- box_col -->
                    </div><!-- col -->
                                        }
                                    }
                                    else if (Subquery.Length > 0)
                                    {
                                        <span class="no_data">No record found, please try some other filtration options</span>
                                    }
                                    else
                                    {
                                        <span class="no_data">No records found</span>
                                    }



        </div><!-- Row -->
        @if (@HttpContext.Current.Session["SubqueryPast"] != null)
        {
            if (TotalPaginationCount > 20)
            {
                <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                    <ul class="pagination">
                        <li class="page-item">
                            @if (PrePage > 0)
                            {
                                PrePage = PrePage - 20;
                                <a class="page-link" href="@baseUrlPath/Past/FilterPastAuctionResult?AuctionId=@AuctionId&page=@PrePage" aria-label="Previous">
                                    <span aria-hidden="true"><i class="icon-prev"></i></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            }

                        </li>

                        @{
                            int pagination = 0;
                            for (int i = 1; i <= pagenationOffSet; i++)
                            {

                                if (page == pagination)
                                {
                                    <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Past/FilterPastAuctionResult?AuctionId=@AuctionId&page=@pagination">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@baseUrlPath/Past/FilterPastAuctionResult?AuctionId=@AuctionId&page=@pagination">@i</a></li>
                                }
                                pagination = pagination + 20;
                            }
                        }

                        @{
                            NextPage = TotalPaginationCount - NextPage;
                            NextPage = NextPage - 20;
                            <li class="page-item">
                                @if (NextPage > 0)
                                {
                                    page = page + 20;
                                    <a class="page-link" href="@baseUrlPath/Past/FilterPastAuctionResult?AuctionId=@AuctionId&page=@page" aria-label="Next">
                                        <span aria-hidden="true"><i class="icon-next"></i></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                }
                                else
                                {

                                }
                            </li>

                        }

                    </ul>
                </nav>

                                }
                            }
                            else
                                {
                                    if (TotalPaginationCount > 20)
                                    {
                                        <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    @if (PrePage > 0)
                                                    {
                                                        PrePage = PrePage - 20;
                                                        <a class="page-link" href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@PrePage" aria-label="Previous">
                                                            <span aria-hidden="true"><i class="icon-prev"></i></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    }

                                                </li>

                                                @{
                                                    int pagination = 0;
                                                    for (int i = 1; i <= pagenationOffSet; i++)
                                                    {

                                                        if (page == pagination)
                                                        {
                                                            <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@pagination">@i</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item"><a class="page-link" href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@pagination">@i</a></li>
                                                        }
                                                        pagination = pagination + 20;
                                                    }
                                                }

                                                @{
                                                    NextPage = TotalPaginationCount - NextPage;
                                                    NextPage = NextPage - 20;
                                                    <li class="page-item">
                                                        @if (NextPage > 0)
                                                        {
                                                            page = page + 20;
                                                            <a class="page-link" href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@AuctionId&page=@page" aria-label="Next">
                                                                <span aria-hidden="true"><i class="icon-next"></i></span>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </li>

                                                }

                                            </ul>
                                        </nav>

                                                        }
                                                    }

</div><!-- content -->

</div><!-- Wrapper -->

                                                    <script>
                                                        $(document).ready(function () {
                                                            var currencyType = $('#hiddenCurrency').val();
                                                            if (currencyType == 1) {
                                                                $('#ddlCurrency').val(1);
                                                            }
                                                            else if (currencyType == 2) {
                                                                $('#ddlCurrency').val(2);
                                                            }
                                                        });

                                                        $('#btnApply').click(function () {
                                                            var baseUrlPath = $("#hiddenbaseUrlPath").val();
                                                            var AuctionId = $("#hiddenAuctionId").val();
                                                            var j = 0;
                                                            $("#divLoader").show();
                                                            //document.getElementById('ErrFilter').innerHTML = "";

                                                            $('.chk:checkbox:checked').each(function (i, obj) {
                                                                j++;
                                                            });

                                                            if (j == 0) {

                                                                var Clear = {};
                                                                Clear.productid = 0;
                                                                $.ajax({
                                                                    url: "/Filter/PastFilterClear",
                                                                    type: 'POST',
                                                                    dataType: 'json',
                                                                    data: Clear,
                                                                    traditional: true,
                                                                    success: function (ReturnData) {
                                                                        if (ReturnData.Success) {
                                                                            $("#divLoader").hide();
                                                                            window.location.reload();
                                                                        }
                                                                    },
                                                                });
                                                            }
                                                            else {
                                                                var MyFilter;
                                                                MyFilter = {
                                                                    "chkArtist": [],
                                                                    "chkDept": [],
                                                                    "chkMedium": []
                                                                };


                                                                $('.setArtist:checkbox:checked').each(function (i, obj) {
                                                                    MyFilter.chkArtist[i] = $(this).attr("data-id");
                                                                });

                                                                $('.setDept:checkbox:checked').each(function (i, obj) {
                                                                    MyFilter.chkDept[i] = $(this).attr("data-id");
                                                                });

                                                                $('.setMedium:checkbox:checked').each(function (i, obj) {
                                                                    MyFilter.chkMedium[i] = $(this).attr("data-id");
                                                                });

                                                                // AJAX CALL


                                                                $.ajax({
                                                                    url: "/Filter/PastFilter",
                                                                    type: 'POST',
                                                                    dataType: 'json',
                                                                    data: MyFilter,
                                                                    traditional: true,
                                                                    success: function (ReturnData) {
                                                                        if (ReturnData.Success) {
                                                                            //location.reload();
                                                                            $("#divLoader").hide();
                                                                            window.location = baseUrlPath + '/Past/FilterPastAuctionResult?AuctionId=' + AuctionId
                                                                        }
                                                                    },
                                                                });
                                                            }

                                                        });

                                                        $('#btn_Clear').click(function () {

                                                            $("#divLoader").show();

                                                            //document.getElementById('ErrFilter').innerHTML = "";
                                                            $('.chk:checkbox:checked').each(function (i, obj) {
                                                                $('.chk').prop('checked', false);
                                                            });

                                                            $("#divLoader").hide();

                                                            //var Clear = {};
                                                            //Clear.productid = 0;
                                                            //$.ajax({
                                                            //    url: "/Filter/FilterClear",
                                                            //    type: 'POST',
                                                            //    dataType: 'json',
                                                            //    data: Clear,
                                                            //    traditional: true,
                                                            //    success: function (ReturnData) {
                                                            //        if (ReturnData.Success) {
                                                            //            $("#divLoader").hide();
                                                            //            window.location.reload();
                                                            //        }
                                                            //    },
                                                            //});

                                                        });

                                                    </script>

                                                    @*<script type="text/javascript">
                                                            $(document).ready(function() {
                                                                $(".listing_slider").lightSlider({
                                                                    item: 1,
                                                                    autoWidth: false,
                                                                    slideMove: 1, // slidemove will be 1 if loop is true


                                                                });
                                                            });
                                                        </script>*@

                                                    <script type="text/javascript">
                                                        $(document).ready(function () {
                                                            var slider = $(".listing_slider").lightSlider({
                                                                item: 1,
                                                                autoWidth: false,
                                                                slideMove: 1, // slidemove will be 1 if loop is true

                                                                onAfterSlide: function (el) {
                                                                    var imgPath = $(el).find("li.active img").attr('src');
                                                                    console.log(imgPath);
                                                                    $('.col_box_content a').attr('href', imgPath);
                                                                    // $("#content-slider li.active").eq()
                                                                }

                                                            });



                                                        });
                                                    </script>