﻿
@{
    ViewBag.Title = "PastAuctions";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.PastAuctionService PAS = new Astaguru.Services.UserService.PastAuctionService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }

    double TotalPaginationCount = 41;

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);


    List<Astaguru.Models.Auction> PastAuction = null;
    PastAuction = PAS.GetPastAuctionList(page);
    
}
<script src="~/Content/js/jquery.viewportchecker.min.js"></script>

<div id="wrapper">
    <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <div class="title_viewall_right">
            <div class="flex_spbtn">
                <h3 class="uppercase text-center sbold">past Auctions</h3>
                <div class="auction_analysis_text custom_select">
                    <select class="select_drop" id="ddlCurrency">
                        <option value="1">inr</option>
                        <option value="2">usd</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
                        @if (PastAuction.Count > 0)
            {
                foreach (var item in PastAuction)
                {
                    <div class="col-sm-6 col-lg-4 col-xl-3 extra-margin-top-40 scrollable-data" style="display:none;">
                        <div class="col_auctions panel-body past_acution_col">
                            <a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@item.Auctionid">
                                <div class="img_col_auctions">
                                    <!-- <div class="img_col_auctions_overlay"></div> -->
                                    <img src="https://www.astaguru.com/Content/webImages/@item.auctionWebImage" class="img_responsive" />

                                    @*<div class="img_content">
                                    <img src="~/Content/images/logo.svg" />
                                    <h2 class="title_font">@Html.Raw(@item.auctiontitle)</h2>
                                </div>*@
                                </div><!-- img_col_auctions -->
                            </a>
                            <div class="col_auctions_content">
                                <p>@item.auctiondate</p>
                                <h6>Total sale Value</h6>
                                @if (currency == 1)
                                {
                                    if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                    {
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalrs, currency, 10).ToString())</h5>
                                    }
                                    else
                                    {
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalrs, currency, 15).ToString())</h5>
                                    }

                                }
                                else if (currency == 2)
                                {
                                    if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                    {
                                        <h5> $ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalus, currency, 10).ToString())</h5>
                                    }
                                    else
                                    {
                                        <h5> $ @Astaguru.Services.Common.DollerFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalus, currency, 15).ToString())</h5>
                                    }


                                }
                                else
                                {
                                    if (item.Auctionid == 1 || item.Auctionid == 2 || item.Auctionid == 3)
                                    {
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalrs, currency, 10).ToString())</h5>
                                    }
                                    else
                                    {
                                        <h5>₹ @Astaguru.Services.Common.rupeeFormat(Astaguru.Services.Common.getCalculateMargin(@item.totalrs, currency, 15).ToString())</h5>
                                    }
                                }

                                <a href="@baseUrlPath/Past/PastAuctionResult?AuctionId=@item.Auctionid" class="view_auction_link">view auction <i class="icon-next"></i></a>
                            </div><!-- col_auctions_content -->
                        </div>
                    </div><!-- col -->
                }
            }
                        else
                        {
                            <span class="no_data">No records found</span>
                        }
        
            
     
        </div><!-- Row -->
        @if (TotalPaginationCount > 50)
        {
            <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                <ul class="pagination">
                    <li class="page-item">
                        @if (PrePage > 0)
{
    PrePage = PrePage - 50;
    <a class="page-link" href="@baseUrlPath/Past/PastAuctions?page=@PrePage" aria-label="Previous">
        <span aria-hidden="true"><i class="icon-prev"></i></span>
        <span class="sr-only">Previous</span>
    </a>
}

                    </li>

                    @{
                        int pagination = 0;
                        for (int i = 1; i <= pagenationOffSet; i++)
                        {

                            if (page == pagination)
                            {
                                <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Past/PastAuctions?page=@pagination">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="@baseUrlPath/Past/PastAuctions?page=@pagination">@i</a></li>
                            }
                            pagination = pagination + 50;
                        }
                    }

                    @{
                        NextPage = TotalPaginationCount - NextPage;
                        NextPage = NextPage - 50;
                        <li class="page-item">
                            @if (NextPage > 0)
{
    page = page + 50;
    <a class="page-link" href="@baseUrlPath/Past/PastAuctions?page=@page" aria-label="Next">
        <span aria-hidden="true"><i class="icon-next"></i></span>
        <span class="sr-only">Next</span>
    </a>
}
else
{

}
                        </li>

                    }

                </ul>
            </nav>

        }
        
    </div><!-- content -->

</div><!-- Wrapper -->

<script>
    $(document).ready(function () {
        var currencyType = $('#hiddenCurrency').val();
        if (currencyType == 1) {
            $('#ddlCurrency').val(1);
        }
        else if (currencyType == 2) {
            $('#ddlCurrency').val(2);
        }
    });

</script>

<script>
    $(function () {

        // hide everything that is out of bound
        $('.scrollable-data:hidden:lt(12)').show();
        var theWindow = $(this);
        var theContainer = $('body');
        var tweak = 450;
        var DATA_INCREMENT = 2;

        // test if at the bottom
        // console.log($doc.height() - $win.height() - $(this).scrollTop() - 600);
        var callWraper = '#footer';
        //if ($(window).width() < 700) {
        //    callWraper = 'div.subscribe_reports img';
        //}
        $(callWraper).viewportChecker({
            offset: 4,
            removeClassAfterAnimation: true,
            repeat: true,
            callbackFunction: function (elem, action) {
                $('.scrollable-data:hidden:lt(' + DATA_INCREMENT + ')').fadeIn('slow');
            }
        });
    });
</script>