﻿
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<input type="hidden" id="hiddenisMobileVerify" />

<input type="hidden" id="hiddenCountry_id" />
<input type="hidden" id="hiddenState_id" />
<input type="hidden" id="hiddenCity_id" />

<div id="wrapper" class="footer_pages_content">
    <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="form_banner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">Your AstaGuru Account</h1>
                    <p>AstaGuru User Account Registration</p>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->


    <div class="container-fluid small_content extra-padding-bottom-100 extra-padding-top-40">

        <div class="form_box extra-margin-top-20">
            <div class="title_form">
                <h5>Personal Details</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="FirstName">First Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtFirstName" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrFirstName"></span>
                    </div>
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="LastName">Last Name</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtLastName" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrLastName"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Email">Email</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtEmail" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrEmail"></span>
                    </div>
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Password">Password</label>
                            </div>
                            <input class="input form-control" placeholder="" type="password" id="txt1Password" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="Err1Password"></span>
                    </div>
                    <div class="col-sm-6 col-lg-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Password">Confirm Password</label>
                            </div>
                            <input class="input form-control" placeholder="" type="password" id="txtConfirmPassword" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrConfirmPassword"></span>
                    </div>
                </div><!-- Row -->

                <div class="row extra-margin-top-20">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Mobile Number</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="label-container">
                            <select class="select_search form-control" id="ddlCountryCode">
                                <option value="">Country Code</option>
                                @foreach (var item in US.GetCountryCode())
                                {
                                    <option value="@item.countryCode">@item.countryCode</option>
                                }
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCountryCode"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-7">
                        <input class="input form-control" placeholder="" type="text" value="" id="txtMobileNo">
                        <span style="color:red; text-align:left; display:block;" id="ErrMobileNo"></span>
                        <div class="otp_ver_resend">
                            <a href="javascript:void(0)" class="create_acc" id="btnverify">Verify</a>
                            <a href="javascript:void(0)" class="pwd_password resend_otp" id="btnverify1">Resend OTP</a>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row extra-margin-top-20">
                    <div class="col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Username">Username</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txUsername" value="">
                        </div>
                        <span class="regErr"  style="color:red; text-align:left; display:block;" id="ErrUsername"></span>
                    </div>
                </div><!-- row -->

            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box panel-body extra-margin-top-40">
            <div class="title_form">
                <h5>Profile</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2">Gender</label>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderMale" name="gender" value="1">
                                    <label class="custom-control-label" for="GenderMale">Male</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderFemale" name="gender" value="2">
                                    <label class="custom-control-label" for="GenderFemale">Female</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input isGender" id="GenderOther" name="gender" value="3">
                                    <label class="custom-control-label" for="GenderOther">Other</label>
                                </div>
                            </li>
                        </ul>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrGender"></span>
                    </div>

                </div><!-- Row -->

                <div class="row extra-margin-top-20 dob_row">
                    <div class="col-md-12"><div class="label-container"><label class="form_label2">Date of Birth</label></div></div>
                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtDay">
                            <option value="">Date</option>
                            @for (int i = 1; i <= 31;i++ )
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                        @*<input class="input form-control" placeholder="Day" type="text" value="" id="txtDay">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrDay"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtMonth">
                            <option value="">Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        @*<input class="input form-control" placeholder="Month" type="text" value="" id="txtMonth">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrMonth"></span>
                    </div><!-- col -->

                    <div class="col-xs-12 col-sm-3">
                        <select class="select_search form-control" id="txtYear">
                            <option value="">Year</option>
                            @for (int i = 1930; i <= 2019; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        @*<input class="input form-control" placeholder="Year" type="text" value="" id="txtYear">*@
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrYear"></span>
                    </div><!-- col -->
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">How Do You Here About Us</label>
                            </div>
                            <select class="select_search" id="ddlAboutUs">
                                <option value='0'>Select</option>
                                @foreach(var item in US.GetAboutUs())
                                {
                                   <option value="@item.aboutId">@item.about</option>
                                }  
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAboutUs"></span>
                    </div>

                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">interested in</label>
                            </div>
                            <select class="select_search" multiple="" id="ddlIntrestedIn">

                                @foreach(var item in US.GetinterestMaster())
                                {
                                    <option value="@item.interestedId">@item.interest</option>    
                                }
                            </select>
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrIntrestedIn"></span>
                    </div>
                </div><!-- Row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="form_box extra-margin-top-40">
            <div class="title_form">
                <h5>Primary Postal Address</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Country">Country</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCountry" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCountry"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address1">Line 1</label>
                            </div>
                            <input class="input form-control" placeholder="Flat No. / House No. / Building Name" type="text" id="txtAddress1" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress1"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="Address2">Line 2</label>
                            </div>
                            <input class="input form-control" placeholder="Street Name / Area Name" type="text" id="txtAddress2" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAddress2"></span>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-sm-6 extra-margin-top-30">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="State">State</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtState" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrState"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="PostalCode">Postal Code</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtPostalCode" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrPostalCode"></span>
                    </div>
                    <div class="col-xs-12 col-sm-6 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label" for="City">City</label>
                            </div>
                            <input class="input form-control" placeholder="" type="text" id="txtCity" value="">
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrCity"></span>
                    </div>
                </div><!-- row -->
            </div><!-- form_box_inner -->
        </div><!-- white box -->

        <div class="extra-margin-top-40">
            <button type="submit" class="btn_grey_dark btn_min_width" id="btnsubmit"><span>Submit</span></button>
            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrException"></span>
            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrSuccess"></span>
            @*<button type="submit" class="btn_grey_dark btn_min_width" data-toggle="modal" data-target="#Register_TC_Modal"><span>Submit</span></button>*@
        </div>
    </div><!-- content -->


</div><!-- Wrapper -->

<!--Register T&C Modal -->
<div class="modal fade" id="Register_TC_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered register_tc" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Terms & Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="bold">General Terms</h5>
                        <p>By participating in this auction, you acknowledge that you are bound by the Conditions for Sale listed below and on the website www.astaguru.com</p>
                        <ul class="list_points">
                            <li>Making a Winning Bid results in an enforceable contract of sale.</li>
                            <li>AstaGuru is authorized by the seller to display at AstaGuru's discretion images and description of all lots in the catalogue and on the website.</li>
                            <li>AstaGuru can grant record and reject any bids.</li>
                            <li>Bidding access shall be given on AstaGuru's discretion . AstaGuru may ask for a deposit on lots prior to giving bidding access.</li>
                            <li>AstaGuru may review bid histories of specific lots periodically to preserve the efficacy of the auction process.</li>
                            <li>AstaGuru has the right to withdraw a Property before, during or after the bidding, if it has reason to believe that the authenticity of the Property or accuracy of description is in doubt.</li>
                            <li>All proprieties shall be sold only if the reserve price in met. Reserve price is on each Property is confidential and shall not be disclosed . AstaGuru shall raise all invoices including buyers premium and related taxes.</li>
                            <li>The Buyers Premium shall be calculated at 15% of the hammer price.</li>
                            <li>All foreign currency exchange rates during the Auction are made on a constant of 1:60 (USD:INR) . All invoicing details shall be provided by the buyer prior to the auction.</li>
                            <li>All payments shall be made within 7 days from the date of the invoice.</li>
                            <li>In case payment is not made within the stated time period, it shall be treated as a breach of contract and the Seller may authorise AstaGuru to take any steps (including the institution of legal proceedings).</li>
                            <li>AstaGuru may charge a 2% late payment fine per month. . If the buyer wishes to collect the property from AstaGuru, it must be collected within 30 Days from the date of the auction. The buyer shall be charged a 2% storage fee if the property is not collected.</li>
                            <li>AstaGuru reserves the right not to award the Winning Bid to the Bidder with the highest Bid at Closing Date if it deems it necessary to do so. . In an unlikely event of any technical failure and the website is inaccessible. The lot closing time shall be extended.</li>
                            <li>Bids recorded prior to the technical problem shall stand valid according to the terms of sale.</li>
                        </ul>
                        <h5 class="bold extra-margin-top-20">Authenticity Guarantee</h5>
                        <ul class="list_points">
                            <li>AstaGuru assures on behalf of the seller that all properties on the website are genuine work of the artist listed.</li>
                            <li>How ever in an unlikely event if the property is proved to be inauthentic to AstaGuru's satisfaction within a period of 6 months from the collection date. The seller shall be liable to pay back the full amount to the buyer. These claims will be handled on a case-by-case basis, and will require that examinable proof which clearly demonstrates that the Property is inauthentic is provided by an established and acknowledged authority. Only the actual Buyer (as registered with AstaGuru) makes the claim.</li>
                            <li>The property, when returned, should be in the same condition as when it was purchased.</li>
                            <li>AstaGuru shall charge the buyer in case any steps are to be taken for special expenses shall take place in order to prove the authenticity of the property.</li>
                            <li>In case the seller fails to refund the funds. Astaguru shall be authorized by the buyer to take legal action on behalf of the buyer to recover the money at the expense of the buyer.</li>
                        </ul>

                        <h5 class="bold extra-margin-top-20">Extent of AstaGuru's Liability</h5>
                        <ul class="list_points">
                            <li>AstaGuru is has to obtain the money from the seller and refund to the buyer the amount of purchase in case the work is not authentic.</li>
                            <li>All damages and loss during transit are covered by the insurance policy, AstaGuru is not liable.</li>
                            <li>AstaGuru or any member of its team is not liable for any mistakes made in the catalogue.</li>
                            <li>AstaGuru is not liable for any claims in insurance.</li>
                            <li>AstaGuru is not liable in case the website has any technical problems.</li>
                            <li>If any part of the Conditions for Sale between the Buyer and AstaGuru is found by any court to be invalid, illegal or unenforceable, that part may be discounted and the rest of the conditions shall be enforceable to the fullest extent permissible by law.</li>
                        </ul>

                        <h5 class="bold extra-margin-top-20">Law and Jurisdiction</h5>
                        <p>The terms and conditions of this Auction are subject to the laws of India, which will apply to the construction and to the effect of the clauses. All parties are subject to the exclusive jurisdiction of the courts at Mumbai, Maharashtra, India.</p>

                    </div><!-- col -->

                </div><!-- row -->
            </div><!-- modal-body -->

            <div class="modal-footer">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="agree_TC" name="TC">
                    <label class="custom-control-label" for="agree_TC">I agree with all Terms & Conditions for the upcoming sale</label>
                    
                </div>
                <div>
                    <button type="button" class="btn_lgrey btn_grey btn_bidnow btn_min_width" id="btnAccept"><span>Accept</span></button>
                    <button type="button" class="btn_lgrey btn_proxybid btn_min_width" id="btnDecline"><span>Decline</span></button>
                    <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrTC"></span>
                </div>
            </div>
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="OTP_Verify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">OTP Verify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                </button>
            </div>
            <div class="modal-body signform">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="" class="form-control" placeholder="Enter your OTP" id="txtOTP">
                    </div><!-- col -->

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOTPVerify"><span>Submit</span></button>
                    </div><!-- col -->
                    <span class="regErr" id="ErrOTP" style="color: red; display: block; text-align: left"></span>
                    <span class="regErr" id="SuccessOTP" style="color: green; display: block; text-align: left"></span>
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->


<!-- Modal -->
<div class="modal fade" id="SuccessfulRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Thank you for choosing AstaGuru Online Auction House. Please check your inbox for further information</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->



<script>


    $(document).ready(function () {
        var userId = $("#hiddenUserId").val();
        hiddenBaseURL = $("#hiddenbaseUrlPath").val();
        
        if (userId > 0) {
            window.location = hiddenBaseURL + '/Home/Home';
        }
    });


    

    function fieldValidationBlank(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');
        if (validationMsg == 'Blank') {
            if (inputvalue.val().length <= 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                // ON Focus
                //$('html,body').animate({ scrollTop: inputvalue.offset().top }, 500, function () {
                //    inputvalue.focus();
                //});
                return false;
            }
        }
        else if (validationMsg == 'ddl') {

            if (inputvalue.val() == 0) {
                errId.html(msg);
                inputvalue.css("border-color", "red");
                $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                return false;
            }
        }


    }

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');

        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Firstname') {
                if (/^[A-Za-z.]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Lastname') {
                if (/^[A-Za-z. ]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Email') {
                if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Password') {

                if (/^.{6,50}$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Mobile') {
                if (/^[1-9][\d]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'ZipNumeric') {
                if (/^[0-9]+\d{5}$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
            else if (validationMsg == 'ZipAlphaNumeric') {
                if (/^[A-Za-z0-9]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
           
        }
    }
    var isGender;
    var strInterested = '';

    $('#btnsubmit').click(function () {
        $("#ErrGender").html('');
        $("#ErrIntrestedIn").html('');
        $("#ErrDay").html('');
        $("#ErrMonth").html('');
        $("#ErrYear").html('');
        $("#ErrEmail").html('');
        $("#ErrMobileNo").html('');
        $("#ErrUsername").html('');
        $("#Err1Password").html('');
        var Interested = $('#ddlIntrestedIn').val();
        

        

        


        var FirstName = fieldValidationBlank($('#txtFirstName'), $('#ErrFirstName'), '* Please Enter First Name', 'Blank')
        if (FirstName == false) { return false; }

        var RexFirstName = fieldValidation($('#txtFirstName'), $('#ErrFirstName'), '* Please enter valid First name', 'Firstname')
        if (RexFirstName == false) { return false; }

        var LastName = fieldValidationBlank($('#txtLastName'), $('#ErrLastName'), '* Please Enter Last Name', 'Blank')
        if (LastName == false) { return false; }

        var RexLastName = fieldValidation($('#txtLastName'), $('#ErrLastName'), '* Please enter valid Last name', 'Lastname')
        if (RexLastName == false) { return false; }

        var Email = fieldValidationBlank($('#txtEmail'), $('#ErrEmail'), '* Please Enter Email', 'Blank')
        if (Email == false) { return false; }

        var RexEmail = fieldValidation($('#txtEmail'), $('#ErrEmail'), '* Please enter valid email', 'Email')
        if (RexEmail == false) { return false; }
        
        var Password = fieldValidationBlank($('#txt1Password'), $('#Err1Password'), '* Please Enter Password', 'Blank')
        if (Password == false) { return false; }

        //var RexPassword = fieldValidation($('#txt1Password'), $('#Err1Password'), '* Please enter min 6 letters Password', 'Password')
        //if (RexPassword == false) { return false; }

        if ($('#txt1Password').val().length < 6)
        {
            $('#Err1Password').html('* Please enter min 6 letters Password');
            $('html, body').animate({ scrollTop: $("#txt1Password").offset().top - 80 }, 200);
            return false;
        }
        
        var ConfirmPassword = fieldValidationBlank($('#txtConfirmPassword'), $('#ErrConfirmPassword'), '* Please Enter Re-Password', 'Blank')
        if (ConfirmPassword == false) { return false; }


        if ($('#txt1Password').val() == $('#txtConfirmPassword').val())
        {

        }
        else {
            document.getElementById("txtConfirmPassword").style.borderColor = "Red";
            document.getElementById('ErrConfirmPassword').innerHTML = "* Password should match Retype-Password";
            $('html, body').animate({ scrollTop: $("#txt1Password").offset().top - 80 }, 200);
            return false;
        }

        var CountryCode = fieldValidationBlank($('#ddlCountryCode'), $('#ErrCountryCode'), '* Select Country Code', 'ddl')
        if (CountryCode == false) { return false; }

        var MobileNo = fieldValidationBlank($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter Mobile Number', 'Blank')
        if (MobileNo == false) { return false; }


        var RexMobileNo = fieldValidation($('#txtMobileNo'), $('#ErrMobileNo'), '* Please enter valid Mobile', 'Mobile')
        if (RexMobileNo == false) { return false; }



        var Username = fieldValidationBlank($('#txUsername'), $('#ErrUsername'), '* Please Enter Username', 'Blank')
        if (Username == false) { return false; }

        isGender = $("input[name='gender']:checked").val();
        if (isGender == undefined) {
            $("#ErrGender").html('* Select Gender');
            $('html, body').animate({ scrollTop: $("input[name='gender']").offset().top - 80 }, 200);
            return false;
        }

        var Day = fieldValidationBlank($('#txtDay'), $('#ErrDay'), '* Please Select Date', 'Blank')
        if (Day == false) { return false; }

        if ($('#txtDay').val() < 32 && $('#txtDay').val() > 0)
        { }
        else {
            $('#ErrDay').html('* Enter Valid Day');
            $('html, body').animate({ scrollTop: $("#txtDay").offset().top - 80 }, 200);
            return false;
        }

        var Month = fieldValidationBlank($('#txtMonth'), $('#ErrMonth'), '* Please Select Month', 'Blank')
        if (Month == false) { return false; }


        if ($('#txtMonth').val() < 13 && $('#txtMonth').val() > 0)
        { }
        else {
            $('#ErrMonth').html('* Enter Valid Month');
            $('html, body').animate({ scrollTop: $("#txtMonth").offset().top - 80 }, 200);
            return false;
        }

        var Year = fieldValidationBlank($('#txtYear'), $('#ErrYear'), '* Please Select Year', 'Blank')
        if (Year == false) { return false; }

        if ($('#txtYear').val().length == 4)
        {
        }
        else {
            $('#ErrYear').html('* Enter Valid Year');
            $('html, body').animate({ scrollTop: $("#txtYear").offset().top - 80 }, 200);
            return false;
        }

        var dobDay = $('#txtDay').val();
        var dobMonth = $('#txtMonth').val();
        var dobYear = $('#txtYear').val();
        dob = new Date(dobYear + '-' + dobMonth + '-' + dobDay);
        var today = new Date();
        var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));

        if (age < 18) {
            $('#ErrDay').html('Age should be 18+');
            $('html, body').animate({ scrollTop: $("#txtDay").offset().top - 80 }, 200);
            return false;
        }

        var AboutUs = fieldValidationBlank($('#ddlAboutUs'), $('#ErrAboutUs'), '* Select About Us', 'ddl')
        if (AboutUs == false) { return false; }

        if (Interested != null) {
            for (var i = 0; i < Interested.length; i++) {
                strInterested = strInterested + Interested[i] + ',';
            }

            strInterested = $.trim(strInterested);
            var lastChar = strInterested.slice(-1);
            if (lastChar == ',') {
                strInterested = strInterested.slice(0, -1);
            }
        }
        else {
            document.getElementById('ErrIntrestedIn').innerHTML = "Select Interested In";
            $('html, body').animate({ scrollTop: $("#ddlIntrestedIn").offset().top - 80 }, 200);
            return false;
        }


        var Country = fieldValidationBlank($('#txtCountry'), $('#ErrCountry'), '* Enter Countryname', 'Blank')
        if (Country == false) { return false; }

        var Address1 = fieldValidationBlank($('#txtAddress1'), $('#ErrAddress1'), '* Enter Address Line 1', 'Blank')
        if (Address1 == false) { return false; }

        var Address2 = fieldValidationBlank($('#txtAddress2'), $('#ErrAddress2'), '* Enter Address Line 2', 'Blank')
        if (Address2 == false) { return false; }


        var State = fieldValidationBlank($('#txtState'), $('#ErrState'), '* Enter Statename', 'Blank')
        if (State == false) { return false; }

        var ZipCode = fieldValidationBlank($('#txtPostalCode'), $('#ErrPostalCode'), '* Enter Postal Code', 'Blank')
        if (ZipCode == false) { return false; }


        var countryId = $("#hiddenCountry_id").val();

        if (countryId == 101) // India
        {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode'), '* Please enter valid postal code', 'ZipNumeric')
            if (RexPostalCode == false) { return false; }
        }
        else {
            var RexPostalCode = fieldValidation($('#txtPostalCode'), $('#ErrPostalCode'), '* Please enter valid postal code', 'ZipAlphaNumeric')
            if (RexPostalCode == false) { return false; }
        }

        var City = fieldValidationBlank($('#txtCity'), $('#ErrCity'), '* Enter Cityname', 'Blank')
        if (City == false) { return false; }

        
        var checkDB = {};
        checkDB.email = $('#txtEmail').val();
        checkDB.Mobile = $('#txtMobileNo').val();
        checkDB.username = $('#txUsername').val();

        $.ajax({
            url: "/User/CheckData",
            type: 'POST',
            dataType: 'json',
            data: checkDB,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    if (ReturnData.isEmail > 0) {
                        document.getElementById('ErrEmail').innerHTML = "Email id Already Exists";
                        $('html, body').animate({ scrollTop: $("#txtEmail").offset().top - 80 }, 200);
                        return false;
                    }
                    if (ReturnData.isMobile != null) {
                        document.getElementById('ErrMobileNo').innerHTML = "Mobile Number Already Exists";
                        $('html, body').animate({ scrollTop: $("#txtMobileNo").offset().top - 80 }, 200);
                        return false;
                    }
                    if (ReturnData.isUsername != null) {
                        document.getElementById('ErrUsername').innerHTML = "Username Already Exists";
                        $('html, body').animate({ scrollTop: $("#txUsername").offset().top - 80 }, 200);
                        return false;
                    }
                    else {
                        $('#Register_TC_Modal').modal('toggle');
                    }
                }
                else if (ReturnData.status == 'Exception') {
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                }
            },
        });

    });

    $('#btnAccept').click(function () {

        $("#ErrTC").html("");
     var isTcChecked =  $("input[name='TC']:checked").val() ? 1 : 0;

     if (isTcChecked == 0)
     {
         document.getElementById('ErrTC').innerHTML = "Please check the Terms and Conditions";
         return false;
     }

     var isGender = $("input[name='gender']:checked").val();

     $("#divLoaderMaster").show();
     

        var Register = {};
        Register.name = $('#txtFirstName').val();
        Register.lastname = $('#txtLastName').val();
        Register.email = $('#txtEmail').val();
        Register.password = $('#txt1Password').val();
        Register.countryCode = $('#ddlCountryCode').val();
        Register.Mobile = $('#txtMobileNo').val();
        Register.username = $('#txUsername').val();
        Register.genderid = isGender;
        Register.bday = $('#txtDay').val();
        Register.bmonth = $('#txtMonth').val();
        Register.byear = $('#txtYear').val();
        Register.aboutId = $('#ddlAboutUs').val();
        Register.interestedIds = strInterested;
        Register.country = $('#txtCountry').val();
        Register.address1 = $('#txtAddress1').val();
        Register.address2 = $('#txtAddress2').val();
        Register.state = $('#txtState').val();
        Register.zip = $('#txtPostalCode').val();
        Register.city = $('#txtCity').val();
        Register.MobileVerified = $('#hiddenisMobileVerify').val();
        Register.countryid = $('#hiddenCountry_id').val();
        Register.stateid = $('#hiddenState_id').val();
        Register.cityid = $('#hiddenCity_id').val();

        $.ajax({
            url: "/User/SaveRegistration",
            type: 'POST',
            dataType: 'json',
            data: Register,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {

                    //gtag('event', 'page_view', {
                    //    'send_to': 'AW-942532584',
                    //    'value': 'replace with value',
                    //    'items': [{
                    //        'id': 'replace with value',
                    //        'location_id': 'replace with value',
                    //        'google_business_vertical': 'custom'
                    //    }]
                    //});

                    $("#divLoaderMaster").hide();
                    $('#Register_TC_Modal').modal('toggle');
                    $('#SuccessfulRegistration').modal('toggle');
                }
                else if (ReturnData.status == 'Error') {
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoaderMaster").hide();
                    document.getElementById('ErrException').innerHTML = ReturnData.Message;
                    setTimeout(function () {
                        document.getElementById('ErrException').innerHTML = "";
                        $('#Register_TC_Modal').modal('toggle');
                    }, 3000);
                }
            },
        });
    });



    


    $('#btnOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

    $('#btnDecline').click(function () {
        $('#Register_TC_Modal').modal('toggle');
    });

    // Check Mobile Number & Send OTP To Mobile Number
    $('#btnverify').click(function () {

        var MobileNo = fieldValidationBlank($('#txtMobileNo'), $('#ErrMobileNo'), '* Enter Mobile Number', 'Blank')
        if (MobileNo == false) { return false; }


        var RexMobileNo = fieldValidation($('#txtMobileNo'), $('#ErrMobileNo'), '* Please enter valid Mobile', 'Mobile')
        if (RexMobileNo == false) { return false; }


        var isMobileVerify = $('#hiddenisMobileVerify').val();

        if (isMobileVerify == 1)
        {
            $('#ErrMobileNo').html('Mobile Already Verified');
            return false;
        }

        var Resendcode = {};
        Resendcode.Mobile =$('#ddlCountryCode').val() + $('#txtMobileNo').val();

        $.ajax({
            url: "/User/ResendOTP",
            type: 'POST',
            dataType: 'json',
            data: Resendcode,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.Resendmsg) {
                    $('#OTP_Verify').modal('toggle');
                    //document.getElementById('SuccessResendOTP').innerHTML = "OTP Sent Successfully";
                    //return false;
                }
                else if (ReturnData.ResendmsgErr) {
                    //event.stopPropagation();
                    //$("#verify_otp_box").slideToggle("fast");
                    document.getElementById('ErrMobileNo').innerHTML = "* Mobile Number Already Registered";
                }
            },
        });


    });

    $('#btnverify1').click(function () {
        $('#btnverify').click();
    });

    $('#btnOTPVerify').click(function () {
        document.getElementById('ErrOTP').innerHTML = "";
        document.getElementById('SuccessOTP').innerHTML = "";
        //document.getElementById('SuccessResendOTP').innerHTML = "";

        if ($('#txtOTP').val().length <= 0) {
            document.getElementById('ErrOTP').innerHTML = "* Please Enter OTP";
            return false;
        }
        var val = $('#txtOTP').val();
        if (/^\d{4}$/.test(val)) {
            // value is ok, use it
        } else {
            document.getElementById('ErrOTP').innerHTML = "* Please Enter Your 4 Digit OTP Number";
            return false;
        }

        var CheckOTP = {};
        //RegisterData.id = $('#id').val();
        CheckOTP.OTPNumber = $('#txtOTP').val();

        $.ajax({
            url: "/User/CheckOTP",
            type: 'POST',
            dataType: 'json',
            data: CheckOTP,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.OTPmsg) {
                    document.getElementById('SuccessOTP').innerHTML = "Mobile Number Verified Successfully";
                    $("#hiddenisMobileVerify").val(1);
                    setTimeout(function () {
                        document.getElementById('SuccessOTP').innerHTML = "";
                        $('#OTP_Verify').modal('toggle');
                    }, 1000);
                    return false;
                }
                else if (ReturnData.OTPErrmsg) {
                    document.getElementById('ErrOTP').innerHTML = "Incorrect OTP";
                    return false;
                }
            },
        });
    });



    // COUNTRY - STATE - CITY

    //Country
    $("#txtCountry").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCountry",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCountry").style.borderColor = "Red";
                        document.getElementById('ErrCountry').innerHTML = "* This Country is not available";
                    }
                    else {
                        document.getElementById("txtCountry").style.borderColor = "";
                        document.getElementById('ErrCountry').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.countryname, id: item.countryid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCountry_id").val(ui.item.id);
        },
    });

    // State
    $("#txtState").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoState",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, Country_id: $('#hiddenCountry_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtState").style.borderColor = "Red";
                        document.getElementById('ErrState').innerHTML = "* This State is not available";
                    }
                    else {
                        document.getElementById("txtState").style.borderColor = "";
                        document.getElementById('ErrState').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.statename, id: item.stateid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenState_id").val(ui.item.id);
        },
    });

    // City
    $("#txtCity").autocomplete({
        source: function (request, response) {
            debugger;
            $.ajax({
                url: "/Common/AutoCity",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term, State_id: $('#hiddenState_id').val() },
                success: function (data) {
                    if (data.Status) {
                        document.getElementById("txtCity").style.borderColor = "Red";
                        document.getElementById('ErrCity').innerHTML = "* This City is not available";
                    }
                    else {
                        document.getElementById("txtCity").style.borderColor = "";
                        document.getElementById('ErrCity').innerHTML = "";
                        response($.map(data, function (item) {
                            return { value: item.cityname, id: item.cityid };
                        }))
                    }

                }
            })
        },
        select: function (event, ui) {
            console.log(ui.item);
            //alert(ui.item.id);
            $("#hiddenCity_id").val(ui.item.id);
        },
    });
    
</script>

