﻿@{
    ViewBag.Title = "artistProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div id="wrapper">
    <div class="artist_content_wrap extra-padding-bottom-100">
        <div class="errorpage">
                        <h1>Congratulations!</h1>
                    <h3 class="px-lg-5">
                        The gift card is now activated for you to enjoy the services. <br />
                        We at AstaGuru value your patronage and thank you for your continued support.
                    </h3>
                </div>
            </div><!-- content -->

        </div><!-- Wrapper -->
