﻿
@{
    ViewBag.Title = "UpcomingPreview";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    //int AuctionId = Convert.ToInt32(Request.QueryString["AuctionId"]);
    //int AuctionId = ViewBag.Auctionid;

    int AuctionId = int.Parse(TempData["Auctionid"].ToString());
    TempData.Keep();

    Astaguru.Services.UserService.UpcomingAuctionService UAS = new Astaguru.Services.UserService.UpcomingAuctionService();
    Astaguru.Services.UserService.FilterService FS = new Astaguru.Services.UserService.FilterService();
    int currency = Convert.ToInt32(Session["GetCurrency"]);
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
    int userid = Convert.ToInt32(Session["userid"]);
    Astaguru.Models.Auction AUC = new Astaguru.Models.Auction();
    int DollarRate = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CurrentDollarRate"]);

    int page = 0;
    double PrePage = 0;
    double NextPage = 0;
    if (string.IsNullOrEmpty(Request.QueryString["page"]))
    {

    }
    else
    {
        page = Convert.ToInt32(Request["page"].ToString());
        PrePage = Convert.ToInt32(Request["page"].ToString());
        NextPage = Convert.ToInt32(Request["page"].ToString());
    }
    string Subquery = string.Empty;
    if (@HttpContext.Current.Session["SubqueryUpcoming"] != null)
    {
        Subquery = @HttpContext.Current.Session["SubqueryUpcoming"].ToString();
    }
    List<string> FilterArtist;
    FilterArtist = (List<string>)Session["FilterArtistUpcoming"];
    List<string> FilterMedium;
    FilterMedium = (List<string>)Session["FilterMediumUpcoming"];
    List<string> FilterDept;
    FilterDept = (List<string>)Session["FilterDeptUpcoming"];

    double TotalPaginationCount = UAS.GetUpcomingAuctionCount(Subquery, AuctionId);

    double pagenationOffSet = TotalPaginationCount / Convert.ToDouble(20);
    pagenationOffSet = Astaguru.Services.Common.getPaginationRoundupValue(pagenationOffSet);

    List<Astaguru.Models.Auction> UpcomingAuction = null;
    UpcomingAuction = UAS.GetUpcomingLotList(Subquery, page, AuctionId);

    // Baner Detail
    Astaguru.Services.Common COM = new Astaguru.Services.Common();
    Astaguru.Models.Auction Baner = new Astaguru.Models.Auction();
    Baner = COM.GetBannerDetails(AuctionId);


    string imageURl = string.Empty;

    if (Baner.auctionBanner != null)
    {
        imageURl = Uri.EscapeUriString(@Baner.auctionBanner);
    }

    double hiddenPrice = 0;
    int count = 0;

}
@*@{ Response.Redirect("https://www.astaguru.com/Home/CurrentAuction");}*@

<input type="hidden" id="hiddenDollarRate" value="@DollarRate" />
<input type="hidden" id="hiddenAuctionId" value="@AuctionId" />
<div id="divLoader" class="page_loader" style="display:none">
    <!-- <img src="~/Content/giphy.gif" alt="Loader" /> -->
</div>
<div id="wrapper">
    <div id="banner_inner" style="background: url(https://www.astaguru.com/images/banner/jew-oct20-webin.jpg) center center no-repeat; background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="banner_inner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">@Baner.auctiontitle</h1>
                    <p>@Baner.auctiondate</p>
                </div>
               <!-- <div class="watch_video">
                    <a href="#">
                        <i class="icon-play"></i>
                        <span>Watch our auction<br>videos</span>
                    </a>
                </div>-->
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->
    <div id="filter_wrap">
        <div class="content">

        
            <div class="filter_drop" id="filter_drop">
               
                    <div class="row filter_row">
            @if(UpcomingAuction.Count > 0)
            {
                if (UpcomingAuction[0].auctionType == 1)
                {
                    <div class="col-sm-4">
                        <h5>Artists</h5>
                        @foreach (var item in FS.GetFilterArtist(AuctionId))
                        {
                            if (FilterArtist != null)
                            {
                                bool ischecked = FilterArtist.Contains(Convert.ToString(item.id));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id" checked>
                                        <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                        <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setArtist" id="Artist_@item.id" data-id="@item.id">
                                    <label class="custom-control-label" for="Artist_@item.id">@item.name</label>
                                </div><!-- checkbox -->
                            }
                        }
                    </div><!-- col -->
                    <div class="col-sm-4">
                        <h5>Departments</h5>
                        @foreach (var item in FS.GetFilterDepartment(AuctionId))
                        {
                            if (FilterDept != null)
                            {
                                bool ischecked = FilterDept.Contains(Convert.ToString(item.categoryid));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid" checked>
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                    <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                </div><!-- checkbox -->
                            }


                        }

                    </div><!-- col -->
                    <div class="col-sm-4">
                        <h5>Medium</h5>
                        @foreach (var item in FS.GetFilterMedium(AuctionId))
                        {
                            if (FilterMedium != null)
                            {
                                bool ischecked = FilterMedium.Contains(Convert.ToString(item.mediumid));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid" checked>
                                        <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                        <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setMedium" id="Medim_@item.mediumid" data-id="@item.mediumid">
                                    <label class="custom-control-label" for="Medim_@item.mediumid">@item.medium</label>
                                </div><!-- checkbox -->
                            }


                        }


                    </div><!-- col -->

                }
                else
                {
                      <div class="col-sm-4">
                        <h5>Departments</h5>
                        @foreach (var item in FS.GetFilterDepartment(AuctionId))
                        {
                            if (FilterDept != null)
                            {
                                bool ischecked = FilterDept.Contains(Convert.ToString(item.categoryid));

                                if (ischecked)
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid" checked>
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                                else
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                        <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                    </div><!-- checkbox -->
                                }
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk setDept" id="Dept_@item.categoryid" data-id="@item.categoryid">
                                    <label class="custom-control-label" for="Dept_@item.categoryid">@item.category</label>
                                </div><!-- checkbox -->
                            }


                        }

                    </div><!-- col -->   
                }
            }
                
                    
                </div><!-- filter_row -->
                    <div class="filter_button">
                    <button class="btn_black" id="btnApply"><span>Apply</span></button>
                    <a href="JavaScript:Void(0);" class="link_cancel" id="btn_Clear">Cancel</a>
                </div><!-- filter_button -->
            
                
                
            </div><!-- filter drop -->
            <div class="flex_spbtn">
                <div class="filter_artist">
                    <a href="javascript:avoid(0)" id="click_filter"><i class="icon-filter"></i></a>
                </div><!-- filter_artist -->
                <div class="ellipsis_nav">
                    <a href="#nav_dropdown" class="click_ellipsis"><i class="icon-ellipsis"></i></a>
                    <ul class="live_action_menu">
                        <li><a target="_blank" href="@baseUrlPath/Home/closingSchedule">Closing Schedule</a></li>
                        <li><a href="javascript:avoid(0)" id="tabAuctionGallary">My Auction Gallery</a></li>
                        <li><a target="_blank" href="http://astaguru.com/flip/@AuctionId/">E-Catalogue</a></li>
                    </ul>
                </div>
                <div class="filter_right">
                    <div class="auction_analysis_text custom_select">
                        <select class="select_drop" id="ddlCurrency">
                            <option value="1">inr</option>
                            <option value="2">usd</option>
                        </select>
                    </div><!-- custom_select -->
                    <ul class="icon_list_grid">
                        @if (@HttpContext.Current.Session["SubqueryUpcoming"] != null)
                        {
                            @*<li><a href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                        <li><a href="@baseUrlPath/Upcoming/UpcomingFilterPreviewList?AuctionId=@AuctionId&page=@page"><i class="icon-list-view"></i></a></li>*@

                            <li><a href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                            <li><a href="@baseUrlPath/Upcoming/UpcomingFilterPreviewList?AuctionId=@AuctionId&page=@page"><i class="icon-list-view"></i></a></li>
                        }
                        else
                        {
                            if (UpcomingAuction.Count > 0)
                            {
                                <li><a href="@baseUrlPath/Upcoming/UpcomingPreview/@UpcomingAuction[0].Slug?page=@page" class="active"><i class="icon-grid-view"></i></a></li>
                                <li><a href="@baseUrlPath/Upcoming/UpcomingPreviewList/@UpcomingAuction[0].Slug?page=@page"><i class="icon-list-view"></i></a></li>
                            }
     
                     
                        }
                        
                    </ul>

                </div><!-- filter_right -->
            </div><!-- flex_spbtn -->
        </div><!-- content -->
    </div><!-- filter_wrap -->
    <div class="container-fluid content extra-padding-bottom-100">
        <div class="row equal_height_row">

            @if (UpcomingAuction.Count > 0)
            {
                foreach (var item in UpcomingAuction)
                {
                    AUC = UAS.GetProxyValue(item.productid, userid);

                    if (AUC == null)
                    {
                        AUC = new Astaguru.Models.Auction();
                        AUC.ProxyAmt = 0;
                        AUC.ProxyAmtus = 0;
                    }
                    <div class="col-sm-6 col-lg-4 col-xl-3 extra-margin-top-40">
                        <div class="box_col panel-body hover_zoom equal_height_col">

                            <ul class="listing_slider">

                                <li class="flip-container">

                                    <div class="flipper">
                                        <div class=" front img_box_col">
                                            <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                        </div>
                                        <div class="after_flipe img_box_col">
                                            <div>
                                                @if (item.auctionType == 1)
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.productdate</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else if (item.auctionType == 2)
                                                {

                                                    <h6>Description</h6>

                                                    <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                    <h6></h6>
                                                    <p>@item.productsize</p>

                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }
                                                else
                                                {
                                                    <h6>Medium</h6>
                                                    <p>@item.medium</p>
                                                    <h6>Size</h6>
                                                    <p>@item.productsize in.</p>
                                                    <h6>Year</h6>
                                                    <p>@item.productdate</p>
                                                    <h6>Estimate</h6>
                                                    if (currency == 1)
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                    else if (currency == 2)
                                                    {
                                                        <p>@item.estamiate</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@item.collectors</p>
                                                    }
                                                }


                                            </div>
                                        </div>

                                    </div>

                                </li>


                                @if (item.view1 != null || item.view2 != null || item.view3 != null || item.view4 != null)
                                {
                                    if (item.view1 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class="front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view1" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view2 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view2" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view3 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view3" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                    if (item.view4 != null)
                                    {
                                        <li class="flip-container">

                                            <div class="flipper">
                                                <div class=" front img_box_col">
                                                    <img src="https://www.astaguru.com/@item.view2" class="img_responsive" />
                                                </div>
                                                <div class="after_flipe img_box_col">
                                                    <div>
                                                        @if (item.auctionType == 1)
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else if (item.auctionType == 2)
                                                        {

                                                            <h6>Description</h6>

                                                            <p class="hover_description">@Html.Raw(item.Prdescription) </p>

                                                            <h6></h6>
                                                            <p>@item.productsize</p>

                                                            <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6>Medium</h6>
                                                            <p>@item.medium</p>
                                                            <h6>Size</h6>
                                                            <p>@item.productsize in.</p>
                                                            <h6>Year</h6>
                                                            <p>@item.productdate</p>
                                                                <h6>Estimate</h6>
                                                            if (currency == 1)
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                            else if (currency == 2)
                                                            {
                                                                <p>@item.estamiate</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@item.collectors</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    }
                                }

                            </ul>



                            @*<div class="flip-container">
                                <div class="flipper">
                                    <div class="front img_box_col">
                                        <img src="https://www.astaguru.com/@item.thumbnail" class="img_responsive" />
                                    </div>
                                    <div class="after_flipe img_box_col">
                                        <div>
                                            @if (item.auctionType == 1)
                                            {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize in.</p>
                                                <h6>Year</h6>
                                                <p>@item.productdate</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                            else if (item.auctionType == 2)
                                            {
                                                <h6>Description</h6>
    <p class="hover_description">@Html.Raw(item.Prdescription)</p>

                                                <h6></h6>
                                                <p>@item.productsize</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                            else
                                            {
                                                <h6>Medium</h6>
                                                <p>@item.medium</p>
                                                <h6>Size</h6>
                                                <p>@item.productsize</p>
                                                <h6>Year</h6>
                                                <p>@item.productdate</p>
                                                <h6>Estimate</h6>
                                                if (currency == 1)
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                                else if (currency == 2)
                                                {
                                                    <p>@item.estamiate</p>
                                                }
                                                else
                                                {
                                                    <p>@item.collectors</p>
                                                }
                                            }
                                        </div>
                                    </div><!-- after_flipe -->
                                </div><!-- flipper -->
                            </div>*@<!-- flip-container -->
                            <div class="col_box_content">
                                <a class="imagezoom_@item.productid" data-gallery="manual" data-index="@count" href="https://www.astaguru.com/@item.image" data-group="b"><span class="icon_expand"><i class="icon-fullscreen"></i></span></a>   
                                @{
                    count++;
                                }
                                @if (item.auctionType == 1)
                                {
                                    <a href="@baseUrlPath/Artist/artistProfile?artistid=@item.artistid" target="_blank">
                                        <h3 class="uppercase nowrap_text sbold"> @item.firstname  @item.lastname</h3>
                                    </a>

                                    <p><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></p>

                                    if (item.isInternational == 1)
                                    {
                                        <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/international.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="International" /> </span>

                                    }
                                    else if (item.nonExportable == 1)
                                    {
                                        <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/non-export.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="Non Exportable" /> </span>

                                    }

                                }
                                else if (item.auctionType == 2)
                                {
                                    <h3><a href="@baseUrlPath/Upcoming/UpcomingDetails?productid=@item.productid&page=@page"><span class="lotno">Lot @item.reference</span> @item.title</a></h3>

                                    if (item.isInternational == 1)
                                    {
                                        <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/international.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="International" /> </span>

                                    }
                                    else if (item.nonExportable == 1)
                                    {
                                        <span style="position: absolute;right: 7px;top: -3px;"><img src="~/Content/non-export.png" data-toggle="tooltip" data-placement="top" title="" data-original-title="Non Exportable" /> </span>

                                    }
                                }


                               
                                <div class="live_auction_timer d-flex align-items-center">
                                    <div class="price_with_tax price_live_auc">
                                        <h6 class="uppercase">Opening Bid</h6>
                                        @if (currency == 1)
                                        {
                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                            hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency);
                                            <input type="hidden" id="hiddenPrice_@item.productid" value="@Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString()" />

                                        }
                                        else if (currency == 2)
                                        {
                                            <h5>$ @Astaguru.Services.Common.DollerFormat(@item.priceus.ToString())</h5>
                                            hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmount(@item.priceus, currency);
                                            <input type="hidden" id="hiddenPrice_@item.productid" value="@Astaguru.Services.Common.getNextValidBidAmount(@item.priceus, currency).ToString()" />
                                        }
                                        else
                                        {
                                            <h5>₹ @Astaguru.Services.Common.rupeeFormat(@item.pricers.ToString())</h5>
                                            hiddenPrice = @Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency);
                                            <input type="hidden" id="hiddenPrice_@item.productid" value="@Astaguru.Services.Common.getNextValidBidAmount(@item.pricers, currency).ToString()" />
                                        }

                                    </div>

                                    <div class="btn_proxy_bid_row align-self-center"><a href="javascript:void(0)" class="outline_link" id="chkValidationProxy_@item.productid">Proxy Bid</a></div>
                                  
                                   
                                </div>
                                <span id="Success_@item.productid" style="color:green;display: inline-block;" class="clsClearGallary regSuc"></span>
                                <span id="Err_@item.productid" style="color:red;display: inline-block;" class="clsClearGallary regErr"></span>
                            </div><!-- col_auctions_content -->
                            <a href="javascript:avoid(0)" class="add_tocart addToCart" data-productid="@item.productid"><i class="icon-plus-circle"></i></a>
                        </div><!-- box_col -->
                    </div><!-- col -->

             <!-- Modal -->
                    <div class="modal fade small_modal" id="ProxyBid_Modal_@item.productid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="icon-cross"></i></span>
                                </button>
                                <div class="modal-body signform">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label class="form_label">Enter Proxy Bid Amount</label>
                                            <div class="input-group pricing_field_wrap">
                                                @if (currency == 1)
                                                {

                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text color_gold currency_symb">&#8377;</div>
                                                    </div>
                                                    if (@AUC.ProxyAmt > 0)
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="@AUC.ProxyAmt" data-id="@item.productid" readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="" data-id="@item.productid">
                                                    }

                                                }
                                                else if (currency == 2)
                                                {
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text color_gold currency_symb">$</div>
                                                    </div>
                                                    if (@AUC.ProxyAmt > 0)
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="@AUC.ProxyAmtus" data-id="@item.productid" readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="" data-id="@item.productid">
                                                    }


                                                }
                                                else
                                                {
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text color_gold currency_symb">&#8377;</div>
                                                    </div>
                                                    if (@AUC.ProxyAmt > 0)
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="@AUC.ProxyAmt" data-id="@item.productid" readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" placeholder="" id="txtProxy_@item.productid" value="" data-id="@item.productid">
                                                    }
                                                }

                                            </div>
                                            <span id="errProxy_@item.productid" style="color:red"></span>
                                        </div><!-- col -->

                                        <div class="col-md-12 extra-margin-top-30">
                                            @if (currency == 1)
                                            {

                                                if (@AUC.ProxyAmt > 0)
                                                {
                                                    <span> <a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf">Download PDF for change in Proxy Bid </a></span>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn_grey_dark full_width" data-id="@item.productid" id="btnProxy_@item.productid"><span>Submit</span></button>
                                                }
                                            }
                                            else if (currency == 2)
                                            {
                                                if (@AUC.ProxyAmtus > 0)
                                                {
                                                    <span><a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf"> Download PDF for change in Proxy Bid </a></span>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn_grey_dark full_width" data-id="@item.productid" id="btnProxy_@item.productid"><span>Submit</span></button>
                                                }
                                            }
                                            else
                                            {
                                                if (@AUC.ProxyAmt > 0)
                                                {
                                                    <span> <a target="_blank" href="http://astaguru.com/pdf/WrittenBid_Form.pdf">Download PDF for change in Proxy Bid</a></span>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn_grey_dark full_width" data-id="@item.productid" id="btnProxy_@item.productid"><span>Submit</span></button>
                                                }
                                            }


                                        </div><!-- col -->
                                    </div><!-- row -->
                                </div><!-- modal-body -->
                            </div>
                        </div>
                    </div><!-- modal -->

     <!-- Modal -->
                    <div class="modal fade" id="ModelProxyConfirm_@item.productid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title bold">Once submitted can not be changed online. Confirm?</h5>
                                </div>

                                <div class="modal-body signform">
                                    <div class="row">
                                        <div class="col-md-12 extra-margin-top-30">
                                            <button type="button" class="btn_grey_dark" id="btnProxyConfirm_@item.productid" data-id="@item.productid"><span>Confirm</span></button>
                                            <button type="button" class="btn_grey_dark" id="btnProxyConfirmCancel_@item.productid" data-id="@item.productid"><span>Cancel</span></button>
                                        </div><!-- col -->
                                    </div><!-- row -->
                                </div><!-- modal-body -->
                            </div>
                        </div>
                    </div><!-- modal -->



                    <script type="text/javascript">

    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Number') {
                if (/^[0-9]*$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    return false;
                }
            }


        }
    }

    $('#chkValidationProxy_@item.productid').click(function () {


        var userId = $('#hiddenUserId').val();
        var isMobile = $('#hiddenMobileVerified').val();
        var isEmail = $('#hiddenEmailVerified').val();
        var isconfirmbid = $('#hiddenconfirmbid').val();

        $("#divLoader").show();

        if (userId > 0) {
            if (isMobile > 0 && isEmail > 0) {
                // Apply For Bid
                if (isconfirmbid > 0) {
                    //You Can Bid Now
                    $("#divLoader").hide();
                    $('#ProxyBid_Modal_@item.productid').modal('toggle');
                }
                else {
                    $("#divLoader").hide();
                    $('#ModelBidAccess').modal('toggle');
                }
            }
            else {
                $("#divLoader").hide();
                alert('Mobile Number Or Email id is not verified');
            }

        }
        else {
            $("#divLoader").hide();
            $('#LoginForm').modal('toggle');
        }
    });

    $('#btnProxy_@item.productid').click(function () {
        $('#txtProxy').css("border-color", "");
        $('#txtProxy1').css("border-color", "");
        $('#errProxy_@item.productid').html('');

        if ($('#txtProxy_@item.productid').val().length <= 0) {
            $('#errProxy_@item.productid').html('Enter The Proxy Amount');
            $('#txtProxy_@item.productid').css("border-color", "red");
            $('#txtProxy1').css("border-color", "red");
            return false;
        }


        var proxyAmt = fieldValidation($('#txtProxy_@item.productid'), $('#errProxy_@item.productid'), 'Enter Numeric value Only', 'Number')
        if (proxyAmt == false) { return false; }






        debugger;
        var nextBidPrice = $('#hiddenPrice_@item.productid').val();
        var proxyAmt = $('#txtProxy_@item.productid').val();
        var currencyType = $('#hiddenCurrency').val();

        nextBidPrice = parseFloat(nextBidPrice);
        proxyAmt = parseFloat(proxyAmt);
        currencyType = parseInt(currencyType);


        var baseUrlPath = $('#hiddenbaseUrlPath').val();
        var productid = $(this).attr("data-id");
        var dollarRate = $('#hiddenDollarRate').val();
        if (proxyAmt >= nextBidPrice) {
        }
        else {
            if (currencyType == 1) {
                if (nextBidPrice < 10000000) {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 10% more than next valid Bid = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 5% more than next valid Bid = Rs.' + nextBidPrice);
                }
            }
            else if (currencyType == 2) {
                if (nextBidPrice < 143750) {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 10% more than next valid Bid = $' + nextBidPrice);
                }
                else {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 5% more than next valid Bid = $' + nextBidPrice);
                }
            }
            else {
                if (nextBidPrice < 10000000) {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 10% more than next valid Bid = Rs.' + nextBidPrice);
                }
                else {
                    $('#errProxy_@item.productid').html('Proxy Bid amount should be equal to or greater than 5% more than next valid Bid = Rs.' + nextBidPrice);
                }
            }
            return false;
        }


        if (currencyType == 2) {
            proxyAmt = proxyAmt * dollarRate;
        }

        $('#ProxyBid_Modal_@item.productid').modal('toggle');
        $('#ModelProxyConfirm_@item.productid').modal('toggle');
    });


    $('#btnProxyConfirm_@item.productid').click(function () {


        $("#divLoader").show();

        $('#btnProxyConfirm_@item.productid').attr("disabled", true);
        var currencyType = $('#hiddenCurrency').val();
        var proxyAmt = $('#txtProxy_@item.productid').val();

        proxyAmt = parseFloat(proxyAmt);
        currencyType = parseInt(currencyType);


        var dollarRate = $('#hiddenDollarRate').val();
        if (currencyType == 2) {
            proxyAmt = proxyAmt * dollarRate;
        }


        var upcomingProxy = {};
        upcomingProxy.productid = $(this).attr("data-id");
        upcomingProxy.userid = $('#hiddenUserId').val();
        upcomingProxy.ProxyAmt = proxyAmt; //$('#txtProxy_@item.productid').val();
        upcomingProxy.amountlimt = $('#hiddenBidLimit').val();
        upcomingProxy.isOldUser = $('#hiddenIsOldUser').val();
        upcomingProxy.country = $('#hiddenBidCountry').val();

        $.ajax({
            url: "/Upcoming/saveUpcomingProxyBid",
            type: 'POST',
            dataType: 'json',
            data: upcomingProxy,
            //traditional: true,
            success: function (ReturnData) {
                if (ReturnData.status == 'Success') {
                    $("#divLoader").hide();
                    location.reload(true)
                }
                else if (ReturnData.status == 'Exception') {
                    $("#divLoader").hide();
                    $('#btnProxyConfirm_@item.productid').attr("disabled", false);
                    alert('Exception');
                }
                else if (ReturnData.status == 'SessionExpired') {
                    $("#divLoader").hide();
                    $('#btnProxyConfirm_@item.productid').attr("disabled", false);
                    $('#SessionExpired').modal('toggle');
                   
                }
                else if (ReturnData.status == 'AmountLimitExceeded') {
                    $("#divLoader").hide();
                    $('#btnProxyConfirm_@item.productid').attr("disabled", false);
                    $('#ModelProxyConfirm_@item.productid').modal('toggle');
                    $('#ModelAmountLimitExceeded').modal('toggle');
                }
                else if (ReturnData.status == 'Ownerpainting') {
                    $("#divLoader").hide();
                    $('#btnProxyConfirm_@item.productid').attr("disabled", false);
                    $('#ModelOwnerPainting').modal('toggle');
                }
            },
            error: function (err) {
                $("#divLoader").hide();
                $('#btnProxyConfirm_@item.productid').attr("disabled", false);
                alert(err);
            }
        });
    });


    $('#btnProxyConfirmCancel_@item.productid').click(function () {
        $("#btnProxyConfirm").attr("disabled", false);
        $('#ModelProxyConfirm_@item.productid').modal('toggle');
    });

                    </script>


                }
            }
            else if (Subquery.Length > 0)
            {
                <span class="no_data">No record found, please try some other filtration options</span>
            }
            else
            {
                <span class="no_data">No lots added to the Auction</span>
            }


        </div><!-- Row -->

    @*check filter data*@
@if (@HttpContext.Current.Session["SubqueryUpcoming"] != null)
{
if (TotalPaginationCount > 20)
{
    <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
        <ul class="pagination">
            <li class="page-item">
                @if (PrePage > 0)
                {
                    PrePage = PrePage - 20;
                        <a class="page-link" href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@PrePage" aria-label="Previous">

                            <span aria-hidden="true"><i class="icon-prev"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                }

                </li>

                @{
                    int pagination = 0;
                    for (int i = 1; i <= pagenationOffSet; i++)
                    {

                        if (page == pagination)
                        {
                            <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@pagination">@i</a></li>

                        }
                        else
                        {

                            <li class="page-item"><a class="page-link" href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@pagination">@i</a></li>

                        }
                        pagination = pagination + 20;
                    }
                }

                @{
                    NextPage = TotalPaginationCount - NextPage;
                    NextPage = NextPage - 20;
                    <li class="page-item">
                        @if (NextPage > 0)
                        {
                            page = page + 20;
                            <a class="page-link" href="@baseUrlPath/Upcoming/FilterUpcomingPreview?AuctionId=@AuctionId&page=@page" aria-label="Next">
                                <span aria-hidden="true"><i class="icon-next"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                        else
                        {

                        }
                    </li>

                }

            </ul>

    </nav>

                        }
                    }
                    @*without filter data*@
                    else
                    {
                        if (TotalPaginationCount > 20)
                        {
                            <nav aria-label="Page navigation example" class="paging_wrap extra-margin-top-100">
                                <ul class="pagination">
                                    <li class="page-item">
                                        @if (PrePage > 0)
                                        {
                                            PrePage = PrePage - 20;
                                            @*<a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@AuctionId&page=@PrePage" aria-label="Previous">*@
                                            <a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview/@UpcomingAuction[0].Slug?page=@PrePage" aria-label="Previous">

                                                <span aria-hidden="true"><i class="icon-prev"></i></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }

                                    </li>

                                    @{
                                        int pagination = 0;
                                        for (int i = 1; i <= pagenationOffSet; i++)
                                        {

                                            if (page == pagination)
                                            {
                                                @*<li class="page-item  active"><a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@AuctionId&page=@pagination">@i</a></li>*@
                                                <li class="page-item  active"><a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview/@UpcomingAuction[0].Slug?page=@pagination">@i</a></li>

                                            }
                                            else
                                            {
                                                @*<li class="page-item"><a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@AuctionId&page=@pagination">@i</a></li>*@

                                                <li class="page-item"><a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview/@UpcomingAuction[0].Slug?page=@pagination">@i</a></li>

                                            }
                                            pagination = pagination + 20;
                                        }
                                    }

                                    @{
                                        NextPage = TotalPaginationCount - NextPage;
                                        NextPage = NextPage - 20;
                                        <li class="page-item">
                                            @if (NextPage > 0)
                                            {
                                                page = page + 20;
                                                @*<a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview?AuctionId=@AuctionId&page=@page" aria-label="Next">*@
                                                <a class="page-link" href="@baseUrlPath/Upcoming/UpcomingPreview/@UpcomingAuction[0].Slug?page=@page" aria-label="Next">
                                                    <span aria-hidden="true"><i class="icon-next"></i></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            }
                                            else
                                            {

                                            }
                                        </li>

                                    }

                                </ul>

                            </nav>

                                            }
                                        }
    </div><!-- content -->

</div><!-- Wrapper -->


<!-- Modal -->
<div class="modal fade" id="ModelAmountLimitExceeded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">You have exceeded your bid limit.Please contact our office for support</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnAmountLimitOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->

<!-- Modal -->
<div class="modal fade" id="ModelProxyConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Once submitted can not be changed online. Confirm?</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">
                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark" id="btnProxyConfirm"><span>Confirm</span></button>
                        <button type="button" class="btn_grey_dark" id="btnProxyConfirmCancel"><span>Cancel</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModelOwnerPainting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bold">Sorry, you're not permitted to bid on this lot. Please contact our office for support.</h5>
                </div>

                <div class="modal-body signform">
                    <div class="row">

                        <div class="col-md-12 extra-margin-top-30">
                            <button type="button" class="btn_grey_dark full_width" id="btnOwnerPaintingOkay"><span>OK</span></button>
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- modal-body -->
            </div>
        </div>
    </div><!-- modal -->



    <script>


        $('#btnAmountLimitOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            window.location = basePathUrl + '/Home/Home';
        });

        $('#btnOwnerPaintingOkay').click(function () {
            var basePathUrl = $('#hiddenbaseUrlPath').val();
            //window.location = basePathUrl + '/Home/Home';
            window.location = basePathUrl + '/Home/Home';
        });

        $(document).ready(function () {
            var currencyType = $('#hiddenCurrency').val();
            if (currencyType == 1) {
                $('#ddlCurrency').val(1);
            }
            else if (currencyType == 2) {
                $('#ddlCurrency').val(2);
            }

        });


        $('#btnApply').click(function () {
            var baseUrlPath = $("#hiddenbaseUrlPath").val();
            var AuctionId = $("#hiddenAuctionId").val();
            var j = 0;
            $("#divLoader").show();
            //document.getElementById('ErrFilter').innerHTML = "";

            $('.chk:checkbox:checked').each(function (i, obj) {
                j++;
            });

            if (j == 0) {

                var Clear = {};
                Clear.productid = 0;
                $.ajax({
                    url: "/Filter/UpcomingFilterClear",
                    type: 'POST',
                    dataType: 'json',
                    data: Clear,
                    traditional: true,
                    success: function (ReturnData) {
                        if (ReturnData.Success) {
                            $("#divLoader").hide();
                            window.location.reload();
                        }
                    },
                });
            }
            else {
                var MyFilter;
                MyFilter = {
                    "chkArtist": [],
                    "chkDept": [],
                    "chkMedium": []
                };


                $('.setArtist:checkbox:checked').each(function (i, obj) {
                    MyFilter.chkArtist[i] = $(this).attr("data-id");
                });

                $('.setDept:checkbox:checked').each(function (i, obj) {
                    MyFilter.chkDept[i] = $(this).attr("data-id");
                });

                $('.setMedium:checkbox:checked').each(function (i, obj) {
                    MyFilter.chkMedium[i] = $(this).attr("data-id");
                });

                // AJAX CALL


                $.ajax({
                    url: "/Filter/UpcomingFilter",
                    type: 'POST',
                    dataType: 'json',
                    data: MyFilter,
                    traditional: true,
                    success: function (ReturnData) {
                        if (ReturnData.Success) {
                            //location.reload();
                            $("#divLoader").hide();
                            window.location = baseUrlPath + '/Upcoming/FilterUpcomingPreview?AuctionId=' + AuctionId
                        }
                    },
                });
            }

        });

        $('#btn_Clear').click(function () {

            $("#divLoader").show();

            //document.getElementById('ErrFilter').innerHTML = "";
            $('.chk:checkbox:checked').each(function (i, obj) {
                $('.chk').prop('checked', false);
            });

            $("#divLoader").hide();

            //var Clear = {};
            //Clear.productid = 0;
            //$.ajax({
            //    url: "/Filter/FilterClear",
            //    type: 'POST',
            //    dataType: 'json',
            //    data: Clear,
            //    traditional: true,
            //    success: function (ReturnData) {
            //        if (ReturnData.Success) {
            //            $("#divLoader").hide();
            //            window.location.reload();
            //        }
            //    },
            //});

        });

    </script>



    @*<script type="text/javascript">
    $(document).ready(function() {
        $(".listing_slider").lightSlider({
            item: 1,
            autoWidth: false,
            slideMove: 1, // slidemove will be 1 if loop is true


        });
    });
    </script>*@


 <script type="text/javascript">
    $(document).ready(function() {
        var slider = $(".listing_slider").lightSlider({
            item: 1,
            autoWidth: false,
            slideMove: 1, // slidemove will be 1 if loop is true

            onAfterSlide: function (el) {
                var imgPath = $(el).find("li.active img").attr('src');
                console.log(imgPath);
                $('.col_box_content a.imagezoom').attr('href',imgPath);
                // $("#content-slider li.active").eq()
            }

        });



    });
</script>