﻿
@{
    ViewBag.Title = "valuation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<div id="wrapper" class="footer_pages_content">
    @*<div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
        <h3 class="sbold uppercase extra-padding-bottom-20">Our Valuation</h3>

        <div class="row custom_row">
            <div class="12 extra-margin-top-20 custom_col">
                <p>Numerous criteria such as the historical significance of the work, the rarity of the work, and its physical condition, have to be assessed before a true value can be assigned to the piece. Upon a thorough analysis of these numerous criteria, AstaGuru will provide the client with an estimated value of the work.</p>
            </div><!-- col -->
            <div class="col-md-6 extra-margin-top-20 custom_col">
                <h5 class="sbold black">The valuation process involves the following :</h5>
                <ul class="list_points extra-padding-bottom-30">
                    <li>Detailed study of pricing history for the artist since 1987</li>
                    <li>Current value estimation</li>
                    <li>Price comparison with other works of the artist from similar periods</li>
                    <li>Liquidity rating & analysis (if required)</li>
                    <li>Price comparison with works by other contemporary artists</li>
                    <li>Rarity & availability analysis (if required)</li>
                    <li>Research on historical significance of the work</li>
                    <li>Investment rationale (if required)</li>
                    <li>Previous auction price references</li>
                </ul>
            </div><!-- col -->
            <div class="col-md-6 extra-margin-top-20 custom_col">
                <h5 class="sbold black">What we need for a valuation?</h5>
                <ul class="list_points extra-padding-bottom-30">
                    <li>A digital image</li>
                    <li>Provenance</li>
                    <li>Complete description (artist's name, date, medium, measurements)</li>
                    <li>Exhibition and publication history</li>
                </ul>
            </div><!-- col -->
        </div><!-- row -->

        <div class="medium_content_text extra-margin-top-20">
            <p>We charge per hour or per artwork. Our fees are not related to the value of the collection. We are happy to provide estimates without obligation before beginning a valuation.</p>
            <p>Client confidentiality is of paramount importance to us. We work with insurers, banks, and law firms who greatly value client privacy and rely on us to preserve it.</p>
            <p>For further details, please contact:</p>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3 extra-margin-top-20">
                <div class="team_col">
                    <div class="img_team">
                        <img src="~/Content/images/siddhanth.jpg" class="img_responsive">
                    </div>
                    <h5 class="sbold">Siddanth Shetty</h5>
                    <h6>V.P. Business Strategy and Operations</h6>
                    <a href="#" class="team_email">siddanth@theartstrust.com</a>
                    <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                </div>
            </div><!-- col -->
        </div><!-- row -->

    </div>*@<!-- content -->

    @Html.Raw(ViewBag.Valuation)

</div><!-- Wrapper -->
