﻿@model Astaguru.Models.VintageAndClassicCar
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Astaguru.Services.UserService.UserService US = new Astaguru.Services.UserService.UserService();
}

@section metatags{
    @Html.Raw(ViewBag.MetaTags)

}

<link rel="stylesheet" href="~/Content/css/style_user.css">

<input type="hidden" id="hiddenisMobileVerify" />

<input type="hidden" id="hiddenCountry_id" />
<input type="hidden" id="hiddenState_id" />
<input type="hidden" id="hiddenCity_id" />
@using (Html.BeginForm("VintageAndClassicCar", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div id="wrapper" class="footer_pages_content">
    <div id="banner_inner" style="background:url(/Content/images/banner-inner.jpg) center center no-repeat;background-size: cover;">
        <div class="banner_inner_overlay"></div>
        <div class="content">
            <div class="form_banner_text">
                <div class="auctions_title">
                    <h1 class="title_font medium_text">Vintage And Classic Car</h1>
                </div>
            </div><!-- Banner inner text -->
        </div><!-- content -->
    </div><!-- banner inner -->


    <div class="container-fluid small_content extra-padding-bottom-100 extra-padding-top-40">

        <div class="form_box extra-margin-top-20">

@if (TempData["Message"] != null)
{
    if (TempData["Message"].ToString() == "Success")
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["Message1"]");
            };
        </script>
    }
}

            <div class="title_form">
                <h5>Fill Details</h5>
            </div><!-- title_form -->
            <div class="form_box_inner">
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Email">Email <span class="required" style="color:red">*</span></label>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "input form-control", @id = "txtEmail", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrEmail"></span>
                    </div>
                </div><!-- Row -->
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Automaker">Automaker <span class="required" style="color:red">*</span></label>
                            </div>
                            @Html.TextBoxFor(m => m.Automaker, new { @class = "input form-control", @id = "txtAutomaker", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Automaker, "", new { @class = "text-danger" })
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAutomakere"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Model No">Model No. <span class="required" style="color:red">*</span></label>
                            </div>
                            @Html.TextBoxFor(m => m.Model, new { @class = "input form-control", @id = "txtModel", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" })
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrModel"></span>
                    </div>
                </div><!-- Row -->
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Engine No">Engine No.</label>
                            </div>
                            @Html.TextBoxFor(m => m.Engine, new { @class = "input form-control", @id = "txtEngine", @autocomplete = "off" })
                        </div>
                    </div>
                </div><!-- Row -->
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label2" for="Chassis No">Chassis No.</label>
                            </div>
                            @Html.TextBoxFor(m => m.Chassis, new { @class = "input form-control", @id = "txtChassis", @autocomplete = "off" })
                        </div>
                    </div>
                </div><!-- Row -->

              
                <div class="row">
                   
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Validation Registration No">Validation Registration No <span class="required" style="color:red">*</span></label>
                                </div>
                                @Html.TextBoxFor(m => m.Registration, new { @class = "input form-control", @id = "txtRegistration", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Registration, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrRegistration"></span>
                        </div>
                   
                </div><!-- Row -->
                <div class="row">
                    <div class="col-sm-12 extra-margin-top-20">
                        <div class="control basicField">
                            <div class="label-container">
                                <label class="form_label">How Do You Here About Us</label>
                            </div>

                            @Html.DropDownListFor(m => m.Aboutus, new List<SelectListItem>
                                         {   new SelectListItem {Text="Google",Value="Google" },
                                             new SelectListItem {Text="Facebook", Value="Facebook" }}, "Select", new { @class = "form-control", title = "ddlAboutus" })
                        </div>
                        <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrAboutUs"></span>
                    </div>
                </div><!-- Row -->

                <div class="row">
                    <div class="col-sm-12 extra-margin-top-30">
                        <div class="control basicField">
                            <label class="form_label2" for="Image">
                                Upload Images Here <span class="required" style="color:red">*</span>
                            </label>
   
                            @Html.TextBoxFor(m => m.Image, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail",  @autocomplete = "off", @type = "file" })
                            @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Image2, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail2", @autocomplete = "off", @type = "file" })

                            @Html.TextBoxFor(m => m.Image3, new { @class = "form-control col-md-7 col-xs-12", @id = "fileUploadthumbnail3", @autocomplete = "off", @type = "file" })

                    </div>
                </div>
                </div>


                <div class="row">
                    
                        <div class="col-sm-12 extra-margin-top-20">
                            <div class="control basicField">
                                <div class="label-container">
                                    <label class="form_label2" for="Request A Call Back From Us">Request A Call Back From Us (Mobile No.)</label>
                                </div>
                                @Html.TextBoxFor(m => m.Request, new { @class = "input form-control", @id = "txtRequest", @autocomplete = "off" })
                                @Html.ValidationMessageFor(m => m.Request, "", new { @class = "text-danger" })
                            </div>
                            <span class="regErr" style="color:red; text-align:left; display:block;" id="ErrRegistration"></span>
                        </div>
                    
                </div><!-- Row -->



                </div><!-- form_box_inner -->
        </div><!-- white box -->


        <div class="extra-margin-top-40">
            <button type="submit" class="btn_grey_dark btn_min_width" id="btnsubmit"><span>Submit</span></button>
            @*<button type="submit" class="btn_grey_dark btn_min_width" data-toggle="modal" data-target="#Register_TC_Modal"><span>Submit</span></button>*@
        </div>
    </div><!-- content -->


</div><!-- Wrapper -->
}

<div class="modal fade" id="SuccessfulRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Thank you for choosing AstaGuru Online Auction House. Please check your inbox for further information</h5>
            </div>

            <div class="modal-body signform">
                <div class="row">

                    <div class="col-md-12 extra-margin-top-30">
                        <button type="button" class="btn_grey_dark full_width" id="btnOkay"><span>OK</span></button>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- modal-body -->
        </div>
    </div>
</div><!-- modal -->



<script>


    $(document).ready(function () {
        var userId = $("#hiddenUserId").val();
        hiddenBaseURL = $("#hiddenbaseUrlPath").val();

        if (userId > 0) {
            window.location = hiddenBaseURL + '/Home/Home';
        }
    });




    function fieldValidation(inputvalue, errId, msg, validationMsg) {
        errId.html('');
        errId.css("border-color", '');
        inputvalue.css("border-color", '');

        if (typeof inputvalue.val() === "undefined") {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else if (inputvalue.val().length <= 0) {
            errId.html('');
            inputvalue.css("border-color", '');
            return true;
        }
        else {
            if (validationMsg == 'Firstname') {
                if (/^[A-Za-z.]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Lastname') {
                if (/^[A-Za-z. ]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Email') {
                if (/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Password') {

                if (/^.{6,50}$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'Mobile') {
                if (/^[1-9][\d]+$/.test(inputvalue.val())) {
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }
            }
            else if (validationMsg == 'ZipNumeric') {
                if (/^[0-9]+\d{5}$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }
            else if (validationMsg == 'ZipAlphaNumeric') {
                if (/^[A-Za-z0-9]+$/.test(inputvalue.val())) {
                    // value is ok, use it
                    errId.html('');
                    inputvalue.css("border-color", '');
                    return true;
                } else {
                    errId.html(msg);
                    inputvalue.css("border-color", "red");
                    $('html, body').animate({ scrollTop: inputvalue.offset().top - 80 }, 200);
                    return false;
                }

            }

        }
    }
    var isGender;
    var strInterested = '';

    //$('#btnsubmit').click(function () {
    //    //$("#ErrGender").html('');
    //    //$("#ErrIntrestedIn").html('');
    //    //$("#ErrDay").html('');
    //    //$("#ErrMonth").html('');
    //    //$("#ErrYear").html('');
    //    //$("#ErrEmail").html('');
    //    //$("#ErrMobileNo").html('');
    //    //$("#ErrUsername").html('');
    //    //$("#Err1Password").html('');
    //    //var Interested = $('#ddlIntrestedIn').val();



    //    //var Email = fieldValidationBlank($('#txtEmail'), $('#ErrEmail'), '* Please Enter Email', 'Blank')
    //    //if (Email == false) { return false; }

    //    //var RexEmail = fieldValidation($('#txtEmail'), $('#ErrEmail'), '* Please enter valid email', 'Email')
    //    //if (RexEmail == false) { return false; }



    //    //var Automaker = fieldValidationBlank($('#txtAutomaker'), $('#ErrAutomakere'), '* Enter Automaker', 'Blank')
    //    //if (Automaker == false) { return false; }


    //    //var Model = fieldValidationBlank($('#txtModel'), $('#ErrModel'), '* Please Enter Model', 'Blank')
    //    //if (Model == false) { return false; }


    //    //var Registration = fieldValidationBlank($('#txRegistration'), $('#ErrRegistration'), '* Please Enter Registration', 'Blank')
    //    //if (Registration == false) { return false; }
      


    //    //var AboutUs = fieldValidationBlank($('#ddlAboutUs'), $('#ErrAboutUs'), '* Select About Us', 'ddl')
    //    //if (AboutUs == false) { return false; }

    //    //if (Interested != null) {
    //    //    for (var i = 0; i < Interested.length; i++) {
    //    //        strInterested = strInterested + Interested[i] + ',';
    //    //    }

    //    //    strInterested = $.trim(strInterested);
    //    //    var lastChar = strInterested.slice(-1);
    //    //    if (lastChar == ',') {
    //    //        strInterested = strInterested.slice(0, -1);
    //    //    }
    //    //}
    //    //else {
    //    //    document.getElementById('ErrIntrestedIn').innerHTML = "Select Interested In";
    //    //    $('html, body').animate({ scrollTop: $("#ddlIntrestedIn").offset().top - 80 }, 200);
    //    //    return false;
    //    //}



    //    //if ($('#file').val().length <= 0) {
    //    //    document.getElementById("file").style.borderColor = "Red";
    //    //    document.getElementById('ErrFile').innerHTML = "* Please Select Image";
    //    //    $('html, body').animate({ scrollTop: $('#file').offset().top - 80 }, 200);
    //    //    return false;
    //    //}




    //    var Register = {};

    //    Register.Email = $('#txtEmail').val();
    //    Register.Automaker = $('#txtAutomaker').val();
    //    Register.Model = $('#txtModel').val();
    //    Register.Engine = $('#txtEngine').val();
    //    Register.Chassis = $('#txtChassis').val();
    //    Register.Registration = $('#txtRegistration').val();
    //    Register.Aboutus = $('#ddlAboutUs').val();
    //    Register.Request = $('#txtRequest').val();

    //    var fileUpload = $("#file").get(0);
    //    var files = fileUpload.files;

    //    Register.Image = files;

    //    debugger;
    //    $.ajax({
    //        url: "/Home/SaveVintageAndClassicCar",
    //        type: 'POST',
    //        dataType: 'json',
    //        data: Register,
    //        //traditional: true,
    //        success: function (ReturnData) {
    //            if (ReturnData.status == 'Success') {
     
    //                $("#divLoaderMaster").hide();
    //                $('#SuccessfulRegistration').modal('toggle');
    //            }
    //            else if (ReturnData.status == 'Error') {
    //            }
    //            else if (ReturnData.status == 'Exception') {
    //                $("#divLoaderMaster").hide();
    //                document.getElementById('ErrException').innerHTML = ReturnData.Message;
    //                setTimeout(function () {
    //                    document.getElementById('ErrException').innerHTML = "";
    //                }, 3000);
    //            }
    //        },
    //    });


    //});



    $('#btnOkay').click(function () {
        var basePathUrl = $('#hiddenbaseUrlPath').val();
        window.location = basePathUrl + '/Home/Home';
    });

</script>

