﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Content/js/aos.js"></script>

    <link href="~/Content/css/jssocials.css" rel="stylesheet" />
    <script src="~/Content/js/jssocials.min.js"></script>
</head>
<body>
    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
            <div id="blogs" class="blogDetailPage mb-5">
                @Html.Raw(ViewBag.blogdetailpage)
                @*<div class="container pt-4">
                        <div class="row align-items-center justify-content-center mb-4">
                            <div class="col-12  col-lg-10 mb-4">
                                <h1 class="bigHeading">
                                    Breakfast Can Help You Burn The Muscle and Breakfast
                                    Can Help You.
                                </h1>
                            </div>

                            <div class="col-12 col-lg-10">
                                <div class="author">By <span>Jimmi Singh</span></div>
                                <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                            </div>

                        </div>
                    </div>

                    <div class="border-bottom-0 border mb-5"></div>

                    <div class="container">
                        <div class="row justify-content-center mb-5">
                            <div class="col-12 col-lg-10 text-center">
                                <div class="mb-4 blogBanner">
                                    <img src="images/blog/blog_banner.jpg">
                                </div>

                                <h2 class="font-italic mb-4">This 4 day split PHUL workout will not only help you build size and strength, but it will teach you how to train properly, build in progressions, complete more difficult exercises and become a general badass around the gym.</h2>

                                <p>I always enjoy the weekend, especially Fridays. Next time you go to the gym on a Friday take a look around. The people you see are the real lifters doing their power days, working out rather than going out. It really is an awesome environment to be in if you have some substantial strength goals.</p>

                                <p>
                                    If you take the time to watch some of the most advanced and experienced lifters in the gym you will notice one thing – they are not doing anything fancy. The fundamentals of strength training are relatively simplistic. Consistent stress on the muscle provid
                                    es consistent results.
                                </p>

                                <p>
                                    You will never see a guy who has trained for strength for five years jump onto a Bosu ball to do some strange balance shoulder press movement – it doesn’t happen because it does not work.The PHUL workout is not complicated in any sense –  simplicity, consistency and overload yields results. If you’re caught up in the daily routine of scouring youtube and the web for new and challenging workouts but not finding any results it’s time to make a change to a PHUL workout split.
                                    I always enjoy the weekend, especially Fridays. Next time you go to the gym on a Friday take a look around. The people you see are the real lifters doing their power days, working out rather than going out. It really is an awesome environment to be in if you have some substantial strength goals.
                                </p>

                                <p>If you take the time to watch some of the most advanced and experienced lifters in the gym you will notice one thing – they are not doing anything fancy. The fundamentals of strength training are relatively simplistic. Consistent stress on the muscle provides consistent results.</p>

                                <p>You will never see a guy who has trained for strength for five years jump onto a Bosu ball to do some strange balance shoulder press movement – it doesn’t happen because it does not work.The PHUL workout is not complicated in any sense –  simplicity, consistency and overload yields results. If you’re caught up in the daily routine of scouring youtube and the web for new and challenging workouts but not finding any results it’s time to make a change to a PHUL workout split.</p>
                            </div>
                        </div>

                        <div class="border-bottom-0 border mb-5"></div>

                        <div class="row mb-5 justify-content-center">
                            <div class="col-12 col-lg-10 social_share">
                                <a href="#" class="share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="twit"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#" class="whatsApp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            </div>
                        </div>


                        <div class="row justify-content-center pt-5">

                            <div class="col-12 mb-4">
                                <h1>Recent Blogs</h1>
                            </div>

                            <div class="col-sm-6 col-lg-4 mb-5">
                                <a href="#" class="rounded borderLight box fadeAnim">
                                    <div class="imageData">
                                        <img src="images/blog/img-1.jpg" class="img-fluid fadeAnim">
                                    </div>

                                    <div class="matter p-4">
                                        <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                                    </div>
                                    <div class="authorName">
                                        Jimmy Singh
                                    </div>

                                </a>
                            </div>

                            <div class="col-sm-6 col-lg-4 mb-5">
                                <a href="#" class="rounded borderLight box fadeAnim">
                                    <div class="imageData">
                                        <img src="images/blog/img-2.jpg" class="img-fluid fadeAnim">
                                    </div>

                                    <div class="matter p-4">
                                        <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                                    </div>
                                    <div class="authorName">
                                        Jimmy Singh
                                    </div>

                                </a>
                            </div>

                            <div class="col-sm-6 col-lg-4 mb-5">
                                <a href="#" class="rounded borderLight box fadeAnim">
                                    <div class="imageData">
                                        <img src="images/blog/img-3.jpg" class="img-fluid fadeAnim">
                                    </div>

                                    <div class="matter p-4">
                                        <h2>Lorem Ipsum is simply dummy text of the printing </h2>
                                        <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21 January 2020</div>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...</p>
                                    </div>
                                    <div class="authorName">
                                        Jimmy Singh
                                    </div>

                                </a>
                            </div>



                        </div>


                    </div>*@
            </div>

        </div>
    @*</div>*@

    <script>
        $(".fb").jsSocials({
            shares: ["facebook"]
        });

        $(".twit").jsSocials({
            shares: ["twitter"]
        });

        $(".pinterest").jsSocials({
            shares: ["pinterest"]
        });

        $(".whatsApp").jsSocials({
            shares: ["whatsapp"]
        });
    
    </script>


</body>
</html>
