﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <div id="wrapper" class="footer_pages_content departments_page">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">
            <div class="medium_content">
                <h3 class="sbold uppercase extra-padding-bottom-20 text-center">List of collectibles</h3>
                <div class="hr_line"></div>
            </div>
            <div class="row justify-content-center extra-padding-top-20">
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptEstate" class="depart_link">
                        Estate Sales
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptFine" class="depart_link">
                        Fine Writing Instruments
                    </a>
                </div><!-- col -->

                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptFurniture" class="depart_link">
                        Furniture & Decorative Art
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptIndian" class="depart_link">
                        Indian Antiques
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptModernArt" class="depart_link">
                        Indian Modern Art
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/Home/deptJewellery" class="depart_link">
                        Jewellery & Silver
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptMemorabilia" class="depart_link">
                        Memorabilia
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptNumismatic" class="depart_link">
                        Numismatic & Philatelic
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptBooks" class="depart_link">
                        Rare Books & Manuscripts
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptScience" class="depart_link">
                        Science & Natural History
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptSoutheast" class="depart_link">
                        Southeast Asia Contemporary Art
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptTexilesView1" class="depart_link">
                        Textiles (Carpets & Shawls)
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/Timepieces" class="depart_link">
                        Timepieces
                    </a>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-3 extra-padding-top-20">
                    <a href="@baseUrlPath/MobileApp/deptClassic" class="depart_link">
                        Vintage & Classic Cars
                    </a>
                </div><!-- col -->
            </div><!-- Row -->
            <h6 class="text-center extra-padding-top-30">The GST is applicable on all sales within India.</h6>
        </div><!-- content -->

    </div><!-- Wrapper -->

</body>
</html>
