﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body>
    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
            <div class="title_flex">
                <h3 class="sbold uppercase">Jewellery & Silver</h3>

                @*<a href="@baseUrlPath/MobileApp/Departments" class="link_back"><i class="icon-prev"></i> Back</a>*@
            </div>

            <div class="row custom_row">
                <div class="col-md-6 extra-margin-top-40 custom_col">
                    <p>The legacy of aristocratic and regal jewellery is embedded deep into our psyche since time immemorial. Be it Vintage Art Deco or Antique Indian or Contemporary art pieces, jewellery has been cherished as a symbol of nobility and abundance. AstaGuru exercises stern quality assessments while curating heritage pieces of exceptional provenance and eminence. Our collections have featured eclectic estate jewellery of Royal lineage most of which are celebrated as national treasures in India today. The avant-garde heirlooms range between traditional Indian styles like Jadau, Meenakari, Kundan work, etc. and come encrusted with priceless South Sea & Basra Pearls, Colombian Emeralds, Burmese Rubies, Kashmiri Sapphires, certified Diamonds and much more.</p>
                    <p>Along with Jewellery, AstaGuru has a splendid array of Hallmark Silver pieces on offer. Adhering to AstaGuru’s excellence standards, these Silver pieces belong to different eras and places from across the globe and exude a certain old world charm. The silver pieces showcased at the auctions include brilliant silver chalices, jugs, plates, bowls, tea sets, surahis, hukahs, center pieces, jewellery boxes, to name a few, a majority of which belong to the 18th and early 19th century. </p>

                    <p class="color_light">
                        The GST on all sales under this segment will be charged asfollows: <br>
                        A: Antique (over 100 years) lots: 12% in accordance with ‘Goods & Service Tax’ regulations.<br>
                        B: Used lots: 3% on total Astaguru margin( buyer + seller) in accordance with 32(5) of CGST Rule 2017.  <br>
                        C: New lots: 3% in accordance with ‘Goods & Service Tax’ regulations.<br>
                    </p>
                    <p>For further details, please contact:</p>
                </div><!-- col -->
                <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                    <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/NUt_zT5TRdA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                </div><!-- col -->
            </div><!-- row -->

            <div class="row">
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Sagar.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Jay Sagar</h5>
                        <h6>Specialist</h6>
                        <a href="mailto:jay@astaguru.com" class="team_email">jay@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Sneha.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Sneha Gautam</h5>
                        <h6>Vice President</h6>
                        <a href="mailto:sneha@astaguru.com" class="team_email">sneha@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Tami.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Tahmina Lakhani</h5>
                        <h6>Specialist</h6>
                        <a href="mailto:tahmina@astaguru.com" class="team_email">tahmina@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Trisha.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Trisha Mohan</h5>
                        <h6>Specialist</h6>
                        <a href="mailto:trisha@astaguru.com" class="team_email">trisha@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
