﻿
@{
    Layout = null;
    string baseUrlPath = Astaguru.Services.Common.baseUrlPath;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Prata|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" id="theme" href="~/Content/css/selectric.css">
    <link href="~/Content/css/sumoselect.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" />
    <link href="~/Content/css/lightslider.css" rel="stylesheet" />
    <link href="~/Content/css/photoviewer.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.selectric.js"></script>
    <script src="~/Content/js/jquery.sumoselect.js" type="text/javascript"></script>
    <script src="~/Content/js/easyResponsiveTabs.js"></script>

    <script src="~/Content/js/cloudzoom.js"></script>
    <script src="~/Content/js/thumbelina.js"></script>
    <script src="~/Content/js/jquery.fancybox.js"></script>
    <script src="~/Content/js/lightslider.js"></script>
    <script src="~/Content/js/photoviewer.js"></script>
    <script src="~/Content/js/readmore.js"></script>

    <script src="~/Content/js/commonJs.js"></script>
    <script src="~/Content/js/modernizr.js"></script>

    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    @*<div id="wrapper" class="footer_pages_content">*@
        <div class="container-fluid content extra-padding-top-40 extra-padding-bottom-100">
            <div class="title_flex">
                <h3 class="sbold uppercase">Furniture & Decorative Art</h3>

                @*<a href="@baseUrlPath/Home/Departments" class="link_back"><i class="icon-prev"></i> Back</a>*@
            </div>

            <div class="row custom_row">
                <div class="col-md-6 extra-margin-top-40 custom_col">
                    <p>The aesthetics of a particular period in history are outlined by the furniture and other décor pieces that were the in-vogue during the time. These have become collector’s items over the centuries for aficionados who relate to the styles and trends of the certain period and aim to cherish the rich practices of the olden years.</p>
                    <p>This segment covers a wide selection of specialist items ranging from exquisite furniture such as tables, chairs, cabinets, cupboards and so on to decorative collectibles such as rare bowls, vases, fishbowls, etc. which indicate the quintessential heraldry of the old world. At AstaGuru, we’ve held auctions within this versatile category for pieces like the French Louis XV-style Kingwood and Tulipwood Veneered Table, Oriental Cupboards and hand carved Chinese Camphor chests, along with porcelain Fish Bowls, Japanese Satsuma Moriage Vases and vintage Ink Pots, to name a few. </p>

                    <p class="color_light">The GST on all sales under this segment is charged at 18% in accordance with‘Goods & Service Tax’ regulations.</p>
                    <p>For further details, please contact:</p>
                </div><!-- col -->
                <div class="col-md-6 extra-margin-top-40 custom_col text-right">
                    <div class="video_department"><iframe width="100%" class="" src="https://www.youtube.com/embed/-zF-3jGLCys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
                </div><!-- col -->
            </div><!-- row -->

            <div class="row">
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Tami.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Tahmina Lakhani</h5>
                        <h6>Specialist</h6>
                        <a href="mailto:tahmina@astaguru.com" class="team_email">tahmina@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Shoheb.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Shoheb Ali</h5>
                        <h6>V.P. Business Development</h6>
                        <a href="mailto:shoheb@astaguru.com" class="team_email">shoheb@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
                <div class="col-sm-4 col-md-3 extra-margin-top-20">
                    <div class="team_col">
                        <div class="img_team">
                            <img src="~/Content/images/Sneha.jpg" class="img_responsive">
                        </div>
                        <h5 class="sbold">Sneha Gautam</h5>
                        <h6>Vice President</h6>
                        <a href="mailto:sneha@astaguru.com" class="team_email">sneha@astaguru.com</a>
                        <h6 class="medium_weight"><a href="tel:+91 22 2204 8138" class="">+91 22 2204 8138 / 39 ,</a> <a href="tel:+91 22 2204 8140" class="">+91 22 2204 8140</a></h6>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- content -->

    @*</div>*@<!-- Wrapper -->

</body>
</html>
