﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/favicon.jpg" type="image/jpg" />

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/Content/css/style.css" />

    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/jquery-2.1.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>


    <script src="~/Content/js/jquery.time-to.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/astaguru_inner_pages.css" rel="stylesheet" />
    <link href="~/Content/css/faq.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
</head>
<body>
    @*<div id="wrapper" class="footer_pages_content">
        <div class="container-fluid content extra-padding-bottom-100 extra-padding-top-40">*@
            <div class="container pt-4" id="faq">
                <div class="row justify-content-between align-items-center mb-4">
                    <div class="col-lg-12">
                        <h1 class="mb-0">FAQ's</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 tabList">
                        <ul>
                            @*<li class="active"><a href="#buyer">Buyer</a></li>
                                <li><a href="#seller">Seller</a></li>
                                <li><a href="#auction">Auction</a></li>
                                <li><a href="#bidding">Bidding</a></li>*@
                            @Html.Raw(ViewBag.Menu)
                        </ul>
                    </div>

                    <div class="col-md-8 questionList">
                        @Html.Raw(ViewBag.Faqdetail)
                        @*<div id="buyer">
                                <h2 class="text-uppercase">Buyer</h2>

                                <ul>
                                    <li class="active">
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <div id="seller">
                                <h2 class="text-uppercase">Seller</h2>

                                <ul>
                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <div id="auction">
                                <h2 class="text-uppercase">Auction</h2>

                                <ul>
                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <div id="bidding">
                                <h2 class="text-uppercase">Bidding</h2>

                                <ul>
                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                    <li>
                                        <a class="head">How to Buy A painting?</a>

                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </p>

                                        </div>

                                    </li>

                                </ul>

                            </div>*@
                    </div>

                </div>
            </div>
        @*</div>
    </div>*@

    <script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });
    </script>

    <script>
    var winWidth = $(window).width();
    if (winWidth > 767) {
        var tabWidth = $('.tabList').width();
        // console.log(tabWidth);

        $(window).resize(function () {
            tabWidth = $('.tabList').width();
            $('.tabList ul').width(tabWidth);
        })

        $('.tabList ul').width(tabWidth);
    } else {
        var topOffset = $('.tabList ul').offset().top;
        $(window).scroll(function () {
            var myScroll = $(window).scrollTop();

            console.log(topOffset);
            console.log(myScroll);

            if (myScroll > topOffset) {
                $('.tabList ul').addClass('fixedMenu');
            } else {
                $('.tabList ul').removeClass('fixedMenu');
                //$('.tabList ul').css('top':'98px');
            }
        })
    }

    /**************************/

    $('.tabList li').click(function () {
        $(this).siblings('li').removeClass('active');
        $(this).addClass('active');
        var id = $(this).children('a').attr('href');
        $('html, body').animate({ scrollTop: $(id).offset().top - 150 }, 'slow');
    })

    /***********************************************/

    $('.questionList ul li.active div').show();

    $('.questionList ul li').click(function () {
        $('.questionList ul li > div').slideUp();
        $(this).children('div').slideToggle();
        $('.questionList ul li').removeClass('active');
        $(this).addClass('active');

        $(this).children('a').click(function (event) {
            event.preventDefault();
        })
    })

    </script>


</body>
</html>
